{% extends 'main.html' %}

{% load static %}

{% block breadcrumbs %}
    <li class="breadcrumb-item active">Barcode</li>
{% endblock breadcrumbs %}

{% block content %}
    <label class="green mt-5">Enter your EAN 13 code :</label>
    <input id="input_barcode" type="text" autofocus>
    <div id="warning" class="red"></div>
    <img id="image" class="mt-5" src="">
{% endblock content %}

{% block javascript %}
    <script src={% static 'barcode/js/barcode.js' %}></script>
{% endblock javascript %}
