{% extends 'main.html' %}

{% load static %}

{% block breadcrumbs %}
    <li class="breadcrumb-item active">Barcode</li>
{% endblock breadcrumbs %}

{% block content %}
    <h3 class="lucida-hw green my-2">Générateur de codes-barres</h3>
    <div class="d-flex flex-column border rounded mt-3 px-5 pb-4">
        <label class="fw-bold my-3">Entrez votre code EAN 13 :</label>
        <input id="input_barcode" type="text" autofocus>
        <div id="warning" class="red"></div>
    </div>
    <img id="image" class="mt-5" src="">
{% endblock content %}

{% block javascript %}
    <script src={% static 'barcode/js/barcode.js' %}></script>
{% endblock javascript %}
