{% extends 'imprimerie/main_imprimerie.html' %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href={% url 'imprimerie:home' %}>Imprimerie</a></li>
    <li class="breadcrumb-item"><a href={% url 'imprimerie:clients_list' %}>Clients</a></li>
    <li class="breadcrumb-item active">{{ client }}</li>
{% endblock breadcrumbs %}

{% block content %}
    <h4 class="mb-3">{{ client }}</h4>

    <div class="d-flex flex-column align-items-center w-100">
        <div class="d-flex flex-column align-items-center w-50">
            <table class="table table-borderless table-sm w-50">
                <tr>
                    <td class="col-4 fw-bold">Nom :</td>
                    <td class="col-8">{{ client.name }}</td>
                </tr>
                <tr>
                    <td class="col-4 fw-bold">Adresse de livraison :</td>
                    <td class="col-8">{{ client.address_home|default_if_none:""|linebreaks }}</td>
                </tr>
                <tr>
                    <td class="col-4 fw-bold">Adresse de facturation :</td>
                    <td class="col-8">{{ client.address_invoice|default_if_none:""|linebreaks }}</td>
                </tr>
                <tr>
                    <td class="col-4 fw-bold">Notes :</td>
                    <td class="col-8">{{ client.notes|linebreaks }}</td>
                </tr>
            </table>
        </div>
    
        <div class="d-flex">
            <a href={% url 'imprimerie:clients_list' %} class="btn btn-warning m-1"><span class="fas fa-arrow-left"></span> Retour à la liste</a>
            <a href={% url 'imprimerie:client_update' client.pk %} class="btn btn-primary m-1">Modifier</a>
            <a href={% url 'imprimerie:client_delete' client.pk %} class="btn btn-danger m-1">Supprimer</a>
        </div>
    </div>
{% endblock content %}
