{% extends 'imprimerie/main_imprimerie.html' %}

{% load widget_tweaks %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href={% url 'imprimerie:home' %}>Imprimerie</a></li>
    <li class="breadcrumb-item"><a href={% url 'imprimerie:clients_list' %}>Clients</a></li>
    {% if client %}
        <li class="breadcrumb-item"><a href={% url 'imprimerie:client_details' client.pk %}>{{ client }}</a></li>
        <li class="breadcrumb-item active">Modifier</li>
    {% else %}
        <li class="breadcrumb-item active">Créer</li>
    {% endif %}
{% endblock breadcrumbs %}

{% block content %}
    <form method="post" novalidate class="d-flex flex-column align-items-center">
        {% csrf_token %}

        <div class="d-flex flex-column w-100 my-3">
            <!-- Nom -->
            <div class='form-group d-flex flex-column align-items-start'>
                {{ form.name.label_tag }}
                {% if form.is_bound %}
                    {% if form.name.errors %}
                        {% render_field form.name class='is-invalid' %}
                        {% for error in form.name.errors %}
                            <div class='invalid-feedback d-block'>
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% else %}
                        {% render_field form.name class='is-valid' %}
                    {% endif %}
                {% else %}
                    {% render_field form.name %}
                {% endif %}
                {% if form.name.help_text %}
                    <small class='form-text text-muted'>
                        {{ form.name.help_text }}
                    </small>
                {% endif %}
            </div>

            <!-- Adresse de livraison -->
            <div class='form-group d-flex flex-column align-items-start'>
                {{ form.address_home.label_tag }}
                {% if form.is_bound %}
                    {% if form.address_home.errors %}
                        {% render_field form.address_home class='is-invalid' %}
                        {% for error in form.address_home.errors %}
                            <div class='invalid-feedback d-block'>
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% else %}
                        {% render_field form.address_home class='is-valid' %}
                    {% endif %}
                {% else %}
                    {% render_field form.address_home %}
                {% endif %}
                {% if form.address_home.help_text %}
                    <small class='form-text text-muted'>
                        {{ form.address_home.help_text }}
                    </small>
                {% endif %}
            </div>

            <!-- Adresse de facturation -->
            <div class='form-group d-flex flex-column align-items-start'>
                {{ form.address_invoice.label_tag }}
                {% if form.is_bound %}
                    {% if form.address_invoice.errors %}
                        {% render_field form.address_invoice class='is-invalid' %}
                        {% for error in form.address_invoice.errors %}
                            <div class='invalid-feedback d-block'>
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% else %}
                        {% render_field form.address_invoice class='is-valid' %}
                    {% endif %}
                {% else %}
                    {% render_field form.address_invoice %}
                {% endif %}
                {% if form.address_invoice.help_text %}
                    <small class='form-text text-muted'>
                        {{ form.address_invoice.help_text }}
                    </small>
                {% endif %}
            </div>

            <!-- Notes -->
            <div class='form-group d-flex flex-column align-items-start'>
                {{ form.notes.label_tag }}
                {% if form.is_bound %}
                    {% if form.notes.errors %}
                        {% render_field form.notes class='is-invalid' %}
                        {% for error in form.notes.errors %}
                            <div class='invalid-feedback d-block'>
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% else %}
                        {% render_field form.notes class='is-valid' %}
                    {% endif %}
                {% else %}
                    {% render_field form.notes %}
                {% endif %}
                {% if form.notes.help_text %}
                    <small class='form-text text-muted'>
                        {{ form.notes.help_text }}
                    </small>
                {% endif %}
            </div>

            {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                    <div class='invalid-feedback d-block'>
                        {{ error }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <div class="w-100 d-flex justify-content-center align-items-between">
            {% if client %}
                <a class="btn btn-secondary mx-1" href={% url 'imprimerie:client_details' client.pk %}>Annuler</a>
            {% else %}
                <a class="btn btn-secondary mx-1" href={% url 'imprimerie:clients_list' %}>Annuler</a>
            {% endif %}
            <button type="submit" class="btn btn-primary mx-1">Valider</button>
        </div>
    </form>
{% endblock content %}
