{% extends 'hotellerie/main_hotellerie.html' %}

{% load static %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href={% static 'main/datatables/datatables.min.css'%}>
{% endblock css %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href={% url 'hotellerie:main_home' %}>Hôtellerie</a></li>
    <li class="breadcrumb-item active">Séjours</li>
{% endblock breadcrumbs %}

{% block content %}
    <h1 class="mb-3">Séjours</h1>

    <table id="table-sejours" class="cell-border order-column hover w-100">
        <thead>
            <tr class="text-center">
                <th>Créé</th>
                <th>Modifié</th>
                <th>Personne</th>
                <th>Du</th>
                <th>Au</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            {% for sejour in sejours %}
                <tr>
                    <td>
                        <table class="d-flex justify-content-center">
                            <tr>
                                <td class="orange fw-bold text-end pe-1">
                                    Le
                                    <span class="d-none">
                                        {{ sejour.created_at|date:"Ymd" }}{{ sejour.created_at|time:"His" }}
                                    </span><!-- Span not displayed, only to be able to sort dates. -->
                                </td>
                                <td class="text-start ps-1">{{ sejour.created_at|date:"d/m/Y" }}</td>
                            </tr>
                            <tr>
                                <td class="orange fw-bold text-end pe-1">à</span>
                                <td class="text-start ps-1">{{ sejour.created_at|time:"H:i:s" }}</td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <table class="d-flex justify-content-center">
                            <tr>
                                <td class="orange fw-bold text-end pe-1">
                                    Le
                                    <span class="d-none">
                                        {{ sejour.last_modified|date:"Ymd" }}{{ sejour.last_modified|time:"His" }}
                                    </span><!-- Span not displayed, only to be able to sort dates. -->
                                </td>
                                <td class="text-start ps-1">{{ sejour.last_modified|date:"d/m/Y" }}</td>
                            </tr>
                            <tr>
                                <td class="orange fw-bold text-end pe-1">à</span>
                                <td class="text-start ps-1">{{ sejour.last_modified|time:"H:i:s" }}</td>
                            </tr>
                        </table>
                    </td>
                    <td>{{ sejour.personne }}</td>
                    <td>
                        <span class="d-none">
                            {{ sejour.sejour_du|date:"Ymd" }}
                        </span><!-- Span not displayed, only to be able to sort dates. -->
                        {{ sejour.sejour_du }}
                    </td>
                    <td>
                        <span class="d-none">
                            {{ sejour.sejour_au|date:"Ymd" }}
                        </span><!-- Span not displayed, only to be able to sort dates. -->
                        {{ sejour.sejour_au }}
                    </td>
                    <td class="fw-bold"><a href={% url 'hotellerie:sejours_details' sejour.pk %}>Détails</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href={% url 'hotellerie:sejours_create' %} class="btn btn-primary mb-5">Ajouter un séjour</a>
{% endblock content %}

{% block javascript %}
    {{ block.super }}
    <script src={% static 'main/datatables/datatables.min.js'%}></script>
    <script src={% static 'hotellerie/js/datatable-hotellerie.js' %}></script>
{% endblock javascript %}
