@import url("/statics/main/css/colors.less");

body {
    background-color: whitesmoke;

    select {
        height: 35px;
    }

    nav {

        a,
        a:hover {
            color: whitesmoke;
        }

        #logo {
            #title {
                color: @orange;
                font-family: LucidaHW;
                font-size: 2.2em;
            }

            #logo {
                font-size: 1.5em;
            }
        }
    }

    #content {

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: @green-light;
        }

        h1 {
            font-family: 'LucidaHW',
        }

        .datepicker,
        .timepicker {
            width: 120px;
        }

        #id_monks,
        #id_additional_recipients {
            column-width: 15vw;
            font-size: 0.95em;
        }

        .recipients {
            column-width: 30vw;
            font-size: 0.95em;
        }

        #home_buttons {
            .btn-primary {
                width: 300px;
            }
        }
    }
}