<div class="modal-header">
    <h5 class="modal-title" id="title_ticket">Avis d'absence {{ ticket }}</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
</div>
<div class="modal-body">
    <table>
        <tr>
            <td>Départ :</td>
            <td>{{ ticket.go_date|date:"l j F Y" }}</td>
        </tr>
        <tr>
            <td>Retour :</td>
            <td>{{ ticket.back_date|date:"l j F Y" }}</td>
        </tr>
        <tr>
            <td>Moines :</td>
            <td>{{ ticket.monks_as_string }}</td>
        </tr>
    </table>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary me-auto" data-bs-dismiss="modal">Annuler</button>
    <a href={% url 'absences:delete' ticket.pk %} type="button" class="btn btn-danger">Supprimer</a>
    <a href={% url 'absences:update' ticket.pk %} type="button" class="btn btn-primary">Modifier</a>
</div>
