{% extends 'absences/main_absences.html' %}

{% load static %}
{% load widget_tweaks %}

{% block css %}
    <link rel="stylesheet" href={% static 'main/jquery-ui-1.12.1/jquery-ui.min.css' %}>
    <link rel="stylesheet/less" href={% static 'absences/css/absences.less' %}>
{% endblock css %}

{% block breadcrumbs %}
    {{ block.super }}
    {% if ticket %}
        <li class="breadcrumb-item active">Modifier le billet {{ ticket }}</li>
    {% else %}
        <li class="breadcrumb-item active">Créer un billet</li>
    {% endif %}
{% endblock breadcrumbs %}

{% block content %}
    <form method="post" novalidate class="w-75">
        {% csrf_token %}

        <h1 class="text-center mt-2">
            {% if ticket %}
                Modifier le billet</br>{{ ticket }}
            {% else %}
                Créer un billet
            {% endif %}
        </h1>

        <div class="w-100">
            <!-- TYPE -->
            <div class="d-flex my-5">
                {% if form.is_bound %}
                    {% if form.type.errors %}
                        {% render_field form.type class="is-invalid" %}
                        {% for error in form.type.errors %}
                            <div class="invalid-feedback d-block">
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% else %}
                        {% render_field form.type class="is-valid" %}
                    {% endif %}
                {% else %}
                    {% render_field form.type %}
                {% endif %}

                {% if form.type.help_text %}
                    <small class="form-text text-muted">
                        {{ form.type.help_text }}
                    </small>
                {% endif %}
            </div>

            <!-- MONKS -->
            <div>
                <h4 class="mt-5">
                    <span id="label_check_monks"></span> :
                </h4>
                <div>
                    {% if form.is_bound %}
                        {% if form.monks.errors %}
                            {% render_field form.monks class="list-unstyled border rounded p-2 mb-0 is-invalid" %}
                            {% for error in form.monks.errors %}
                                <div class="invalid-feedback" style="display: block;">
                                    {{ error }}
                                </div>
                            {% endfor %}
                        {% else %}
                            {% render_field form.monks class="list-unstyled border rounded p-2 mb-0 is-valid" %}
                        {% endif %}
                    {% else %}
                        {% render_field form.monks class="list-unstyled border rounded p-2 mb-0" %}
                    {% endif %}
    
                    {% if form.monks.help_text %}
                        <small class="form-text text-muted">
                            {{ form.monks.help_text }}
                        </small>
                    {% endif %}
                </div>
            </div>

            <!-- DESTINATION -->
            <div class="my-5">
                <h4 id="id_label_destination" class="mt-5">Destination (facultatif) :</h4>
                <div class="d-flex my-2">
                    {% if form.is_bound %}
                        {% if form.destination.errors %}
                            {% render_field form.destination class="form-control w-100 is-invalid" %}
                            {% for error in form.destination.errors %}
                                <div class="invalid-feedback d-block">
                                    {{ error }}
                                </div>
                            {% endfor %}
                        {% else %}
                            {% render_field form.destination class="form-control w-100 is-valid" %}
                        {% endif %}
                    {% else %}
                        {% render_field form.destination class="form-control w-100" %}
                    {% endif %}
    
                    {% if form.destination.help_text %}
                        <small class="form-text text-muted">
                            {{ form.destination.help_text }}
                        </small>
                    {% endif %}
                </div>
            </div>

            <!-- GO AND BACK -->
            <div id="go_and_back" class="d-flex justify-content-between">
                <!-- GO -->
                <div id="go_block" class="col-5 m-2 border rounded p-2">
                    <h2 class="text-center">DÉPART</h2>
                    <div class="d-flex align-items-center">
                        <label class="green fw-bold">Date :</label>
                        <div class="d-flex my-2">
                            {% if form.is_bound %}
                                {% if form.go_date.errors %}
                                    {% render_field form.go_date class="form-control is-invalid mx-2" %}
                                {% else %}
                                    {% render_field form.go_date class="form-control is-valid mx-2" %}
                                {% endif %}
                            {% else %}
                                {% render_field form.go_date class="form-control mx-2" %}
                            {% endif %}
            
                            {% if form.go_date.help_text %}
                                <small class="form-text text-muted">
                                    {{ form.go_date.help_text }}
                                </small>
                            {% endif %}
                        </div>
                        <div class="d-flex my-2">
                            {% if form.is_bound %}
                                {% if form.go_moment.errors %}
                                    {% render_field form.go_moment class="custom-select is-invalid" %}
                                    {% for error in form.go_moment.errors %}
                                        <div class="invalid-feedback d-block">
                                            {{ error }}
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    {% render_field form.go_moment class="custom-select is-valid" %}
                                {% endif %}
                            {% else %}
                                {% render_field form.go_moment class="custom-select" %}
                            {% endif %}
            
                            {% if form.go_moment.help_text %}
                                <small class="form-text text-muted">
                                    {{ form.go_moment.help_text }}
                                </small>
                            {% endif %}
                        </div>
                    </div>
                    <div class="mb-1">
                        {% if form.go_date.errors %}
                            {% for error in form.go_date.errors %}
                                <div class="invalid-feedback d-block">
                                    {{ error }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>

                    <div id="group_servants_picnic" class="ml-3">
                        <div class="d-flex my-2">
                            {% if form.is_bound %}
                                {% if form.servants.errors %}
                                    {% render_field form.servants class="is-invalid" %}
                                    {% for error in form.servants.errors %}
                                        <div class="invalid-feedback d-block">
                                            {{ error }}
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    {% render_field form.servants class="is-valid" %}
                                {% endif %}
                            {% else %}
                                {% render_field form.servants %}
                            {% endif %}
            
                            {% if form.servants.help_text %}
                                <small class="form-text text-muted">
                                    {{ form.servants.help_text }}
                                </small>
                            {% endif %}
                            <label for="id_servants" class="green fw-bold mx-2">Repas avec les serveurs</label>
                            {% if form.is_bound %}
                                {% if form.picnic.errors %}
                                    {% render_field form.picnic class="is-invalid" %}
                                    {% for error in form.picnic.errors %}
                                        <div class="invalid-feedback d-block">
                                            {{ error }}
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    {% render_field form.picnic class="is-valid" %}
                                {% endif %}
                            {% else %}
                                {% render_field form.picnic %}
                            {% endif %}
            
                            {% if form.picnic.help_text %}
                                <small class="form-text text-muted">
                                    {{ form.picnic.help_text }}
                                </small>
                            {% endif %}
                            <label for="id_picnic" class="green fw-bold mx-2" title="Cochez cette case, même si vous comptez préparer vous même votre casse-croûte.">Casse-croûte</label>
                        </div>
                    </div>

                    <div class="mb-1">
                        <div class="d-flex align-items-center my-2">
                            <label class="green fw-bold me-2">Moyen de transport :</label>
                            {% if form.is_bound %}
                                {% if form.go_by.errors %}
                                    {% render_field form.go_by class="custom-select is-invalid" %}
                                    {% for error in form.go_by.errors %}
                                        <div class="invalid-feedback d-block">
                                            {{ error }}
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    {% render_field form.go_by class="custom-select is-valid" %}
                                {% endif %}
                            {% else %}
                                {% render_field form.go_by class="custom-select" %}
                            {% endif %}
            
                            {% if form.go_by.help_text %}
                                <small class="form-text text-muted">
                                    {{ form.go_by.help_text }}
                                </small>
                            {% endif %}
                        </div>
                    </div>

                    <table id="group_train_go" class="d-flex">
                        <tr>
                            <td class="align-middle"><label class="green fw-bold me-2">Gare :</label></td>
                            <td>
                                {% if form.is_bound %}
                                    {% if form.go_station.errors %}
                                        {% render_field form.go_station class="custom-select is-invalid" %}
                                        {% for error in form.go_station.errors %}
                                            <div class="invalid-feedback d-block">
                                                {{ error }}
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                        {% render_field form.go_station class="custom-select is-valid" %}
                                    {% endif %}
                                {% else %}
                                    {% render_field form.go_station class="custom-select" %}
                                {% endif %}
                
                                {% if form.go_station.help_text %}
                                    <small class="form-text text-muted">
                                        {{ form.go_station.help_text }}
                                    </small>
                                {% endif %}
                            </td>

                            <td class="align-middle"><label class="green fw-bold mx-2">à :</label></td>
                            <td>
                                {% if form.is_bound %}
                                    {% if form.go_hour.errors %}
                                        {% render_field form.go_hour class="form-control is-invalid" %}
                                        {% for error in form.go_hour.errors %}
                                            <div class="invalid-feedback d-block">
                                                {{ error }}
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                        {% render_field form.go_hour class="form-control is-valid" %}
                                    {% endif %}
                                {% else %}
                                    {% render_field form.go_hour class="form-control" %}
                                {% endif %}
                            </td>
                        </tr>

                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                {% if form.go_hour.help_text %}
                                    <small class="form-text text-muted">
                                        {{ form.go_hour.help_text }}
                                    </small>
                                {% endif %}
                            </td>
                        </tr>
                    </table>
                </div>

                <!-- BACK -->
                <div id="back_block" class="col-5 m-2 border rounded p-2">
                    <h2 class="text-center">RETOUR</h2>
                    <div class="d-flex align-items-center">
                        <label class="green fw-bold">Date :</label>
                        <div class="d-flex my-2">
                            {% if form.is_bound %}
                                {% if form.back_date.errors %}
                                    {% render_field form.back_date class="custom-select form-control is-invalid mx-2" %}
                                {% else %}
                                    {% render_field form.back_date class="custom-select form-control is-valid mx-2" %}
                                {% endif %}
                            {% else %}
                                {% render_field form.back_date class="custom-select form-control mx-2" %}
                            {% endif %}
            
                            {% if form.back_date.help_text %}
                                <small class="form-text text-muted">
                                    {{ form.back_date.help_text }}
                                </small>
                            {% endif %}
                        </div>
                        <div class="d-flex my-2">
                            {% if form.is_bound %}
                                {% if form.back_moment.errors %}
                                    {% render_field form.back_moment class="custom-select is-invalid" %}
                                    {% for error in form.back_moment.errors %}
                                        <div class="invalid-feedback d-block">
                                            {{ error }}
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    {% render_field form.back_moment class="custom-select is-valid" %}
                                {% endif %}
                            {% else %}
                                {% render_field form.back_moment class="custom-select" %}
                            {% endif %}
            
                            {% if form.back_moment.help_text %}
                                <small class="form-text text-muted">
                                    {{ form.back_moment.help_text }}
                                </small>
                            {% endif %}
                        </div>
                    </div>
                    <div class="mb-1">
                        {% if form.back_date.errors %}
                            {% for error in form.back_date.errors %}
                                <div class="invalid-feedback d-block">
                                    {{ error }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>

                    <div id="group_keep_hot" class="ml-3">
                        <div class="d-flex my-2">
                            {% if form.is_bound %}
                                {% if form.keep_hot.errors %}
                                    {% render_field form.keep_hot class="is-invalid" %}
                                    {% for error in form.keep_hot.errors %}
                                        <div class="invalid-feedback d-block">
                                            {{ error }}
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    {% render_field form.keep_hot class="is-valid" %}
                                {% endif %}
                            {% else %}
                                {% render_field form.keep_hot %}
                            {% endif %}
            
                            {% if form.keep_hot.help_text %}
                                <small class="form-text text-muted">
                                    {{ form.keep_hot.help_text }}
                                </small>
                            {% endif %}
                            <label for="id_keep_hot" class="green fw-bold mx-2">Garder du chaud</label>
                        </div>
                    </div>

                    <div class="mb-1">
                        <div class="d-flex align-items-center my-2">
                            <label class="green fw-bold me-2">Moyen de transport :</label>
                            {% if form.is_bound %}
                                {% if form.back_by.errors %}
                                    {% render_field form.back_by class="custom-select is-invalid" %}
                                    {% for error in form.back_by.errors %}
                                        <div class="invalid-feedback d-block">
                                            {{ error }}
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    {% render_field form.back_by class="custom-select is-valid" %}
                                {% endif %}
                            {% else %}
                                {% render_field form.back_by class="custom-select" %}
                            {% endif %}
            
                            {% if form.back_by.help_text %}
                                <small class="form-text text-muted">
                                    {{ form.back_by.help_text }}
                                </small>
                            {% endif %}
                        </div>
                    </div>

                    <table id="group_train_back" class="d-flex">
                        <tr>
                            <td class="align-middle"><label class="green fw-bold me-2">Gare :</label></td>
                            <td>
                                {% if form.is_bound %}
                                    {% if form.back_station.errors %}
                                        {% render_field form.back_station class="custom-select is-invalid" %}
                                        {% for error in form.back_station.errors %}
                                            <div class="invalid-feedback d-block">
                                                {{ error }}
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                        {% render_field form.back_station class="custom-select is-valid" %}
                                    {% endif %}
                                {% else %}
                                    {% render_field form.back_station class="custom-select" %}
                                {% endif %}
                
                                {% if form.back_station.help_text %}
                                    <small class="form-text text-muted">
                                        {{ form.back_station.help_text }}
                                    </small>
                                {% endif %}
                            </td>

                            <td class="align-middle"><label class="green fw-bold mx-2">à :</label></td>
                            <td>
                                {% if form.is_bound %}
                                    {% if form.back_hour.errors %}
                                        {% render_field form.back_hour class="form-control is-invalid" %}
                                        {% for error in form.back_hour.errors %}
                                            <div class="invalid-feedback d-block">
                                                {{ error }}
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                        {% render_field form.back_hour class="form-control is-valid" %}
                                    {% endif %}
                                {% else %}
                                    {% render_field form.back_hour class="form-control" %}
                                {% endif %}
                            </td>
                        </tr>

                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                {% if form.back_hour.help_text %}
                                    <small class="form-text text-muted">
                                        {{ form.back_hour.help_text }}
                                    </small>
                                {% endif %}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <!-- FORME ORDINAIRE -->
            <div class="d-flex my-5">
                {% if form.is_bound %}
                    {% if form.ordinary_form.errors %}
                        {% render_field form.ordinary_form class="is-invalid" %}
                        {% for error in form.ordinary_form.errors %}
                            <div class="invalid-feedback d-block">
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% else %}
                        {% render_field form.ordinary_form class="is-valid" %}
                    {% endif %}
                {% else %}
                    {% render_field form.ordinary_form %}
                {% endif %}

                {% if form.ordinary_form.help_text %}
                    <small class="form-text text-muted">
                        {{ form.ordinary_form.help_text }}
                    </small>
                {% endif %}
                <label for="id_ordinary_form" class="green fw-bold mx-2">Forme ordinaire (pour les prêtres)</label>
            </div>

            <!-- REMARQUES -->
            <div>
                <h4 class="mt-5">Commentaire :</h4>
                <div class="d-flex my-2">
                    {% if form.is_bound %}
                        {% if form.commentary.errors %}
                            {% render_field form.commentary class="form-control w-100 is-invalid" %}
                            {% for error in form.commentary.errors %}
                                <div class="invalid-feedback d-block">
                                    {{ error }}
                                </div>
                            {% endfor %}
                        {% else %}
                            {% render_field form.commentary class="form-control w-100 is-valid" %}
                        {% endif %}
                    {% else %}
                        {% render_field form.commentary class="form-control w-100" %}
                    {% endif %}
    
                    {% if form.commentary.help_text %}
                        <small class="form-text text-muted">
                            {{ form.commentary.help_text }}
                        </small>
                    {% endif %}
                </div>
            </div>

            <!-- DESTINATAIRES OBLIGATOIRES -->
            <h4 class="mt-5">Ce message sera envoyé <i>ex officio</i> aux moines suivants :</h4>
            <div class="recipients">
                {% for recipient in mandatory_recipients %}
                    <b>{{ recipient }}</b> ({{ recipient.email }})</br>
                {% endfor %}
            </div>

            <!-- DESTINATAIRES SUPPLÉMENTAIRES -->
            <div>
                <h4 class="mt-5 mb-0">Destinataires supplémentaires :</h4>
                <div class="d-flex">
                    {% if form.additional_recipients.help_text %}
                        <small class="grey-dark mt-0 mr-auto">{{ form.additional_recipients.help_text }}</small>
                    {% endif %}
                    <input type="checkbox" id="checkbox_all_additional_recipients" class="my-0 ms-auto"></input>
                    <label for="checkbox_all_additional_recipients" class="green fw-boldmy-0 ms-1" style="font-size:0.9em;">Cocher tous les destinataires supplémentaires</input>
                </div>
                <div class="recipients my-2">
                    {% if form.is_bound %}
                        {% if form.additional_recipients.errors %}
                            {% render_field form.additional_recipients class="list-unstyled mb-0 is-invalid" %}
                            {% for error in form.additional_recipients.errors %}
                                <div class="invalid-feedback d-block">
                                    {{ error }}
                                </div>
                            {% endfor %}
                        {% else %}
                            {% render_field form.additional_recipients class="list-unstyled mb-0 is-valid" %}
                        {% endif %}
                    {% else %}
                        {% render_field form.additional_recipients class="list-unstyled mb-0" %}
                    {% endif %}
                </div>
            </div>

            <!-- SUMMARY of the ticket before sending email. Will be filled by programmation (form.js). -->
            <div class="bg-danger bg-opacity-10 border rounded my-5 p-4">
                <h4 class="lucida-hw red-dark text-center">On récapitule…</h4>
                <hr>
                <div id="ticket_summary">
                    <table class="table table-borderless table-sm">
                        <!-- Moines -->
                        <tr>
                            <td class="fw-bold">Moines :</td>
                            <td class="col-8" id="monks"></td>
                        </tr>
                        <!-- Destination -->
                        <tr>
                            <td class="fw-bold">Destination :</td>
                            <td class="col-8" id="destination"></td>
                        </tr>
                        <!-- Départ -->
                        <tr>
                            <td id="id_summary_label_go" class="fw-bold">Départ :</td>
                            <td class="col-8" id="go"></td>
                        </tr>
                        <!-- Retour -->
                        <tr>
                            <td id="id_summary_label_back" class="fw-bold">Retour :</td>
                            <td class="col-8" id="back"></td>
                        </tr>
                        <!-- Forme ordinaire -->
                        <tr>
                            <td class="fw-bold">Forme ordinaire :</td>
                            <td class="col-8" id="ordinary"></td>
                        </tr>
                        <!-- Commentaire -->
                        <tr>
                            <td class="fw-bold">Commentaire :</td>
                            <td class="col-8" id="comment"></td>
                        </tr>
                        <!-- Destinataires obligatoires -->
                        <tr>
                            <td class="fw-bold">Destinataires obligatoires :</td>
                            <td class="col-8" id="mandatory"></td>
                        </tr>
                        <!-- Destinataires supplémentaires -->
                        <tr>
                            <td class="fw-bold">Destinataires supplémentaires :</td>
                            <td class="col-8" id="additional"></td>
                        </tr>
                    </table>
                </div>

                <!-- VALIDATION -->
                <hr>
                <div class="d-flex flex-column">
                    <div class="w-100 d-flex justify-content-center align-items-between">
                        <a class="btn btn-secondary mx-1" href={% url 'absences:list' %}>Annuler</a>
                        <button type="submit" class="btn btn-primary mx-1"><span class="fas fa-paper-plane"></span> Envoyer</button>
                    </div>
                    <small class="text-center w-75 mx-auto mt-3">Remarque : il faut parfois un délai de quelques secondes avant que le billet soit enregistré sur le serveur</br>et que vous soyez redirigé vers la page principale.</small>
                </div>
            </div>
        </div>
    </form>
{% endblock content %}

{% block javascript %}
    <script src={% static 'main/jquery-ui-1.12.1/jquery-ui.min.js' %}></script>
    <script src={% static 'absences/js/form.js' %}></script>
{% endblock javascript %}
