{% extends 'main.html' %}

{% block breadcrumbs %}
    <li class="breadcrumb-item active">Absences</li>
{% endblock breadcrumbs %}

{% block content %}
    {% if title == 'welcome' %}
        <h1 class="mt-5">Bienvenue sur Absences !</h1>
    {% elif title == 'success' %}
        <h4 class="mt-5">Votre message a été envoyé avec succès aux responsables d'obédiences.</h4>
    {% elif title == 'failure' %}
        <h4 class="mt-5">Échec de l'envoi du billet.</h4>
    {% endif %}

    <div id="home_buttons" class="d-flex flex-column">
        <a href="{% url 'absences:create' 'go' %}" class="btn btn-primary mt-5 mx-1" title="Pour un moine présent qui va s'absenter">Créer un billet d'absence normal<br>(aller et retour)</a>
        <a href="{% url 'absences:create' 'back' %}" class="btn btn-secondary mt-5 mx-1" title="Pour un moine absent qui va revenir">Créer un billet de retour<br>(uniquement retour)</a>
    </div>
{% endblock content %}
