{% extends 'absences/main_absences.html' %}

{% block breadcrumbs %}
    <li class="breadcrumb-item active">Absences</li>
{% endblock breadcrumbs %}

{% block content %}
    <h1 class="my-3">Billets d'absence</h1>

    {% if title %}
        <div class="btn btn-info my-3 w-50">{{ title }}</div>
    {% endif %}

    <a href={% url 'absences:create' %} class="btn btn-primary btn-sm my-3 w-25">Créer un nouveau billet d'absence</a>

    <table class="table table-bordered table-striped table-sm mt-3">
        <tr class="text-center">
            <th class="col-1 grey-dark">Créé</th>
            <th class="col-1 grey-dark">Modifié</th>
            <th class="col-2 red">Départ</th>
            <th class="col-2 red">Retour</th>
            <th class="col-2 red">Destination</th>
            <th class="col-2 red">Moines</th>
            <th class="col-1"></th>
        </tr>
        {% for ticket in tickets %}
            <tr>
                <td>
                    <table class="d-flex justify-content-center">
                        <tr>
                            <td class="orange fw-bold text-end me-2">Le</td>
                            <td>{{ ticket.created_at|date:"d/m/Y" }}</td>
                        </tr>
                        <tr>
                            <td class="orange fw-bold text-end me-2">à</span>
                            <td>{{ ticket.created_at|time:"H:i:s" }}</td>
                        </tr>
                    </table>
                </td>
                <td>
                    <table class="d-flex justify-content-center">
                        <tr>
                            <td class="orange fw-bold text-end me-2">Le</td>
                            <td>{{ ticket.last_modified|date:"d/m/Y" }}</td>
                        </tr>
                        <tr>
                            <td class="orange fw-bold text-end me-2">à</span>
                            <td>{{ ticket.last_modified|time:"H:i:s" }}</td>
                        </tr>
                    </table>
                </td>
                <td class="text-center fw-bold">{{ ticket.go_date|date:"l j F Y" }}</td>
                <td class="text-center fw-bold">{{ ticket.back_date|date:"l j F Y" }}</td>
                <td>{{ ticket.destination }}</td>
                <td title="{{ ticket.monks_as_string }}">{{ ticket.monks_as_string|truncatewords:6 }}</td>
                <td><a href={% url 'absences:details' ticket.pk %}>Détails</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock content%}
