{% extends 'absences/main_absences.html' %}

{% load static %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href={% static 'main/datatables/datatables.min.css'%}>
{% endblock css %}

{% block breadcrumbs %}
    <li class="breadcrumb-item active">Absences</li>
{% endblock breadcrumbs %}

{% block content %}
    <h1 class="my-3">Billets d'absence</h1>

    {% if title %}
        <div class="btn btn-info my-3 w-50">{{ title }}</div>
    {% endif %}

    <a href={% url 'absences:create' %} class="btn btn-primary btn-sm mb-4 w-25">Créer un nouveau billet d'absence</a>

    <table id="table-tickets" class="cell-border order-column hover w-100">
        <thead>
            <tr class="text-center">
                <th class="grey-dark">Créé</th>
                <th class="grey-dark">Modifié</th>
                <th class="red">Départ</th>
                <th class="red">Retour</th>
                <th class="red">Destination</th>
                <th class="red">Moines</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            {% for ticket in tickets %}
                <tr>
                    <td class="col-1">
                        <table class="d-flex justify-content-center">
                            <tr>
                                <td class="orange fw-bold text-end pe-1">
                                    Le
                                    <span class="d-none">
                                        {{ ticket.created_at|date:"Ymd" }}{{ ticket.created_at|time:"His" }}
                                    </span><!-- Span not displayed, only to be able to sort dates. -->
                                </td>
                                <td class="text-start ps-1">{{ ticket.created_at|date:"d/m/Y" }}</td>
                            </tr>
                            <tr>
                                <td class="orange fw-bold text-end pe-1">à</span>
                                <td class="text-start ps-1">{{ ticket.created_at|time:"H:i:s" }}</td>
                            </tr>
                        </table>
                    </td>
                    <td class="col-1">
                        <table class="d-flex justify-content-center">
                            <tr>
                                <td class="orange fw-bold text-end pe-1">Le</td>
                                <td class="text-start ps-1">{{ ticket.last_modified|date:"d/m/Y" }}</td>
                            </tr>
                            <tr>
                                <td class="orange fw-bold text-end pe-1">à</span>
                                <td class="text-start ps-1">{{ ticket.last_modified|time:"H:i:s" }}</td>
                            </tr>
                        </table>
                    </td>
                    <td class="col-3 text-center fw-bold">
                        <span class="d-none">
                            {{ ticket.go_date|date:"Ymd" }}
                        </span><!-- Span not displayed, only to be able to sort dates. -->
                        {{ ticket.go_date }}
                    </td>
                    <td class="col-3 text-center fw-bold">{{ ticket.back_date }}</td>
                    <td class="col-2">{{ ticket.destination }}</td>
                    <td class="col-2" title="{{ ticket.monks_as_string }}">{{ ticket.monks_as_string|truncatewords:6 }}</td>
                    <td class="col-1"><span type='button' class='btn btn-primary p-2 text-decoration-none button_details' data-bs-toggle='modal' data-bs-target='#ticket_details' id="details_{{ ticket.pk }}">Détails</span></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Modal containing the details of a ticket.
    Will be filled by Ajax (datatable-tickets.js) -->
    <div class="modal fade" id="ticket_details" tabindex="-1" aria-labelledby="ticket_details" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
            </div>
        </div>
    </div>
{% endblock content%}

{% block javascript %}
    {{ block.super }}
    <script src={% static 'main/datatables/datatables.min.js'%}></script>
    <script src={% static 'absences/js/datatable-tickets.js' %}></script>
{% endblock javascript %}
