@import url("/statics/main/css/colors.less");

label {
    color: @green;
    font-size: 1em;
    font-weight: bold;
}

.date {
    color: @red-dark;
    font-size: 1.1em;
    font-weight: bold;
    margin: 10px 0px 10px 0px;
    text-align: center;
}

#graduel {
    input {
        margin: 0px 10px 0px 10px;
        width: 80px;
    }

    .line p {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}