@import url("/statics/main/css/colors.less");

label {
    color: @green;
    font-size: 1em;
    font-weight: bold;
}

.date {
    color: @red-dark;
    font-size: 1.1em;
}

#options {
    td {
        padding: 5px 5px 5px 5px;
    }
}

#graduel {
    input {
        font-weight: bold;
        margin: 0px 10px 0px 10px;
        width: 80px;
    }

    .line p {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

#overlay_wait,
#overlay_ready {
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    display: none;
    font-size: 1.2em;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}