{% extends 'editor/main_editor.html' %}

{% block breadcrumbs %}
    <li class="breadcrumb-item active">Editor</li>
{% endblock breadcrumbs %}

{% block content %}
    <h1 class="blue">Bienvenue sur Editor!</h1>

    <div id="home" class="d-flex mt-5">
        <a href={% url 'editor:books_list' %} class="d-flex flex-column align-items-center orange">
            <span class="fas fa-book mx-5 my-3" title="Livres"></span>
            <p>Livres</p>
        </a>
        <a href={% url 'editor:disks_list' %} class="d-flex flex-column align-items-center blue">
            <span class="fas fa-compact-disc mx-5 my-3" title="CD"></span>
            <p>CD</p>
        </a>
        <a href={% url 'editor:images_list' %} class="d-flex flex-column align-items-center green">
            <span class="fas fa-image mx-5 my-3" title="Images"></span>
            <p>Images</p>
        </a>
    </div>
{% endblock content %}
