@import url("/statics/main/css/colors.less");

h3 {
    color: @green;
    font-family: LucidaHW;
}

.input-date {
    width: 120px;
}

#table-monks_wrapper {
    font-size: 0.9em;
    width: 90%;

    th,
    td {
        text-align: center;
    }

    #table-monks_filter {
        label {
            color: @green;
            font-weight: bold;
            margin-left: 0;
        }
    }
}