@blue: rgb(0, 40, 114);
@full-red: rgb(255, 0, 0);
@green: rgb(0, 100, 0);
@grey: rgb(200, 200, 200);
@grey_light: rgb(220, 220, 220);
@grey_text: rgb(49, 50, 57);
@orange: rgb(255, 145, 0);
@red: rgb(200, 0, 0);

.blue {
    color: @blue;
}

.full-red {
    color: @full-red;
}

.green {
    color: @green;
}

.grey {
    color: @grey;
}

.orange {
    color: @orange;
}

.red {
    color: @red;
}


body {
    background-color: whitesmoke;

    h1 {
        color: @green;
    }

    input,
    input:focus,
    select,
    select:focus,
    textarea,
    textarea:focus,
    .form-control,
    .form-control:focus {
        color: @grey_text;
    }

    th {
        text-align: center;
    }

    td {
        vertical-align: top;
    }

    // Nav:
    nav {
        #logo {
            img {
                width: 50px;
            }

            p {
                color: @orange;
                font-family: LucidaHW;
                font-size: 2em;
            }
        }

        #menu {
            font-size: 1.3em;
        }
    }

    // Contents:
    #content {
        .dropdown {
            .dropdown_button {
                background-color: green;
                color: white;
                padding: 5px;
                font-size: 10px;
                border: 1px solid @grey_light;
                border-radius: 4px;
                cursor: pointer;
            }

            .dropdown {
                position: relative;
                display: inline-block;
            }

            .dropdown_content {
                display: none;
                position: absolute;
                background-color: whitesmoke;
                min-width: 200px;
                box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                z-index: 3;
            }

            .dropdown_content a {
                color: black;
                padding: 8px 16px;
                text-decoration: none;
                display: block;
            }

            .dropdown_content a:hover {
                background-color: @grey_light;
            }

            .dropdown:hover .dropdown_content {
                display: block;
            }

            .dropdown:hover .dropbtn {
                background-color: green;
            }
        }

        // Tools:
        #tools {
            margin: 0px 10px 20px 10px;

            ul {
                font-size: 1em;
                vertical-align: middle;
            }

            a,
            span {
                margin: 0px 10px 0px 10px;
            }

            a,
            .fas {
                color: @green;
                cursor: pointer;
            }

            a {
                font-size: 1em;
            }

            .fas {
                font-size: 1.3em;
                margin-top: 20px;
            }
        }

        // Calendar:
        #calendar {
            text-align: center;
            width: 100%;

            .calendar_lines {
                position: absolute;
                z-index: 1;

                .vertical_line {
                    border-right: 1px solid @grey_light;

                    &.zero {
                        border-left: 2px solid gray;
                    }

                    &.bold {
                        border-right: 2px solid gray;
                    }
                }
            }

            .calendar_bars {
                display: grid;
                grid-template-columns: repeat(21, 100% / 21);
                grid-auto-flow: row dense;
                position: relative;
                z-index: 2;

                .bar {
                    background-color: @green;
                    border-radius: 3px;
                    color: white;
                    font-size: 10pt;
                    height: 20px;
                    overflow: hidden;
                    text-align: left;
                    text-overflow: ellipsis;
                    vertical-align: top;
                    white-space: nowrap;
                }

                a {
                    color: white;
                    font-size: 9pt;
                    vertical-align: middle;
                }

                .arrow-left {
                    border-top-left-radius: 12px;
                    border-bottom-left-radius: 12px;
                }

                .arrow-right {
                    border-top-right-radius: 12px;
                    border-bottom-right-radius: 12px;
                }
            }

            #calendar_dates {
                .date {
                    width: 100% / 7;

                    .weekday,
                    .date,
                    .current_weekday,
                    .current_date {
                        background-color: gray;
                        color: @grey_light;
                        font-weight: bold;
                        width: 100%;
                    }

                    .current_weekday,
                    .current_date {
                        color: rgb(37, 204, 255);
                    }
                }
            }

            #calendar_retreats {
                border-bottom: 1px solid grey;
                position: relative;

                .retreat_bar {
                    background-color: @orange;

                    a {
                        color: black;
                    }
                }
            }

            #calendar_sejours {
                border-bottom: 1px solid grey;
                position: relative;

                .pretre {
                    background-color: blue;

                    a {
                        color: white;
                    }
                }

                .groupe {
                    background-color: @full-red;

                    a {
                        color: white;
                    }
                }

                .pretre.groupe {
                    background-color: rgb(190, 0, 190);
                }
            }

            #calendar_parloirs {
                position: relative;

                .parloir_bar {
                    background-color: yellow;

                    a {
                        color: black;
                    }
                }
            }
        }

        // Forms:
        form {
            input[type='checkbox'] {
                margin: 0px 5px 0px 0px;
                width: auto;
            }

            label {
                color: @green;
                font-weight: bold;
                margin: 0px 5px 0px 0px;
                padding: 8px 0px 0px 0px;
            }

            .custom-select {
                max-width: 200px;
            }

            // Help texts:
            .text-muted {
                text-align: center;
            }

            // Sejour: autocomplete personne:
            .select2-selection--single {
                height: 40px !important;
            }
        }

        // Listings
        .background {
            background-color: rgb(255, 232, 211);
        }
    }
}