{% extends 'imprimerie/main_imprimerie.html' %}

{% load static %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href={% url 'imprimerie:home' %}>Imprimerie</a></li>
    <li class="breadcrumb-item active">Travail</li>
{% endblock breadcrumbs %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet/less" href={% static 'imprimerie/css/work.less' %}>
{% endblock css %}

{% block content %}
    <div class="d-flex flex-column align-items-center">
        <h1>Travaux de l'atelier imprimerie</h1>
    </div>

    <a href={% url 'imprimerie:work_update' %} class="btn btn-primary btn-sm">Modifier</a>

    <small class="mt-3">Dernière modification: {{ quill.modified|date:'d/m/Y à H:i' }}</small>

    <div id="work" class="col-8 d-flex flex-column align-items-center border border-dark rounded p-2 my-3">{{ quill.content.html|safe }}</div>
{% endblock content %}
