{% extends 'main.html' %}

{% load static %}

{% block css %}
    <link rel="stylesheet/less" href={% static 'main/css/home.less' %}>
{% endblock css %}

{% block content %}
    <div class="d-flex flex-column align-items-center">
        <h1 class="text-center mb-5">Bienvenue sur le site des moines<br>de l'Abbaye Saint-Joseph de Clairval !</h1>

        <div class="d-flex w-100">
            <div class="col-4">
                <h3>Vie du monastère</h3>
                    <a href={% url 'moines:list' %}>MOINES</a><p>Tout sur nous.</p>
                    <a href={% url 'moines:statistiques' %}>STATISTIQUES</a><p>Statistiques communautaires.</p>
                    <a href={% url 'moines:telephone' %}>TÉLÉPHONE</a><p>Liste des téléphones publics (cabines, ateliers) et des codes téléphoniques (renvois etc.). Pour les téléphones des moines, consultez la page "MOINES" ci-dessus.</p>
                    <a href={% url 'agenda:calendar' %}>AGENDA COMMUNAUTAIRE</a><p>Conférences, retraites, promenades, fêtes des moines… (P. Prieur)</p>
                    <a href="https://docs.google.com/spreadsheets/d/14BfFLTsF54yjQVkQhylWuqB65ag2LhMYe08ubXkvlYE/edit#gid=0">TABLEAU DES SERVICES</a><p>Sur GoogleSheets (P. Louis).</p>
                    <a href={% url 'hotellerie:listing_cuisine' %}>LISTE DES HÔTES</a><p>Listing de la cuisine.</p>
                    <a href="http://192.168.1.146/Liste_retraites.html">LISTE DES RETRAITES ET DES RETRAITANTS</a><p>Générée par 4D (P. Dominique Savio).</p>
                    <a href="https://www.clairval.com/">SITE DE L'ABBAYE</a><p>Site clairval.com (Fr. Damien).</p>
                    <a href="https://www.clairval.com/vous-accueillir/horaires-des-offices/">HORAIRES DES OFFICES</a><p>Lien à communiquer aux personnes qui demandent nos horaires.</p>
                    <a href="https://benedictins-solignac.com/">PRIEURÉ DE SOLIGNAC</a><p></p>
                    <a href="http://pmb.asj.com/pmb-bibli/opac_css">BIBLI</a><p>Accès à la base de données de la bibliothèque (Bibliothécaire).</p>
                    <a href="http://192.168.1.144:5000/webman/index.cgi">DOCUMENTS</a><p>Documents sur Saint-Jérôme (Bibliothécaire).</p>
            </div>

            <div class="col-4">
                <h3>Absences</h3>
                    <a href={% url 'absences:list' %}>ABSENCES</a><p>Avis d'absence <span class="fas fa-plane-departure blue"></span>… ou de présence <span class="fas fa-plane-arrival blue"></span>.</p>
                    <a href={% url 'courses:home' %}>COURSES</a><p>Calendrier des courses (P. Ignace).</p>

                <h3>Sites de gestion d'obédiences</h3>
                    <a href={% url 'hotellerie:main_home' %}>HÔTELLERIE (P. Martin)<span class="red-full">*</span></a><p></p>
                    <!-- TODO -->
                    <a href={% url 'infirmerie:home' %}>INFIRMERIE (Fr. Camille) <span class="red-full">*</span></a><p></p>
                    <a href={% url 'imprimerie:home' %}>IMPRIMERIE <span class="red-full">*</span></a><p></p>
                    <a href={% url 'editor:home' %}>ÉDITIONS (P. Martin)</a><p></p>

                    <p class="text-justify border rounded border-dark p-2 m-0"><span class="red-full">*</span> Sites à accès protégé par un mot de passe autre que "moines".</p>
                </div>

            <div class="col-4">
                <h3>Outils</h3>
                    <a href={% url 'ordomatic:home' %}>ORDOMATIC</a><p>Créez votre ordo en ligne.</p>
                    <a href={% url 'livrets:home' %}>LIVRETS</a><p>Livrets de messe pour les retraites.</p>
                    <a href={% url 'accenteur:home' %}>ACCENTEUR</a><p>Numéricum instruméntum ad latínos textus accentizándos.</p>
                    <!-- TODO: Move barcode and qrcode to Editions. -->
                    <a href={% url 'barcode:home' %}><span class="fas fa-barcode"></span> BARCODE / <span class="fas fa-qrcode"></span> QRCODE</a><p>Un sympathique petit générateur de codes barres et de QR codes.</p>

                <h3>Gregorio</h3>
                    <a href="http://gregorio-doc.asj.com">GREGORIO-DOC</a><p>Offline official doc of Gregorio.</p>
                    <a href="http://gregorio-doc.asj.com/gabc/summary-gabc.pdf">MEMO</a><p>A short Summary of GABC notations.</p>
                    <!-- TODO -->
                    <a href="http://services.asj.com/jgabc">GREGORIO-SCORES</a><p>Create your Gregorio scores online.</p>

                <h3>Divers</h3>
                    <a href={% url 'polyglotte:home' %}>POLYGLOTTE</a><p>Bible en hébreu, grec et latin.</p>
                    <a href={% url 'memo:home' %}>MÉMO LINUX</a><p>Aide-mémoire pour les utilisateurs de Linux.</p>
                    <a href={% url 'typetrainer:home' %}>TYPE-TRAINER</a><p>Pour apprendre à taper au clavier.</p>
                    <a href={% url 'ornitho:home' %}>ORNITHO</a><p>Voir le parc autrement…</p>
            </div>
        </div>

        <p class="small fst-italic mt-5">Sauf mention contraire, les sites listés ci-dessus sont administrés par le Fr. Romain.</p>
    </div>
{% endblock content %}
