{% extends 'polyglotte/main_polyglotte.html' %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href={% url 'polyglotte:home' %}>Polyglotte</a></li>
    <li class="breadcrumb-item active">Recherche</li>
{% endblock breadcrumbs %}

{% block content %}
    <div id="nav" class="mr-5">
        <!-- Search -->
        <form action="" method="get">
            <input id="pattern" name="pattern" type="text" placeholder="Rechercher" {% if pattern %} value={{ pattern }} {% endif %}>
            <script>window.onload = document.getElementById('pattern').select();</script>
        </form>
    </div>

    {% if count %}
        <p>{{ count }} versets trouvés</p>
    {% endif %}

    <table class="table table-borderless">
        {% for verse in verses %}
            <tr>
                <td class="td_ref"><a href={% url 'polyglotte:update' verse.book verse.chapter verse.verse%}>{{ verse.book }} {{ verse.chapter }}, {{ verse.verse }}</a></td>
                <td class="td_hebrew text-right">{{ verse.txt_hebrew|default_if_none:"" }}</td>
                <td class="td_greek text-justify">{{ verse.txt_greek|default_if_none:"" }}</td>
                <td class="td_latin text-justify">{{ verse.txt_latin|default_if_none:"" }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock content %}