{% extends 'moines/main_moines.html' %}

{% load static %}
{% load widget_tweaks %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href={% static 'main/tempusdominus/tempus-dominus.min.css' %}>
{% endblock css %}

{% block breadcrumbs %}
    {{ block.super }}
    {% if monk %}
        <li class="breadcrumb-item"><a href={% url 'moines:details' monk.pk %}>{{ monk }}</a></li>
        <li class="breadcrumb-item active">Modifier</li>
    {% else %}
        <li class="breadcrumb-item active">Créer un nouveau moine</li>
    {% endif %}
{% endblock breadcrumbs %}

{% block content %}
    <form method="post" novalidate class="col-6">
        {% csrf_token %}

        <!-- Nom -->
        <div class="row justify-content-start ml-0">
            <div class="form-group">
                {{ form.name.label_tag }}

                {% if form.is_bound %}
                    {% if form.name.errors %}
                        {% render_field form.name class="form-control is-invalid" %}
                        {% for error in form.name.errors %}
                            <div class="invalid-feedback" style="display: block;">
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% else %}
                        {% render_field form.name class="form-control is-valid" %}
                    {% endif %}
                {% else %}
                    {% render_field form.name class="form-control" %}
                {% endif %}

                {% if form.name.help_text %}
                    <small class="form-text text-muted">
                        {{ form.name.help_text }}
                    </small>
                {% endif %}
            </div>
        </div>

        <!-- Fête -->
        <div class="row justify-content-start ml-0">
            <div class="form-group">
                <label>Fête le :</label>

                <!-- Jour -->
                <div class="d-flex flex-row align-items-between">
                    <div class="me-2">
                        {% if form.is_bound %}
                            {% if form.feast_day.errors %}
                                {% render_field form.feast_day class="is-invalid" %}
                                {% for error in form.feast_day.errors %}
                                    <div class="invalid-feedback" style="display: block;">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            {% else %}
                                {% render_field form.feast_day class="is-valid" %}
                            {% endif %}
                        {% else %}
                            {% render_field form.feast_day %}
                        {% endif %}
    
                        {% if form.feast_day.help_text %}
                            <small class="form-text text-muted">
                                {{ form.feast_day.help_text }}
                            </small>
                        {% endif %}
                    </div>

                    <!-- Mois -->
                    <div class="ms-2">
                        {% if form.is_bound %}
                            {% if form.feast_month.errors %}
                                {% render_field form.feast_month class="is-invalid" %}
                                {% for error in form.feast_month.errors %}
                                    <div class="invalid-feedback" style="display: block;">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            {% else %}
                                {% render_field form.feast_month class="is-valid" %}
                            {% endif %}
                        {% else %}
                            {% render_field form.feast_month %}
                        {% endif %}
    
                        {% if form.feast_month.help_text %}
                            <small class="form-text text-muted">
                                {{ form.feast_month.help_text }}
                            </small>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <!-- Numéro de linge -->
        <div class="row justify-content-start ml-0">
            <div class="form-group">
                {{ form.laundry_number.label_tag }}

                {% if form.is_bound %}
                    {% if form.laundry_number.errors %}
                        {% render_field form.laundry_number class="form-control is-invalid" %}
                        {% for error in form.laundry_number.errors %}
                            <div class="invalid-feedback" style="display: block;">
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% else %}
                        {% render_field form.laundry_number class="form-control is-valid" %}
                    {% endif %}
                {% else %}
                    {% render_field form.laundry_number class="form-control" %}
                {% endif %}

                {% if form.laundry_number.help_text %}
                    <small class="form-text text-muted">
                        {{ form.laundry_number.help_text }}
                    </small>
                {% endif %}
            </div>
        </div>

        <!-- Numéro de téléphone -->
        <div class="row justify-content-start ml-0">
            <div class="form-group">
                {{ form.phone_number.label_tag }}

                {% if form.is_bound %}
                    {% if form.phone_number.errors %}
                        {% render_field form.phone_number class="form-control is-invalid" %}
                        {% for error in form.phone_number.errors %}
                            <div class="invalid-feedback" style="display: block;">
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% else %}
                        {% render_field form.phone_number class="form-control is-valid" %}
                    {% endif %}
                {% else %}
                    {% render_field form.phone_number class="form-control" %}
                {% endif %}

                {% if form.phone_number.help_text %}
                    <small class="form-text text-muted">
                        {{ form.phone_number.help_text }}
                    </small>
                {% endif %}
            </div>
        </div>

        <!-- Date de naissance -->
        <div class="row justify-content-start ml-0">
            <div class="form-group">
                {{ form.birthday.label_tag }}

                {% if form.is_bound %}
                    {% if form.birthday.errors %}
                        {% render_field form.birthday class="form-control input-date is-invalid" %}
                        {% for error in form.birthday.errors %}
                            <div class="invalid-feedback" style="display: block;">
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% else %}
                        {% render_field form.birthday class="form-control input-date is-valid" %}
                    {% endif %}
                {% else %}
                    {% render_field form.birthday class="form-control input-date" %}
                {% endif %}

                {% if form.birthday.help_text %}
                    <small class="form-text text-muted">
                        {{ form.birthday.help_text }}
                    </small>
                {% endif %}
            </div>
        </div>

        <!-- Entrée -->
        <div class="d-flex justify-content-start ml-0">
            <div class="form-group">
                {{ form.entry.label_tag }}

                {% if form.is_bound %}
                    {% if form.entry.errors %}
                        {% render_field form.entry class="form-control input-date is-invalid" %}
                        {% for error in form.entry.errors %}
                            <div class="invalid-feedback" style="display: block;">
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% else %}
                        {% render_field form.entry class="form-control input-date is-valid" %}
                    {% endif %}
                {% else %}
                    {% render_field form.entry class="form-control input-date" %}
                {% endif %}

                {% if form.entry.help_text %}
                    <small class="form-text text-muted">
                        {{ form.entry.help_text }}
                    </small>
                {% endif %}
            </div>

            <!-- Rang -->
            <div class="d-flex justify-content-between align-items-end">
                <div class="form-group col-2 ms-5">
                    {{ form.rank.label_tag }}

                    {% if form.is_bound %}
                        {% if form.rank.errors %}
                            {% render_field form.rank class="form-control is-invalid" %}
                            {% for error in form.rank.errors %}
                                <div class="invalid-feedback" style="display: block;">
                                    {{ error }}
                                </div>
                            {% endfor %}
                        {% else %}
                            {% render_field form.rank class="form-control is-valid" %}
                        {% endif %}
                    {% else %}
                        {% render_field form.rank class="form-control" %}
                    {% endif %}
                </div>

                <div class="ms-2">
                    {% if form.rank.help_text %}
                        <small class="form-text text-muted">
                            {{ form.rank.help_text }}
                        </small>
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- Prise d'habit -->
        <div class="row justify-content-start ml-0">
            <div class="form-group">
                {{ form.habit.label_tag }}

                {% if form.is_bound %}
                    {% if form.habit.errors %}
                        {% render_field form.habit class="form-control input-date is-invalid" %}
                        {% for error in form.habit.errors %}
                            <div class="invalid-feedback" style="display: block;">
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% else %}
                        {% render_field form.habit class="form-control input-date is-valid" %}
                    {% endif %}
                {% else %}
                    {% render_field form.habit class="form-control input-date" %}
                {% endif %}

                {% if form.habit.help_text %}
                    <small class="form-text text-muted">
                        {{ form.habit.help_text }}
                    </small>
                {% endif %}
            </div>
        </div>

        <!-- Profession temporaire -->
        <div class="row justify-content-start ml-0">
            <div class="form-group">
                {{ form.profession_temp.label_tag }}

                {% if form.is_bound %}
                    {% if form.profession_temp.errors %}
                        {% render_field form.profession_temp class="form-control input-date is-invalid" %}
                        {% for error in form.profession_temp.errors %}
                            <div class="invalid-feedback" style="display: block;">
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% else %}
                        {% render_field form.profession_temp class="form-control input-date is-valid" %}
                    {% endif %}
                {% else %}
                    {% render_field form.profession_temp class="form-control input-date" %}
                {% endif %}

                {% if form.profession_temp.help_text %}
                    <small class="form-text text-muted">
                        {{ form.profession_temp.help_text }}
                    </small>
                {% endif %}
            </div>
        </div>

        <!-- Profession perpétuelle -->
        <div class="row justify-content-start ml-0">
            <div class="form-group">
                {{ form.profession_perp.label_tag }}

                {% if form.is_bound %}
                    {% if form.profession_perp.errors %}
                        {% render_field form.profession_perp class="form-control input-date is-invalid" %}
                        {% for error in form.profession_perp.errors %}
                            <div class="invalid-feedback" style="display: block;">
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% else %}
                        {% render_field form.profession_perp class="form-control input-date is-valid" %}
                    {% endif %}
                {% else %}
                    {% render_field form.profession_perp class="form-control input-date" %}
                {% endif %}

                {% if form.profession_perp.help_text %}
                    <small class="form-text text-muted">
                        {{ form.profession_perp.help_text }}
                    </small>
                {% endif %}
            </div>
        </div>

        <!-- Priest -->
        <div class="row justify-content-start ml-0">
            <div class="form-group">
                {{ form.priest.label_tag }}

                {% if form.is_bound %}
                    {% if form.priest.errors %}
                        {% render_field form.priest class="form-control input-date is-invalid" %}
                        {% for error in form.priest.errors %}
                            <div class="invalid-feedback" style="display: block;">
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% else %}
                        {% render_field form.priest class="form-control input-date is-valid" %}
                    {% endif %}
                {% else %}
                    {% render_field form.priest class="form-control input-date" %}
                {% endif %}

                {% if form.priest.help_text %}
                    <small class="form-text text-muted">
                        {{ form.priest.help_text }}
                    </small>
                {% endif %}
            </div>
        </div>

        <!-- Décès -->
        <div class="row justify-content-start ml-0">
            <div class="form-group">
                {{ form.death.label_tag }}

                {% if form.is_bound %}
                    {% if form.death.errors %}
                        {% render_field form.death class="form-control input-date is-invalid" %}
                        {% for error in form.death.errors %}
                            <div class="invalid-feedback" style="display: block;">
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% else %}
                        {% render_field form.death class="form-control input-date is-valid" %}
                    {% endif %}
                {% else %}
                    {% render_field form.death class="form-control input-date" %}
                {% endif %}

                {% if form.death.help_text %}
                    <small class="form-text text-muted">
                        {{ form.death.help_text }}
                    </small>
                {% endif %}
            </div>
        </div>

        <!-- Email -->
        <div class="row justify-content-start ml-0">
            <div class="form-group">
                {{ form.email.label_tag }}

                {% if form.is_bound %}
                    {% if form.email.errors %}
                        {% render_field form.email class="form-control is-invalid" %}
                        {% for error in form.email.errors %}
                            <div class="invalid-feedback" style="display: block;">
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% else %}
                        {% render_field form.email class="form-control is-valid" %}
                    {% endif %}
                {% else %}
                    {% render_field form.email class="form-control" %}
                {% endif %}

                {% if form.email.help_text %}
                    <small class="form-text text-muted">
                        {{ form.email.help_text }}
                    </small>
                {% endif %}
            </div>
        </div>

        <!-- Additional email -->
        <div class="row justify-content-start ml-0">
            <div class="form-group">
                {{ form.additional_email.label_tag }}

                {% if form.is_bound %}
                    {% if form.additional_email.errors %}
                        {% render_field form.additional_email class="form-control is-invalid" %}
                        {% for error in form.additional_email.errors %}
                            <div class="invalid-feedback" style="display: block;">
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% else %}
                        {% render_field form.additional_email class="form-control is-valid" %}
                    {% endif %}
                {% else %}
                    {% render_field form.additional_email class="form-control" %}
                {% endif %}

                {% if form.additional_email.help_text %}
                    <small class="form-text text-muted">
                        {{ form.additional_email.help_text }}
                    </small>
                {% endif %}
            </div>
        </div>

        {% if advanced_user %}
            <hr class="border-3 opacity-75 red-dark">
            <h5 class="text-center red-dark">Champs réservés aux administrateurs</h5>
            <hr class="border-3 opacity-75 red-dark">

            <!-- Rang absolu -->
            <div class="row justify-content-start ml-0">
                <div class="form-group">
                    {{ form.absolute_rank.label_tag }}

                    {% if form.is_bound %}
                        {% if form.absolute_rank.errors %}
                            {% render_field form.absolute_rank class="form-control is-invalid" %}
                            {% for error in form.absolute_rank.errors %}
                                <div class="invalid-feedback" style="display: block;">
                                    {{ error }}
                                </div>
                            {% endfor %}
                        {% else %}
                            {% render_field form.absolute_rank class="form-control is-valid" %}
                        {% endif %}
                    {% else %}
                        {% render_field form.absolute_rank class="form-control" %}
                    {% endif %}

                    {% if form.absolute_rank.help_text %}
                        <small class="form-text text-muted">
                            {{ form.absolute_rank.help_text }}
                        </small>
                    {% endif %}
                </div>
            </div>

            <!-- Is active -->
            <div class="d-flex justify-content-start ml-0">
                <div class="form-group">
                    {% if form.is_bound %}
                        {% if form.is_active.errors %}
                            {% render_field form.is_active class="is-invalid" %}
                            {% for error in form.is_active.errors %}
                                <div class="invalid-feedback" style="display: block;">
                                    {{ error }}
                                </div>
                            {% endfor %}
                        {% else %}
                            {% render_field form.is_active class="is-valid" %}
                        {% endif %}
                    {% else %}
                        {% render_field form.is_active %}
                    {% endif %}

                    {% if form.is_active.help_text %}
                        <small class="form-text text-muted">
                            {{ form.is_active.help_text }}
                        </small>
                    {% endif %}

                    {{ form.is_active.label_tag }}
                </div>
            </div>

            <!-- Mandatory recipient of Absences -->
            <div class="d-flex justify-content-start ml-0">
                <div class="form-group">
                    {% if form.is_bound %}
                        {% if form.absences_recipient.errors %}
                            {% render_field form.absences_recipient class="is-invalid" %}
                            {% for error in form.absences_recipient.errors %}
                                <div class="invalid-feedback" style="display: block;">
                                    {{ error }}
                                </div>
                            {% endfor %}
                        {% else %}
                            {% render_field form.absences_recipient class="is-valid" %}
                        {% endif %}
                    {% else %}
                        {% render_field form.absences_recipient %}
                    {% endif %}

                    {% if form.absences_recipient.help_text %}
                        <small class="form-text text-muted">
                            {{ form.absences_recipient.help_text }}
                        </small>
                    {% endif %}

                    {{ form.absences_recipient.label_tag }}
                </div>
            </div>
        {% endif %}

        <!-- Validation -->
        <div class="d-flex justify-content-center my-5">
            {% if monk %}
                <a href={% url 'moines:details' monk.pk %} class="btn btn-primary mx-3">Annuler</a>
            {% else %}
                <a href={% url 'moines:list' %} class="btn btn-primary mx-3">Annuler</a>
            {% endif %}
            <button type="submit" class="btn btn-success mx-3">Valider</button>
        </div>
    </form>
{% endblock content %}

{% block javascript %}
    <script src={% static 'main/js/popper.min.js' %}></script>
    <script src={% static 'main/tempusdominus/tempus-dominus.min.js' %}></script>
    <script src={% static 'main/js/tempusdominus-abbaye.js' %}></script>
    <script src={% static 'moines/js/tempusdominus-moines.js' %}></script>
{% endblock javascript %}
