{% extends 'moines/main_moines.html' %}

{% block breadcrumbs %}
    <li class="breadcrumb-item active">Moines</li>
{% endblock breadcrumbs %}

{% block content %}
    <table class="table table-bordered">
        <tr class="text-center red-dark">
            <th class="col-1">Moine</th>
            <th class="col-1">Naissance</th>
            <th class="col-1">Entrée</th>
            <th class="col-1">Prise d'habit</th>
            <th class="col-1">Profession temporaire</th>
            <th class="col-1">Profession perpétuelle</th>
            <th class="col-1">Ordination</th>
        </tr>

        {% for monk in monks %}
            <tr>
                <td class="text-center fw-bold"><a href={% url 'moines:details' monk.pk %}>{{ monk }}<a ></td>
                <td>{{ monk.birthday_french }}</td>
                <td>{{ monk.entry_french }}</td>
                {% if monk.habit %}
                    <td>{{ monk.habit_french }}</td>
                {% else %}
                    <td></td>
                {% endif %}
                {% if monk.profession_temp %}
                    <td>{{ monk.profession_temp_french }}</td>
                {% else %}
                    <td></td>
                {% endif %}
                {% if monk.profession_perp %}
                    <td>{{ monk.profession_perp_french }}</td>
                {% else %}
                    <td></td>
                {% endif %}
                {% if monk.priest %}
                    <td>{{ monk.priest_french }}</td>
                {% else %}
                    <td></td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
{% endblock content %}
