{% extends 'hotellerie/main_hotellerie.html' %}

{% load static %}
{% load widget_tweaks %}

{% block css %}
    <link rel="stylesheet" href={% static 'main/jquery-ui-1.12.1/jquery-ui.min.css' %}>
{% endblock css %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href={% url 'hotellerie:main_home' %}>Hôtellerie</a></li>
    <li class="breadcrumb-item"><a href={% url 'hotellerie:parloirs_list' %}>Parloirs</a></li>

    {% if parloir %}
        <li class="breadcrumb-item"><a href={% url 'hotellerie:parloirs_details' parloir.id %}>{{ parloir }}</a></li>
        <li class="breadcrumb-item active">Modifier</li>
    {% else %}
        <li class="breadcrumb-item active">Créer</li>
    {% endif %}
{% endblock breadcrumbs %}

{% block content %}
    {% if parloir %}
        <h2>{{ parloir }}</h2>
    {% else %}
        <h2>Créer un nouveau parloir</h2>
    {% endif %}

    <form method="post" novalidate>
        {% csrf_token %}

        <!-- Moine 1 -->
        <div class="form-group">
            {{ form.personne_1.label_tag }}

            {% if form.is_bound %}
                {% if form.personne_1.errors %}
                    {% render_field form.personne_1 class="form-control is-invalid" %}
                    {% for error in form.personne_1.errors %}
                        <div class="invalid-feedback" style="display: block;">
                            {{ error }}
                        </div>
                    {% endfor %}
                {% else %}
                    {% render_field form.personne_1 class="form-control is-valid" %}
                {% endif %}
            {% else %}
                {% render_field form.personne_1 class="form-control" %}
            {% endif %}

            {% if form.personne_1.help_text %}
                <small class="form-text text-muted">
                    {{ form.personne_1.help_text }}
                </small>
            {% endif %}
        </div>


        <!-- Moine 2 -->
        <div class="form-group">
            {{ form.personne_2.label_tag }}

            {% if form.is_bound %}
                {% if form.personne_2.errors %}
                    {% render_field form.personne_2 class="form-control is-invalid" %}
                    {% for error in form.personne_2.errors %}
                        <div class="invalid-feedback" style="display: block;">
                            {{ error }}
                        </div>
                    {% endfor %}
                {% else %}
                    {% render_field form.personne_2 class="form-control is-valid" %}
                {% endif %}
            {% else %}
                {% render_field form.personne_2 class="form-control" %}
            {% endif %}

            {% if form.personne_2.help_text %}
                <small class="form-text text-muted">
                    {{ form.personne_2.help_text }}
                </small>
            {% endif %}
        </div>


        <!-- Moine 3 -->
        <div class="form-group">
            {{ form.personne_3.label_tag }}

            {% if form.is_bound %}
                {% if form.personne_3.errors %}
                    {% render_field form.personne_3 class="form-control is-invalid" %}
                    {% for error in form.personne_3.errors %}
                        <div class="invalid-feedback" style="display: block;">
                            {{ error }}
                        </div>
                    {% endfor %}
                {% else %}
                    {% render_field form.personne_3 class="form-control is-valid" %}
                {% endif %}
            {% else %}
                {% render_field form.personne_3 class="form-control" %}
            {% endif %}

            {% if form.personne_3.help_text %}
                <small class="form-text text-muted">
                    {{ form.personne_3.help_text }}
                </small>
            {% endif %}
        </div>


        <!-- Nombre -->
        <div class="row justify-content-start ml-0">
            {{ form.nombre.label_tag }}

            <div class="form-group">
                {% if form.is_bound %}
                    {% if form.nombre.errors %}
                        {% render_field form.nombre class="form-control is-invalid" %}
                        {% for error in form.nombre.errors %}
                            <div class="invalid-feedback" style="display: block;">
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% else %}
                        {% render_field form.nombre class="form-control is-valid" %}
                    {% endif %}
                {% else %}
                    {% render_field form.nombre class="form-control" %}
                {% endif %}
                
                {% if form.nombre.help_text %}
                    <small class="form-text text-muted">
                        {{ form.nombre.help_text }}
                    </small>
                {% endif %}
            </div>
        </div>


        <!-- Date -->
        <div class="row justify-content-start ml-0">
            {{ form.date.label_tag }}

            <div class="form-group">
                {% if form.is_bound %}
                    {% if form.date.errors %}
                        {% render_field form.date class="form-control input-date is-invalid" %}
                        {% for error in form.date.errors %}
                            <div class="invalid-feedback" style="display: block;">
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% else %}
                        {% render_field form.date class="form-control input-date is-valid" %}
                    {% endif %}
                {% else %}
                    {% render_field form.date class="form-control input-date" %}
                {% endif %}

                {% if form.date.help_text %}
                    <small class="form-text text-muted">
                        {{ form.date.help_text }}
                    </small>
                {% endif %}
            </div>
        </div>


        <!-- Repas -->
        <div class="row justify-content-start ml-0">
            {{ form.repas.label_tag }}

            <div class="form-group">
                {% if form.is_bound %}
                    {% if form.repas.errors %}
                        {% render_field form.repas class="form-control is-invalid" %}
                        {% for error in form.repas.errors %}
                            <div class="invalid-feedback" style="display: block;">
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% else %}
                        {% render_field form.repas class="form-control is-valid" %}
                    {% endif %}
                {% else %}
                    {% render_field form.repas class="form-control" %}
                {% endif %}

                {% if form.repas.help_text %}
                    <small class="form-text text-muted">
                        {{ form.repas.help_text }}
                    </small>
                {% endif %}
            </div>
        </div>


        <!-- Parloir -->
        <div class="row justify-content-start ml-0">
            {{ form.parloir.label_tag }}

            <div class="form-group">
                {% if form.is_bound %}
                    {% if form.parloir.errors %}
                        {% render_field form.parloir class="form-control is-invalid" %}
                        {% for error in form.parloir.errors %}
                            <div class="invalid-feedback" style="display: block;">
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% else %}
                        {% render_field form.parloir class="form-control is-valid" %}
                    {% endif %}
                {% else %}
                    {% render_field form.parloir class="form-control" %}
                {% endif %}

                {% if form.parloir.help_text %}
                    <small class="form-text text-muted">
                        {{ form.parloir.help_text }}
                    </small>
                {% endif %}
            </div>
        </div>


        <!-- Repas apporté -->
        <div class="d-flex my-2">
            {% if form.is_bound %}
                {% if form.repas_apporte.errors %}
                    {% render_field form.repas_apporte class="is-invalid" %}
                    {% for error in form.repas_apporte.errors %}
                        <div class="invalid-feedback" style="display: block;">
                            {{ error }}
                        </div>
                    {% endfor %}
                {% else %}
                    {% render_field form.repas_apporte class="is-valid" %}
                {% endif %}
            {% else %}
                {% render_field form.repas_apporte %}
            {% endif %}

            {% if form.repas_apporte.help_text %}
                <small class="form-text text-muted">
                    {{ form.repas_apporte.help_text }}
                </small>
            {% endif %}

            {{ form.repas_apporte.label_tag }}
        </div>

        <!-- Commentaire -->
        <div class="form-group">
            {{ form.remarque.label_tag }}
            {% if form.is_bound %}
                {% if form.remarque.errors %}
                    {% render_field form.remarque class="form-control is-invalid" %}
                    {% for error in form.remarque.errors %}
                        <div class="invalid-feedback" style="display: block;">
                            {{ error }}
                        </div>
                    {% endfor %}
                {% else %}
                    {% render_field form.remarque class="form-control is-valid" %}
                {% endif %}
            {% else %}
                {% render_field form.remarque class="form-control" %}
            {% endif %}
            
            {% if form.remarque.help_text %}
                <small class="form-text text-muted">
                    {{ form.remarque.help_text }}
                </small>
            {% endif %}
        </div>


        <!-- Validation -->
        <div class="d-flex justify-content-center">
            {% if parloir %}
                <a href={% url 'hotellerie:parloirs_details' parloir.id %} class="btn btn-primary mx-3">Annuler</a>
            {% else %}
                <a href={% url 'hotellerie:parloirs_list' %} class="btn btn-primary mx-3">Annuler</a>
            {% endif %}
            <button type="submit" class="btn btn-success mx-3">Valider</button>
        </div>
    </form>
{% endblock %}

{% block javascript %}
    {{ form.media }}
    <script src={% static 'main/jquery-ui-1.12.1/jquery-ui.min.js' %}></script>
    <script src={% static 'hotellerie/js/datepickers.js' %}></script>
{% endblock javascript %}
