{% extends 'imprimerie/main_imprimerie.html' %}

{% load static %}
{% load widget_tweaks %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href={% url 'imprimerie:home' %}>Imprimerie</a></li>
    <li class="breadcrumb-item"><a href={% url 'imprimerie:projects_list' %}>Projets</a></li>
    <li class="breadcrumb-item"><a href={% url 'imprimerie:project_details' project.pk %}>{{ project }}</a></li>
    {% if element %}
        <li class="breadcrumb-item"><a href={% url 'imprimerie:element_details' project.pk element.pk %}>{{ element }}</a></li>
        <li class="breadcrumb-item active">Modifier</li>
    {% else %}
        <li class="breadcrumb-item active">Créer un élément</li>
    {% endif %}
{% endblock breadcrumbs %}

{% block content %}
    <h4>{{ project }}</h4>

    <div class="d-flex flex-column align-items-center">
        <form method="post" novalidate class="d-flex flex-column align-items-center">
            {% csrf_token %}

            <!-- Nom -->
            <div class='form-group d-flex flex-column align-items-start'>
                {{ form.name.label_tag }}
                {% if form.is_bound %}
                    {% if form.name.errors %}
                        {% render_field form.name class='is-invalid' %}
                        {% for error in form.name.errors %}
                            <div class='invalid-feedback d-block'>
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% else %}
                        {% render_field form.name class='is-valid' %}
                    {% endif %}
                {% else %}
                    {% render_field form.name %}
                {% endif %}
                {% if form.name.help_text %}
                    <small class='form-text text-muted'>
                        {{ form.name.help_text }}
                    </small>
                {% endif %}
            </div>

            <!-- Papier -->
            <div class='form-group d-flex flex-column align-items-start'>
                {{ form.paper.label_tag }}
                {% if form.is_bound %}
                    {% if form.paper.errors %}
                        {% render_field form.paper class='is-invalid' %}
                        {% for error in form.paper.errors %}
                            <div class='invalid-feedback d-block'>
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% else %}
                        {% render_field form.paper class='is-valid' %}
                    {% endif %}
                {% else %}
                    {% render_field form.paper %}
                {% endif %}
                {% if form.paper.help_text %}
                    <small class='form-text text-muted'>
                        {{ form.paper.help_text }}
                    </small>
                {% endif %}
            </div>

            <div class="w-100 d-flex justify-content-center align-items-between">
                <a class="btn btn-secondary mx-1" href={% url 'imprimerie:project_details' project.pk %}>Annuler</a>
                <button type="submit" class="btn btn-primary mx-1">Valider</button>
            </div>
        </form>
    </div>
{% endblock content %}

{% block javascript %}
    {{ form.media }}
{% endblock javascript %}
