{% extends 'main.html' %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href={% url 'hotellerie:main_home' %}>Hôtellerie</a></li>
    <li class="breadcrumb-item active">Retraites</li>
{% endblock breadcrumbs %}

{% block content %}
    <h1 class="mb-3">Retraites</h1>

    <div class="col-6">
        <div class="text-center mb-4">
            <a href={% url 'hotellerie:retreats_create' %}>Ajouter une retraite</a>
        </div>

        <table class="table table-sm table-bordered">
            {% for retreat in retreats %}
                <tr>
                    <td>Retraite du {{ retreat.date_from }} au {{ retreat.date_to }}</td>
                    <td class="text-center">
                        <a href={% url 'hotellerie:retreats_details' retreat.id %}>
                            <span class="fas fa-eye" title="Voir les détails"></span>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock content %}