#nav {
    margin-left: auto;

    span {
        cursor: pointer;
        margin: 0px 5px 0px 5px;
    }
}

h5 {
    font-family: "LucidaHW";
}

table {
    a:hover {
        text-decoration: none;
    }

    .text-justify {
        text-align: justify;
    }

    td {
        border: 0px;
    }

    .td_ref {
        width: 10%;
    }

    .td_hebrew,
    .td_greek,
    .td_latin {
        width: 30%;
    }

    .td_hebrew,
    #id_txt_hebrew {
        font-family: "Hebrew";
        font-size: 16pt;
    }

    .td_greek,
    #id_txt_greek {
        font-family: "Greek";
        font-size: 15pt;
    }

    .td_latin,
    #id_txt_latin {
        font-family: 'Latin';
        font-size: 12pt;
    }
}