{% extends 'main.html' %}

{% block nav_and_breadcrumbs %}
{% endblock nav_and_breadcrumbs %}

{% block content %}
    <div>
        <h6 class="text-center">+</h6>
        <h6 class="text-center">PAX</h6>
        <h3 class="text-center">LISTE DES HÔTES</h3>

        <p class="text-center"><a href="{{ MEDIA_URL }}hotellerie/hospites.csv" class="btn btn-success btn-sm">Télécharger le fichier csv</a><p >

        <div class="border border-success rounded m-1 p-3">
            <h5 class="text-center">Explication des symboles</h5>
            <h6><span class="fas fa-arrow-alt-circle-right green mr-1"></span>Premier repas</h6>
            <h6><span class="fas fa-arrow-alt-circle-left red mr-1"></span>Dernier repas</h6>
            <h6><span class="fas fa-thumbs-up orange mr-1"></span>Monorepas</h6>
        </div>
    </div>

    {% for day in days.values %}
        <div class="col-6 day">
            {% include 'hotellerie/listings/cuisine_unit.html' %}
        </div>
    {% endfor %}
{% endblock content %}
