<div class="mt-5 p-3 border border-success rounded p-1">
    <h2 class="text-center red">{{ day.day_string }}</h2>

    <!-- DÉJEUNER -->
    <h3 class="green text-center">Déjeuner</h3>

    <!-- Table des hôtes -->
    {% if day.midi.table_hotes %}<h5 class="background blue mb-0 mt-1">Table des hôtes [{{  day.midi.total_table_hotes_midi }}]</h5>{% endif %}

    {% for hote in day.midi.table_hotes %}
        <div class="row ml-5">
            {% if hote.is_monorepas %}
                <span class="fas fa-thumbs-up orange"></span>
            {% else %}
                {% if hote.is_last_repas %}
                    <span class="fas fa-arrow-alt-circle-left red"></span>
                {% endif %}
                {% if hote.is_first_repas %}
                    <span class="fas fa-arrow-alt-circle-right green"></span>
                {% endif %}
            {% endif %}
            <p class="ml-1 my-0">{{ hote.hote }}{% if hote.nombre > 1 %} [{{ hote.nombre }}]{% endif %}</p>
        </div>
    {% endfor %}

    <!-- Table abbatiale -->
    {% if day.midi.table_abbatiale %}<h5 class="background blue mb-0 mt-1">Table abbatiale [{{ day.midi.total_table_abbatiale_midi }}]</h5>{% endif %}

    {% for hote in day.midi.table_abbatiale %}
        <div class="row ml-5">
            {% if hote.is_monorepas %}
                <span class="fas fa-thumbs-up orange"></span>
            {% else %}
                {% if hote.is_last_repas %}
                    <span class="fas fa-arrow-alt-circle-left red"></span>
                {% endif %}
                {% if hote.is_first_repas %}
                    <span class="fas fa-arrow-alt-circle-right green"></span>
                {% endif %}
            {% endif %}
            <p class="ml-1 my-0">{{ hote.hote }}{% if hote.nombre > 1 %} [{{ hote.nombre }}]{% endif %}</p>
        </div>
    {% endfor %}

    <!-- Table des moines -->
    {% if day.midi.table_moines %}<h5 class="background blue mb-0 mt-1">Table des moines [{{ day.midi.total_table_moines_midi }}]</h5>{% endif %}

    {% for hote in day.midi.table_moines %}
        <div class="row ml-5">
            {% if hote.is_monorepas %}
                <span class="fas fa-thumbs-up orange"></span>
            {% else %}
                {% if hote.is_last_repas %}
                    <span class="fas fa-arrow-alt-circle-left red"></span>
                {% endif %}
                {% if hote.is_first_repas %}
                    <span class="fas fa-arrow-alt-circle-right green"></span>
                {% endif %}
            {% endif %}
            <p class="ml-1 my-0">{{ hote.hote }}{% if hote.nombre > 1 %} [{{ hote.nombre }}]{% endif %}</p>
        </div>
    {% endfor %}

    <!-- Repas aux parloirs -->
    {% if day.midi.table_parloirs %}<h5 class="background blue mb-0 mt-1">Hôtes aux parloirs [{{ day.midi.total_table_parloirs_midi }}]</h5>{% endif %}

    {% for hote in day.midi.table_parloirs %}
        <div class="row ml-5">
            {% if hote.is_monorepas %}
                <span class="fas fa-thumbs-up orange"></span>
            {% else %}
                {% if hote.is_last_repas %}
                    <span class="fas fa-arrow-alt-circle-left red"></span>
                {% endif %}
                {% if hote.is_first_repas %}
                    <span class="fas fa-arrow-alt-circle-right green"></span>
                {% endif %}
            {% endif %}
            <p class="ml-1 my-0">{{ hote.hote }}{% if hote.nombre > 1 %} [{{ hote.nombre }}]{% endif %}</p>
        </div>
    {% endfor %}

    <!-- Parloirs (moines) -->
    {% if day.midi.parloirs %}<h5 class="background orange mb-0 mt-1">Parloirs [{{ day.midi.total_parloirs_midi }}]</h5>{% endif %}

    {% for parloir in day.midi.parloirs %}
        <div class="row ml-5">
            <p class="ml-1 my-0">
                {{ parloir.moines_string }}
                + {{ parloir.nombre }}
                {% if parloir.repas_apporte %} (repas apporté){% endif %}
            </p>
        </div>
    {% endfor %}


    <!-- DÎNER -->
    <h3 class="green text-center mt-3">Dîner</h3>

    <!-- Table des hôtes -->
    {% if day.soir.table_hotes %}<h5 class="background blue mb-0 mt-1">Table des hôtes [{{ day.soir.total_table_hotes_soir }}]</h5>{% endif %}

    {% for hote in day.soir.table_hotes %}
        <div class="row ml-5">
            {% if hote.is_monorepas %}
                <span class="fas fa-thumbs-up orange"></span>
            {% else %}
                {% if hote.is_last_repas %}
                    <span class="fas fa-arrow-alt-circle-left red"></span>
                {% endif %}
                {% if hote.is_first_repas %}
                    <span class="fas fa-arrow-alt-circle-right green"></span>
                {% endif %}
            {% endif %}
            <p class="ml-1 my-0">{{ hote.hote }}{% if hote.nombre > 1 %} [{{ hote.nombre }}]{% endif %}</p>
        </div>
    {% endfor %}

    <!-- Table abbatiale -->
    {% if day.soir.table_abbatiale %}<h5 class="background blue mb-0 mt-1">Table abbatiale [{{ day.soir.total_table_abbatiale_soir }}]</h5>{% endif %}

    {% for hote in day.soir.table_abbatiale %}
        <div class="row ml-5">
            {% if hote.is_monorepas %}
                <span class="fas fa-thumbs-up orange"></span>
            {% else %}
                {% if hote.is_last_repas %}
                    <span class="fas fa-arrow-alt-circle-left red"></span>
                {% endif %}
                {% if hote.is_first_repas %}
                    <span class="fas fa-arrow-alt-circle-right green"></span>
                {% endif %}
            {% endif %}
            <p class="ml-1 my-0">{{ hote.hote }}{% if hote.nombre > 1 %} [{{ hote.nombre }}]{% endif %}</p>
        </div>
    {% endfor %}

    <!-- Table des moines -->
    {% if day.soir.table_moines %}<h5 class="background blue mb-0 mt-1">Table des moines [{{ day.soir.total_table_moines_soir }}]</h5>{% endif %}

    {% for hote in day.soir.table_moines %}
        <div class="row ml-5">
            {% if hote.is_monorepas %}
                <span class="fas fa-thumbs-up orange"></span>
            {% else %}
                {% if hote.is_last_repas %}
                    <span class="fas fa-arrow-alt-circle-left red"></span>
                {% endif %}
                {% if hote.is_first_repas %}
                    <span class="fas fa-arrow-alt-circle-right green"></span>
                {% endif %}
            {% endif %}
            <p class="ml-1 my-0">{{ hote.hote }}{% if hote.nombre > 1 %} [{{ hote.nombre }}]{% endif %}</p>
        </div>
    {% endfor %}

    <!-- Repas aux parloirs -->
    {% if day.soir.table_parloirs %}<h5 class="background blue mb-0 mt-1">Hôtes aux parloirs [{{ day.soir.total_table_parloirs_soir }}]</h5>{% endif %}

    {% for hote in day.soir.table_parloirs %}
        <div class="row ml-5">
            {% if hote.is_monorepas %}
                <span class="fas fa-thumbs-up orange"></span>
            {% else %}
                {% if hote.is_last_repas %}
                    <span class="fas fa-arrow-alt-circle-left red"></span>
                {% endif %}
                {% if hote.is_first_repas %}
                    <span class="fas fa-arrow-alt-circle-right green"></span>
                {% endif %}
            {% endif %}
            <p class="ml-1 my-0">{{ hote.hote }}{% if hote.nombre > 1 %} [{{ hote.nombre }}]{% endif %}</p>
        </div>
    {% endfor %}

    <!-- Parloirs (moines) -->
    {% if day.soir.parloirs %}<h5 class="background orange mb-0 mt-1">Parloirs [{{ day.soir.total_parloirs_soir }}]</h5>{% endif %}

    {% for parloir in day.soir.parloirs %}
        <div class="row ml-5">
            <p class="ml-1 my-0">
                {{ parloir.moines_string }}
                + {{ parloir.nombre }}
                {% if parloir.repas_apporte %} (repas apporté){% endif %}
            </p>
        </div>
    {% endfor %}
</div>
