{% extends 'main.html' %}

{% load static %}
{% load widget_tweaks %}

{% block css %}
    <link rel="stylesheet" href={% static 'main/jquery-ui-1.12.1/jquery-ui.min.css' %}>
    <link rel="stylesheet/less" href={% static 'livrets/css/livrets.less'%}>
{% endblock css %}

{% block breadcrumbs %}
    <li class="breadcrumb-item active">Livrets</li>
{% endblock breadcrumbs %}

{% block content %}
    <h1>Messe conventuelle</h1>
    <h2 class="red-dark">Livret pour les retraitants</h2>

    <div class="d-flex flex-column align-items-center">
        <div id="options">
            <div id="mode">
                <!-- Mode -->
                <div class="form-check-inline mx-2">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="mg" checked>
                    <label class="form-check-label" for="mg">Missel grégorien</label>
                </div>
                <div class="form-check-inline mx-2">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="full">
                    <label class="form-check-label" for="full">Livret complet</label>
                </div>
            </div>

            <table class="table table-borderless">
                <tr>
                    <!-- Date de départ -->
                    <td class="align-middle">
                        <p class="blue fw-bold m-0">Date de départ : </p>
                    </td>
                    <td class="align-middle">
                        <input id="start" class="form-control" type="text" style="width: 120px;">
                    </td>
                </tr>
    
                <tr>
                    <!-- Nombre de jours -->
                    <td class="align-middle">
                        <p class="blue fw-bold m-0">Nombre de jours :</p>
                    </td>
                    <td class="align-middle">
                        <select name="number_of_days" id="number_of_days" style="width: 120px;">
                            {% for i in number_of_days %}
                                <option value={{ i }} {% if i == 5 %}selected{% endif %}>{{ i }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
            </table>
        </div>

        <!-- Lignes Graduel -->
        <table id="graduel" class="table table-borderless">
            <tr>
                <th class="green text-center"></th>
                <th class="green text-center">IN</th>
                <th class="green text-center">GR</th>
                <th class="green text-center">AL</th>
                <th class="green text-center">OF</th>
                <th class="green text-center">CO</th>
                <th class="green text-center">KY</th>
                <th class="green text-center">GL</th>
                <th class="green text-center">SA</th>
                <th class="green text-center">CR</th>
            </tr>
            {% for i in number_of_days %}
                <tr id="row_{{ i }}">
                    <td id="date_{{ i }}" class="date fw-bold"></td>
                    <td><input type="text" id="in_{{ forloop.counter }}" class="score form-control"></td>
                    <td><input type="text" id="gr_{{ forloop.counter }}" class="score form-control"></td>
                    <td><input type="text" id="al_{{ forloop.counter }}" class="score form-control"></td>
                    <td><input type="text" id="of_{{ forloop.counter }}" class="score form-control"></td>
                    <td><input type="text" id="co_{{ forloop.counter }}" class="score form-control"></td>
                    <td><input type="text" id="ky_{{ forloop.counter }}" class="score form-control"></td>
                    <td><input type="text" id="gl_{{ forloop.counter }}" class="score form-control"></td>
                    <td><input type="text" id="sa_{{ forloop.counter }}" class="score form-control"></td>
                    <td><input type="text" id="cr_{{ forloop.counter }}" class="score form-control"></td>
                </tr>
            {% endfor %}
        </table>

        <!-- Button "View PDF" -->
        <div>
            <div class="d-flex flex-column align-items-center">
                <input type="button" id="pdf" class="btn btn-primary" value="Voir le PDF">
            </div>
        </div>

        <!-- Screen "Wait please…" -->
        <div id="overlay_wait">
            <img src={% static 'main/img/wait.gif' %} class="mx-auto mb-5" style="height: 30px; width:30px;">
            <p>Votre livret est en cours de préparation…</p>
            <p>Veuillez patienter quelques instants…</p>
        </div>

        <!-- Screen "Ready!" -->
        <div id="overlay_ready">
            <p>Votre livret est prêt !</p>
            <div id="display_pdf" class="btn btn-outline-secondary text-light">Afficher</div>
        </div>
    </div>
{% endblock content %}

{% block javascript %}
    <script src={% static 'main/jquery-ui-1.12.1/jquery-ui.min.js' %}></script>
    <script src={% static 'livrets/js/livrets.js' %}></script>
{% endblock javascript %}
