{% extends 'imprimerie/main_imprimerie.html' %}

{% block breadcrumbs %}
    <li class="breadcrumb-item active">Imprimerie</li>
{% endblock breadcrumbs %}

{% block content %}
    <div class="d-flex flex-column align-items-center">
        <h1>Bienvenue sur Imprimerie !</h1>
    </div>

    <a href={% url 'imprimerie:work' %}>Travaux</a>
    <a href={% url 'imprimerie:memo' %}>Mémo</a>
    <a href={% url 'imprimerie:clients_list' %}>Clients</a>
    <a href={% url 'imprimerie:papers_list' %}>Papiers</a>
    <a href={% url 'imprimerie:projects_list' %}>Projets</a>
{% endblock content %}
