{% extends 'imprimerie/main_imprimerie.html' %}

{% load widget_tweaks %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href={% url 'imprimerie:home' %}>Imprimerie</a></li>
    <li class="breadcrumb-item"><a href={% url 'imprimerie:papers_list' %}>Papiers</a></li>
    {% if paper %}
        <li class="breadcrumb-item"><a href={% url 'imprimerie:paper_details' paper.pk %}>{{ paper }}</a></li>
        <li class="breadcrumb-item active">Modifier</li>
    {% else %}
        <li class="breadcrumb-item active">Créer</li>
    {% endif %}
{% endblock breadcrumbs %}

{% block content %}
    <form method="post" novalidate class="d-flex flex-column align-items-center">
            {% csrf_token %}
        
        <div class="d-flex flex-column w-100 my-3">
            <!-- Nom -->
            <div class='form-group d-flex flex-column align-items-start'>
                {{ form.name.label_tag }}
                {% if form.is_bound %}
                    {% if form.name.errors %}
                        {% render_field form.name class='is-invalid' %}
                        {% for error in form.name.errors %}
                            <div class='invalid-feedback d-block'>
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% else %}
                        {% render_field form.name class='is-valid' %}
                    {% endif %}
                {% else %}
                    {% render_field form.name %}
                {% endif %}
                {% if form.name.help_text %}
                    <small class='form-text text-muted'>
                        {{ form.name.help_text }}
                    </small>
                {% endif %}
            </div>

            <!-- Grammage -->
            <div class='form-group d-flex flex-column align-items-start'>
                {{ form.weight.label_tag }}
                {% if form.is_bound %}
                    {% if form.weight.errors %}
                        {% render_field form.weight class='is-invalid' %}
                        {% for error in form.weight.errors %}
                            <div class='invalid-feedback d-block'>
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% else %}
                        {% render_field form.weight class='is-valid' %}
                    {% endif %}
                {% else %}
                    {% render_field form.weight %}
                {% endif %}
                {% if form.weight.help_text %}
                    <small class='form-text text-muted'>
                        {{ form.weight.help_text }}
                    </small>
                {% endif %}
            </div>

            <!-- Dimension 1 -->
            <div class='form-group d-flex flex-column align-items-start'>
                {{ form.dim1.label_tag }}
                {% if form.is_bound %}
                    {% if form.dim1.errors %}
                        {% render_field form.dim1 class='is-invalid' %}
                        {% for error in form.dim1.errors %}
                            <div class='invalid-feedback d-block'>
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% else %}
                        {% render_field form.dim1 class='is-valid' %}
                    {% endif %}
                {% else %}
                    {% render_field form.dim1 %}
                {% endif %}
                {% if form.dim1.help_text %}
                    <small class='form-text text-muted'>
                        {{ form.dim1.help_text }}
                    </small>
                {% endif %}
            </div>

            <!-- Dimension 2 -->
            <div class='form-group d-flex flex-column align-items-start'>
                {{ form.dim2.label_tag }}
                {% if form.is_bound %}
                    {% if form.dim2.errors %}
                        {% render_field form.dim2 class='is-invalid' %}
                        {% for error in form.dim2.errors %}
                            <div class='invalid-feedback d-block'>
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% else %}
                        {% render_field form.dim2 class='is-valid' %}
                    {% endif %}
                {% else %}
                    {% render_field form.dim2 %}
                {% endif %}
                {% if form.dim2.help_text %}
                    <small class='form-text text-muted'>
                        {{ form.dim2.help_text }}
                    </small>
                {% endif %}
            </div>

            <!-- Épaisseur -->
            <div class='form-group d-flex flex-column align-items-start'>
                {{ form.thickness.label_tag }}
                {% if form.is_bound %}
                    {% if form.thickness.errors %}
                        {% render_field form.thickness class='is-invalid' %}
                        {% for error in form.thickness.errors %}
                            <div class='invalid-feedback d-block'>
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% else %}
                        {% render_field form.thickness class='is-valid' %}
                    {% endif %}
                {% else %}
                    {% render_field form.thickness %}
                {% endif %}
                {% if form.thickness.help_text %}
                    <small class='form-text text-muted'>
                        {{ form.thickness.help_text }}
                    </small>
                {% endif %}
            </div>

            <!-- Feuilles par paquet -->
            <div class='form-group d-flex flex-column align-items-start'>
                {{ form.sheets_by_pack.label_tag }}
                {% if form.is_bound %}
                    {% if form.sheets_by_pack.errors %}
                        {% render_field form.sheets_by_pack class='is-invalid' %}
                        {% for error in form.sheets_by_pack.errors %}
                            <div class='invalid-feedback d-block'>
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% else %}
                        {% render_field form.sheets_by_pack class='is-valid' %}
                    {% endif %}
                {% else %}
                    {% render_field form.sheets_by_pack %}
                {% endif %}
                {% if form.sheets_by_pack.help_text %}
                    <small class='form-text text-muted'>
                        {{ form.sheets_by_pack.help_text }}
                    </small>
                {% endif %}
            </div>

            <!-- Prix remisé -->
            <div class='form-group d-flex flex-column align-items-start'>
                {{ form.price_remise.label_tag }}
                {% if form.is_bound %}
                    {% if form.price_remise.errors %}
                        {% render_field form.price_remise class='is-invalid' %}
                        {% for error in form.price_remise.errors %}
                            <div class='invalid-feedback d-block'>
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% else %}
                        {% render_field form.price_remise class='is-valid' %}
                    {% endif %}
                {% else %}
                    {% render_field form.price_remise %}
                {% endif %}
                {% if form.price_remise.help_text %}
                    <small class='form-text text-muted'>
                        {{ form.price_remise.help_text }}
                    </small>
                {% endif %}
            </div>

            <!-- Prix full -->
            <div class='form-group d-flex flex-column align-items-start'>
                {{ form.price_full.label_tag }}
                {% if form.is_bound %}
                    {% if form.price_full.errors %}
                        {% render_field form.price_full class='is-invalid' %}
                        {% for error in form.price_full.errors %}
                            <div class='invalid-feedback d-block'>
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% else %}
                        {% render_field form.price_full class='is-valid' %}
                    {% endif %}
                {% else %}
                    {% render_field form.price_full %}
                {% endif %}
                {% if form.price_full.help_text %}
                    <small class='form-text text-muted'>
                        {{ form.price_full.help_text }}
                    </small>
                {% endif %}
            </div>

            {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                    <div class='invalid-feedback d-block'>
                        {{ error }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <div class="w-100 d-flex justify-content-center align-items-between">
            {% if paper %}
                <a class="btn btn-secondary mx-1" href={% url 'imprimerie:paper_details' paper.pk %}>Annuler</a>
            {% else %}
                <a class="btn btn-secondary mx-1" href={% url 'imprimerie:papers_list' %}>Annuler</a>
            {% endif %}
            <button type="submit" class="btn btn-primary mx-1">Valider</button>
        </div>
    </form>
{% endblock content %}
