{% extends 'main.html' %}

{% block breadcrumbs %}
    <li class="breadcrumb-item active">Maisons</li>
{% endblock breadcrumbs %}

{% block content %}
    <div class="d-flex flex-column align-items-center">
        <h1>Calendrier des maisons</h1>
        <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=Europe%2FParis&showPrint=0&src=aG90ZWxsZXJpZS5mbGF2aWdueUBnbWFpbC5jb20&src=YWQyZmNhMDE4NmI1NDU3NmM4NDFjZGZiNTE1ZTA1MDdhM2ZkOGRhMTJlODdhYzM5OTZmNGRjZGVkOWY5OGFlNUBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&src=MWE1MzdmZGQ4NTZkYmVmNTgwMzI3YzM3NGQ0ZWNiYzg4ZjhmMWY2ZjJiYjRmOWZhOTk4ZDVhMTM3MmRkM2ZkNUBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&src=YTI2NGRkYzQ3ZDBmZmUyNTljZDU3NzIzOTllYjdmNGQ1ZDI0YzhmZWRmZmY0MWM1MDU1ZDYxMmQwYTE3OTZhZUBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%23039be5&color=%237cb342&color=%23d81b60&color=%23e67c73" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
    </div>
{% endblock content %}
