{% extends 'imprimerie/main_imprimerie.html' %}

{% load static %}
{% load widget_tweaks %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href={% url 'imprimerie:home' %}>Imprimerie</a></li>
    <li class="breadcrumb-item"><a href={% url 'imprimerie:projects_list' %}>Projets</a></li>
    {% if project %}
        <li class="breadcrumb-item"><a href={% url 'imprimerie:project_details' project.pk %}>{{ project }}</a></li>
        <li class="breadcrumb-item active">Modifier</li>
    {% else %}
        <li class="breadcrumb-item active">Créer</li>
    {% endif %}
{% endblock breadcrumbs %}

{% block content %}
    <div class="d-flex flex-column align-items-center">
        {% if project %}
            <h6>Modifier le projet <span class="project">{{ project }}</span></h6>
        {% else %}
            <h6>Ajouter un projet</h6>
        {% endif %}

        <form method="post" novalidate class="d-flex flex-column align-items-center">
            {% csrf_token %}

            <!-- Nom -->
            <div class='form-group d-flex flex-column align-items-start'>
                {{ form.name.label_tag }}
                {% if form.is_bound %}
                    {% if form.name.errors %}
                        {% render_field form.name class='is-invalid' %}
                        {% for error in form.name.errors %}
                            <div class='invalid-feedback d-block'>
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% else %}
                        {% render_field form.name class='is-valid' %}
                    {% endif %}
                {% else %}
                    {% render_field form.name %}
                {% endif %}
                {% if form.name.help_text %}
                    <small class='form-text text-muted'>
                        {{ form.name.help_text }}
                    </small>
                {% endif %}
            </div>

            <!-- Client -->
            <div class='form-group d-flex flex-column align-items-start'>
                {{ form.client.label_tag }}
                {% if form.is_bound %}
                    {% if form.client.errors %}
                        {% render_field form.client class='is-invalid' %}
                        {% for error in form.client.errors %}
                            <div class='invalid-feedback d-block'>
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% else %}
                        {% render_field form.client class='is-valid' %}
                    {% endif %}
                {% else %}
                    {% render_field form.client %}
                {% endif %}
                {% if form.client.help_text %}
                    <small class='form-text text-muted'>
                        {{ form.client.help_text }}
                    </small>
                {% endif %}
            </div>

            <!-- Notes -->
            <div class='form-group d-flex flex-column align-items-start'>
                {{ form.notes.label_tag }}
                {% if form.is_bound %}
                    {% if form.notes.errors %}
                        {% render_field form.notes class='is-invalid' %}
                        {% for error in form.notes.errors %}
                            <div class='invalid-feedback d-block'>
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% else %}
                        {% render_field form.notes class='is-valid' %}
                    {% endif %}
                {% else %}
                    {% render_field form.notes %}
                {% endif %}
                {% if form.notes.help_text %}
                    <small class='form-text text-muted'>
                        {{ form.notes.help_text }}
                    </small>
                {% endif %}
            </div>

            <div class="d-flex justify-content-center align-items-between w-100">
                {% if project %}
                    <a class="btn btn-secondary mx-1" href={% url 'imprimerie:project_details' project.pk %}>Annuler</a>
                {% else %}
                    <a class="btn btn-secondary mx-1" href={% url 'imprimerie:projects_list' %}>Annuler</a>
                {% endif %}
                <button type="submit" class="btn btn-primary mx-1">Valider</button>
            </div>
        </form>
    </div>
{% endblock content %}

{% block javascript %}
    {{ form.media }}
{% endblock javascript %}