{% extends 'imprimerie/main_imprimerie.html' %}

{% load static %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href={% static 'main/datatables/datatables.min.css'%}>
{% endblock css %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href={% url 'imprimerie:home' %}>Imprimerie</a></li>
    <li class="breadcrumb-item active">Projets</li>
{% endblock breadcrumbs %}

{% block content %}
    <h4>Liste des projets</h4>

    <a href={% url 'imprimerie:project_create' %} class="btn btn-primary my-3">Créer un nouveau projet</a>

    <table id="table-projects" class="cell-border order-column hover w-100">
        <thead>
            <tr class="text-center">
                <th class="grey-dark">Créé</th>
                <th class="grey-dark">Modifié</th>
                <th class="red">Nom</th>
                <th>Client</th>
                <th class="col-1">Statut</th>
                <th>Notes</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            {% for project in projects %}
                <tr>
                    <td>
                        <span class="d-none">
                            {{ project.created|date:"Ymd" }}{{ project.created|time:"His" }}
                        </span><!-- Span not displayed, only to be able to sort dates. -->
                        {{ project.created|date:"d/m/Y" }} à {{ project.created|time:"H:i:s" }}
                    </td>
                    <td>
                        <span class="d-none">
                            {{ project.created|date:"Ymd" }}{{ project.created|time:"His" }}
                        </span><!-- Span not displayed, only to be able to sort dates. -->
                        {{ project.modified|date:"d/m/Y" }} à {{ project.modified|time:"H:i:s" }}
                    </td>
                    <td class="fw-bold">{{ project }}</td>
                    <td>{{ project.client }}</td>
                    <td>
                        {% if project.quotation %}
                            <span class="green">D</span>
                        {% else %}
                            <span class="red">D</span>
                        {% endif %}

                        {% if project.validated %}
                            <span class="green">V</span>
                        {% else %}
                            <span class="red">V</span>
                        {% endif %}

                        {% if project.bl %}
                            <span class="green">B</span>
                        {% else %}
                            <span class="red">B</span>
                        {% endif %}

                        {% if project.invoice %}
                            <span class="green">F</span>
                        {% else %}
                            <span class="red">F</span>
                        {% endif %}
                    </td>
                    <td>{{ project.notes|truncatechars:50 }}</td>
                    <td><a href={% url 'imprimerie:project_details' project.pk %}>Détails</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}

{% block javascript %}
    {{ block.super }}
    <script src={% static 'main/datatables/datatables.min.js'%}></script>
    <script src={% static 'imprimerie/js/datatable-imprimerie.js' %}></script>
{% endblock javascript %}
