{% extends 'main.html' %}

{% block breadcrumbs %}
    <li class="breadcrumb-item active">Agenda</li>
{% endblock breadcrumbs %}

{% block content %}
    <div class="d-flex flex-column align-items-center">
        <h1>Bienvenue sur l'agenda du Prieur !</h1>
        <!-- TODO : if user.is_authenticated and user is in group 'agenda'. -->
        <a href={% url 'agenda:create' %}>Ajouter un événement</a>

        <div class="col-12">
            {% for day in days.values %}
                <h4 class="text-center dark-red mt-4 mb-3">{{ day.date_string }}</h4>
    
                <div class="col-12 d-flex flex-column align-items-start">
                    {% for event in day.events %}
                    <div class="mb-3">
                        <table>
                            <tr>
                                <td><span class="fas fa-circle {{ event.category.color }} mr-2"></span></td>
                                <td>{{ event.name }}<a href={% url 'agenda:details' event.pk %}><span class="fas fa-search ml-2" title="Voir les détails"></span></a></td>
                            </tr>
                            {% if event.comment %}
                                <tr>
                                    <td colspan="2"><small><div class="ml-5">{{ event.comment }}</div></small></td>
                                </tr>
                            {% endif %}
                        </table>
                    </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
