{% extends 'agenda/main_agenda.html' %}

{% block breadcrumbs %}
    <li class="breadcrumb-item active">Agenda</li>
{% endblock breadcrumbs %}

{% block content %}
    <div class="d-flex flex-column align-items-center">
        <h1>Bienvenue sur l'agenda de l'Abbaye Saint-Joseph !</h1>
        {% if advanced_user %}
            <a href={% url 'agenda:create' %} class="btn btn-sm btn-outline-primary">Ajouter un événement</a>
        {% endif %}

        <div class="col-8">
            {% for day in days.values %}
                <h4 class="date text-center red-dark mt-4 mb-3">{{ day.date }}</h4>

                <div class="col-12 d-flex flex-column align-items-start">
                    {% for event in day.events %}
                    <div class="mb-3">
                        <table>
                            <tr>
                                <td>
                                    <span class="fas fa-circle {{ event.category.color }} mr-2"></span>
                                </td>
                                {% if advanced_user %}
                                    <td>
                                        {{ event.name }}
                                        <a href={% url 'agenda:details' event.pk %}>
                                            <span class="fas fa-toolsbg-secondary white border rounded ms-2 p-2 button_details" title="Voir les détails, modifier, supprimer"></span>
                                        </a>
                                    </td>
                                {% endif %}
                            </tr>
                            {% if event.comment %}
                                <tr>
                                    <td colspan="2"><small><div class="ml-5">{{ event.comment }}</div></small></td>
                                </tr>
                            {% endif %}
                        </table>
                    </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
