{% extends 'agenda/main_agenda.html' %}

{% load static %}

{% block breadcrumbs %}
    <li class="breadcrumb-item active">Liste</li>
{% endblock breadcrumbs %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href={% static 'main/tempusdominus/tempus-dominus.min.css' %}>
{% endblock css %}

{% block content %}
    <div class="d-flex flex-column align-items-center w-100">
        <div class="d-flex justify-content-between align-items-center my-2 w-100">
            <div class="col-3"></div>
            <h3 class="col-6 text-center green lucida-hw">Bienvenue sur l'agenda communautaire</br>de l'Abbaye Saint-Joseph de Clairval !</h1>
            <a class="col-3 ms-5" href={% url 'agenda:calendar' %}>
                <span class="fas fa-calendar-alt btn btn-outline-primary mb-3" title="Passer en mode calendrier"></span>
            </a>
        </div>

        <div class="d-flex align-items-center">
            <span class="fas fa-arrow-left mx-3"></span>
            <input id="date" class="form-control input-date text-center" style="width:120px">
            <span class="fas fa-arrow-right mx-3"></span>
        </div>

        {% if advanced_user %}
            <a href={% url 'agenda:create' %} class="btn btn-sm btn-outline-primary my-4">Ajouter un événement</a>
        {% endif %}

        <div class="col-7 mt-2">
            {% for day in days.values %}
                <div class="border border-warning rounded mb-3 p-3">
                    <h4 class="date text-center red-dark fw-bold mt-2 mb-3">{{ day.date }}</h4>

                    {% if day.feasts %}
                        <div class="text-center mb-4">
                            <img class="mb-2" src={% static 'agenda/img/fleur.gif' %} alt="flower">
                            <h6 class="blue fw-bold my-1" style="font-family:LucidaHW">
                                N'oubliez pas de souhaiter une bonne fête à :
                            </h6>
                            <b class="red-dark">{{ day.feasts|join:", " }}</b>
                        </div >
                    {% endif %}

                    <div class="text-center my-5">
                        <h5 class="green fw-bold m-0" style="font-family:LucidaHW">Absences</h5>
                        {% if day.absences %}
                            <ul class="list-unstyled">
                                {% for absence in day.absences %}
                                    <li class="d-flex align-items-center text-start">
                                        <a type='button' class='ms-2 p-2 button_details' data-bs-toggle='modal' data-bs-target='#ticket_details' id="details_{{ absence.pk }}" title="Voir les détails, modifier, supprimer">
                                            <span class="fas fa-paper-plane me-2"></span>
                                            {{ absence|cut:'"' }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <div class="blue fw-bold fs-italic">Pas d'absences aujourd'hui !</div>
                        {% endif %}
                    </div>

                    <div class="text-center my-5">
                        <h5 class="text-center green fw-bold m-0 w-100" style="font-family:LucidaHW">Événements</h5>

                        {% if day.events %}
                            {% for event in day.events %}
                                <div class="d-flex align-items-center mt-2">
                                    <span class="fas fa-circle {{ event.category.color }} me-2" title={{ event.category }}></span>

                                    {% if advanced_user %}
                                        <a href={% url 'agenda:details' event.pk %}>
                                            <p class="fw-bold mb-0">{{ event.name }}<p >
                                        </a>
                                    {% else %}
                                        <p class="fw-bold grey-dark mb-0">{{ event.name }}<p >
                                    {% endif %}
                                </div>

                                <div class="text-start ms-4 mt-1 small">
                                    {% if event.comment %}
                                            {{ event.comment }}
                                    {% endif %}
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="blue fw-bold fs-italic">Pas d'événement aujourd'hui !</div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>

        <!-- Modal containing the details of a ticket.
        Will be filled by Ajax (datatable-tickets.js). -->
        <div class="modal fade" id="ticket_details" tabindex="-1" aria-labelledby="ticket_details" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block javascript %}
    {{ block.super }}
    <script src={% static 'main/js/popper.min.js' %}></script>
    <script src={% static 'main/tempusdominus/tempus-dominus.min.js' %}></script>
    <script src={% static 'main/js/tempusdominus-abbaye.js' %}></script>
    <script>
        new tempusDominus.TempusDominus(document.getElementById('date'), calendar);
    </script>
{% endblock javascript %}
