{% extends 'agenda/main_agenda.html' %}

{% load static %}

{% block breadcrumbs %}
    <li class="breadcrumb-item active">Agenda liste</li>
{% endblock breadcrumbs %}

{% block css %}
    <link rel="stylesheet" href={% static 'main/jquery-ui-1.12.1/jquery-ui.min.css' %}>
    <link rel="stylesheet/less" href={% static 'agenda/css/agenda.less'%}>
{% endblock css %}

{% block content %}
    <div class="d-flex flex-column align-items-center w-100">
        <div class="d-flex justify-content-between align-items-center my-2 w-100">
            <a class="col-2 d-flex align-items-center btn btn-outline-primary mx-auto" href={% url 'agenda:calendar' %}>
                <span class="fas fa-chart-gantt fs-1"></span>
                <p class="m-0 p-0">Passer en mode calendrier</p>
            </a>

            <h3 class="col-8 text-center green lucida-hw">Bienvenue sur l'agenda communautaire</br>de l'Abbaye Saint-Joseph de Clairval !</h3>

            <div class="col-2 form-group">
                <label class="me-2">Date :</label>
                <input id="datepicker" class="form-control input-date text-center" style="border-color: green; border-width: 3px; width:120px" placeholder={{ day_as_string }}>
            </div>
        </div>

        {% if advanced_user %}
            <a href={% url 'agenda:create' %} class="btn btn-sm btn-outline-primary my-4">Ajouter un événement</a>
        {% endif %}

        <div id="days_list" class="col-7 mt-2">
            {% for day in days.values %}
                <div class="border border-warning rounded mb-3 p-3">
                    <h4 class="date text-center red-dark fw-bold mt-2 mb-3">{{ day.date|date:"l j F Y" }}</h4>

                    {% if day.feasts %}
                        <div class="text-center mb-4">
                            <img class="mb-2" src={% static 'agenda/img/fleur.gif' %} alt="flower">
                            <h6 class="blue fw-bold my-1" style="font-family:LucidaHW">
                                N'oubliez pas de souhaiter une bonne fête à :
                            </h6>
                            <b class="red-dark">{{ day.feasts|join:", " }}</b>
                        </div >
                    {% endif %}

                    <div class="m-5">
                        <h5 class="text-center green fw-bold w-100" style="font-family:LucidaHW">Absences</h5>
                        {% if day.absences %}
                            <ul class="list-unstyled">
                                {% for absence in day.absences %}
                                    <li class="d-flex align-items-start text-start">
                                        <a type='button' class='button_details' data-bs-toggle='modal' data-bs-target='#modal_details' id="absence_{{ absence.pk }}" title="Voir les détails, modifier, supprimer">
                                            <span class="fas fa-paper-plane me-2"></span>
                                            {{ absence|cut:'"' }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <div class="blue fw-bold fs-italic">Pas d'absences aujourd'hui !</div>
                        {% endif %}
                    </div>

                    <div class="m-5">
                        <h5 class="text-center green fw-bold w-100" style="font-family:LucidaHW">Événements</h5>

                        {% if day.events %}
                            {% for event in day.events %}
                                <div class="d-flex align-items-start mt-2">
                                    {% if advanced_user %}
                                        <a type='button' class='ms-2 button_details' data-bs-toggle='modal' data-bs-target='#modal_details' id="event_{{ event.pk }}" title="Voir les détails, modifier, supprimer">
                                            <span class="fas fa-circle {{ event.category.color }} me-2 pt-1" title={{ event.category }}></span>
                                            {{ event }}
                                        </a>
                                    {% else %}
                                        <span class="fas fa-circle {{ event.category.color }} me-2 pt-1" title={{ event.category }}></span>
                                        <p class="fw-bold grey-dark mb-0">{{ event }}<p >
                                    {% endif %}
                                </div>

                                <div class="text-start ms-5 small">
                                    {% if event.comment %}
                                            {{ event.comment }}
                                    {% endif %}
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="blue fw-bold fs-italic">Pas d'événement aujourd'hui !</div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>

        <!-- Modal containing the details of a ticket.
        Will be filled by Ajax (datatable-tickets.js). -->
        <div class="modal fade" id="modal_details" tabindex="-1" aria-labelledby="modal_details" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block javascript %}
    {{ block.super }}
    <script src={% static 'main/jquery-ui-1.12.1/jquery-ui.min.js' %}></script>
    <script src={% static 'agenda/js/agenda-list.js' %}></script>
{% endblock javascript %}
