{% extends 'memo/main_memo.html' %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href={% url 'memo:home' %}>Mémo</a></li>
    <li class="breadcrumb-item active">Installation</li>
{% endblock breadcrumbs %}

{% block content %}
    <h1>Installation Debian/Ubuntu</h1>

    <div class="w-75">
        <h4>Préparer la clé bootable</h4>
            <div class="group">
                <p class="descr">Télécharger l'image iso de Debian (small image), et se placer dans le répertoire contenant cette image.<br>Insérer la clé USB, puis chercher son identifiant (en tant que su):</p>
                <pre class="terminal">
fdisk -l
=> /dev/sdd1    *   1   487 3911796 6   FAT16</pre>
                <p class="descr">
                    On voit que notre clé USB est montée sur /dev/sdd.<br>
                    Lancer la copie des fichiers :
                </p>
                <p class="terminal">
                    dd if=image.iso of=/dev/sdd bs=4M && sync
                </p>
                <p class="descr">
                    Il ne reste plus qu'à booter sur la clé USB et à se laisser guider.<br>
                    Partitions :<br>
                        - /sda1: point de montage: "/". Ne pas oublier de cocher 'bootable'. Label = "SYSTEM".<br>
                        - /sda2: point de montage: "/media/frromain/DATA".<br>
                        - /sda3 (peut être changé après avec GParted?): pas plus de 8Go.<br>
                    Debian 10 : Quand l'installateur demande s'il faut installer le paquet iwlwifi à partir d'un volume externe, dire non. Ce paquet sera installé après coup (cf. ci-dessous).
                </p>
            </div>


        <h4>Installer le wifi</h4>
            <div class="group">
                <p class="descr">Il faut d'abord ajouter l'option "non free" à la ligne  "deb.debian.org" du fichier /etc/apt/sources.list :</p>
                <p class="file">deb http://deb.debian.org/debian/ buster main contrib non-free</p>
                <p class="descr">Ensuite installer le paquet :</p>
                <p class="terminal">apt-get install firmware-iwlwifi</p>
            </div>


        <h4>Montage de la partition DATA au démarrage</h4>
            <div class="group">
                <p class="descr">Ajouter la ligne suivante dans /etc/fstab :</p>
                <p class="terminal">
# /media/frromain/DATA was on /dev/sda2 during installation<br>
UUID=9cbb4ca5-7d85-4267-b759-4446a8d4a1f4 /media/frromain/DATA ext4    defaults        0       2
                </p>
            </div>


        <h4>Paquets</h4>
            aptitude, curl, tree, htop, ncdu, rsync, locate, imagemagick et imagemagick-doc, barcode, qrencode, rename (pour renommer des fichiers en série), aspell-fr, mplayer, calcurse (ou taskwarrior), units


        <h4>Configurer le réseau</h4>


        <h4>Echanges</h4>
            <div class="group">
                <p class="descr">smb://tm-rs820rp-01.local/data/Echanges</p>
            </div>


        <h4>Mac imprimerie</h4>
            <div class="group">
                <p class="descr">sftp://mac-mini-imprimerie.local/Users/perebenoit-joseph</p>
            </div>


        <h4>Default applications</h4>
            <div class="group">
                <p class="descr">
                    <b>Mails</b>: Thunderbird</br>
                    <b>Calendar</b>: Thunderbird</br>
                    <b>Music</b>: Videos</br>
                    <b>Videos</b>: VLC
                </p>
            </div>


        <h4>Raccourcis clavier dans Settings</h4>
            <div class="group">
                <p class="descr">
                    <b>Home folder</b>: Alt+Super+N<br>
                    <b>Terminal</b>: Alt+Super+T<br>
                    <b>Text Edit</b> <code>(gnome-text-editor --new-window)</code>: Alt+Super+E<br>
                    <b>Email</b>: Alt+Super+M<br>
                    <b>Browser</b>: Alt+Super+B<br>
                    <b>Calculator</b>: Alt+Super+K<br>
                    <b>Settings</b>: Alt+Super+S<br>
                    <b>Screenshot</b> (Debian 10 seulement) (gnome-screenshot -i): (Alt+Super+O)<br>
                    <b>Switch windows of an application</b>: Ctrl+Tab<br>
                    <b>Screen reader</b>: disabled<br>
                    <b>Rhythmbox</b> <code>(rhythmbox)</code>: Alt+Super+R<br>
                    <b>Anki</b> <code>(anki)</code>: Alt+Super+A<br>
                    <b>Golden Dict</b> <code>(goldendict)</code>: Alt+Super+G<br>
                    <b>Virtual Box</b> <code>(virtualbox)</code>: Alt+Super+V<br>
                    <b>Collatinus (Debian 10 seulement)</b> <code>(collatinus)</code>: Alt+Super+C<br>
                    <b>XnView</b> <code>(xnview)</code>: Alt+Super+X<br>
                    <b>VSCode</b> <code>(code)</code>: Alt+Super+C<br>
                    <b>Utiles</b> <code>(libreoffice /media/frromain/DATA/Documents/Divers/Utiles.ods)</code>: Alt+Super+U<br>
                    <b>Zorell hébreu</b><code> (evince /home/frromain/Documents/Sainte\ Écriture/Langues\ bibliques/Hébreu/Zorell\ hébreu.pdf)</code>: Alt+Super+Z<br>
                    <b>Zorell grec</b> <code>(evince /home/frromain/Documents/Sainte\ Écriture/Langues\ bibliques/Grec/NT/Zorell\ grec.pdf)</code>: Alt+Super+Shift+Z<br>
                    <b>Bailly</b> <code>(evince /home/frromain/Documents/Langues/Grec/bailly-2020-hugo-chavez-20200718.pdf)</code>: Alt+Super+H<br>
                    <b>Jastrow</b> <code>(evince /home/frromain/Documents/Sainte\ Écriture/Langues\ bibliques/Araméen/Jastrow-AramaicHebrew.pdf)</code>: Alt+Super+W<br>
                    <b>Syriaque</b> <code>(evince /home/frromain/Documents/Sainte\ Écriture/Langues\ bibliques/Syriaque/epdf.pub_a-compendious-syriac-dictionary.pdf)</code>: Alt+Super+Y<br>
                    <b>Gaffiot</b> <code>(evince /home/frromain/Documents/Langues/Latin/Dictionnaires\ latins/Gaffiot_2016.pdf)</code>: Alt+Super+F<br>
                    <b>Vetus Latina</b> <code>(evince /home/frromain/Documents/Sainte\ Écriture/0\ Bibles/Vetus\ Latina.pdf)</code>: Alt+Super+I<br>
                    <b>Polyglotte de Walton</b> <code>(evince /home/frromain/Documents/Sainte\ Écriture/0\ Bibles/Polyglotte\ Walton/Walton\'s\ Polyglot\ -\ Totum.pdf)</code>: Alt+Super+P<br>
                    <b>PierreQuiBible</b> (needs package <samp>python3-pyqt5</samp>) <code>(python3 /home/frromain/Documents/Sainte\ Écriture/Divers/PQV/PierreQuiBible/rollingBible.py)</code>: Alt+Super+Shift+P<br>
                    <b>DevDocs</b> <code>(/opt/google/chrome/google-chrome --profile-directory=Default --app-id=ahiigpfcghkbjfcibpojancebdfjmoop)</code>: Alt+Super+D
                </p>
            </div>


        <h4>Suppression de la mise en veille automatique (typiquement dans le cas d'un serveur)</h4>
            <div class="group">
                <p class="descr">Il suffit de modifer (en tant que su) le fichier /etc/systemd/sleep.conf :</p>
                <pre class="terminal">
    AllowSuspend=no
    AllowHibernation=no
    AllowSuspendThenHibernate=no
    AllowHybridSleep=no</pre>
            </div>


        <h4>Clés SSH</h4>
            <div class="group">
                <p class="terminal">ssh-keygen</p>
                <p class="terminal">ssh-copy-id username@remote</p>
            </div>


        <h4>Firefox</h4>
            <div class="group">
                <p class="descr">Bookmarks, home, proxy, sécurité, dossier de téléchargement, xdebug-helper (addon pour débugger PHP).</p>
            </div>


        <h4>Vim</h4>
            <div class="group">
                <p class="descr">~/.vimrc :</p>
                <pre class="file">
    colorscheme default
    set laststatus=2
    set statusline+=%F%r%m%=\ %p%%\ %l:%c
    set number
    set formatoptions+=w
    set textwidth=0
    set tabstop=4
    set softtabstop=4
    set shiftwidth=2
    set expandtab
    set autoindent
    set wrap
    set linebreak
    set breakindent
    set cursorline
    :hi CursorLine cterm=bold
    :map &lt;CR&gt; $a&lt;Del&gt; &lt;Esc&gt;
    :map &lt;C-N&gt; i{}&lt;Esc&gt;hpl%</pre>
            </div>

            <div class="group">
                <p class="descr">Ne pas oublier d'installer vim-gtk3, afin de pouvoir utiliser le clipboard système.</p>
            </div>

        <h4>Mails (mutt)</h4>
            <div class="group">
                <p class="descr">
                    Installer mutt, ripmime, fetchmail, procmail, msmtp et links.<br>
                    Ensuite copier les fichiers de configuration :</p>
                <p class="descr">~/.muttrc :</p>
                <pre class="file">
    alternative_order text/plain text/enriched text/html
    auto_view text/html
    bind index D purge-message
    bind index &lt;C-down&gt; sidebar-next
    bind index &lt;C-right&gt; sidebar-open
    bind index &lt;C-up&gt; sidebar-prev
    color normal default default
    color index brightcolor196 default "~N"
    color index color214 default "~F"
    color indicator black color28 
    color status brightcolor196 color18
    folder-hook . set sort=date-sent
    hdr_order Date From To Cc Subject
    ignore *
    macro index,pager S "<pipe-message>ripmime -i - -d "
    mailboxes =Inbox =Sent =Postponed =Trash
    set alias_file=~/Mail/.aliases
    set attribution="On %d, %n wrote:"
    set beep
    set beep_new
    set charset=utf-8
    set date_format="%d-%m-%Y %H:%M:%S%p"
    set delete=yes
    set edit_hdrs
    set editor="vim -c 'set spell spelllang=fr'"
    set envelope_from_address="editeur@traditions-monastiques.com"
    set fast_reply
    set folder=~/Mail
    set forward_format="[%a: %s]"
    set from="editeur@traditions-monastiques.com"
    set honor_followup_to
    set hostname="traditions-monastiques.com"
    set include=yes
    set index_format="%Z %D %-25.25L %s %*  |%-2.1X |%-4.4c"
    set ispell="/usr/bin/aspell -d french -e -c"
    set mail_check=5
    set mailcap_path = ~/.mailcap
    set mime_forward=yes
    set pager_index_lines=10
    set pager_stop
    set postponed=~/Mail/Postponed
    set quit=ask-yes
    set realname="Frère Romain Marie"
    set record=~/Mail/Sent
    set reply_to
    set send_charset=utf-8
    set sendmail="/usr/bin/msmtp"
    set sidebar_visible
    set sidebar_width=20
    set sig_on_top
    set signature=~/Mail/.signature
    set spoolfile=~/Mail/Inbox
    set strict_threads
    set text_flowed=no
    set timeout=10
    set trash=~/Mail/Trash
    set use_domain
    set use_envelope_from
    set use_from
    set xterm_set_titles=yes
    set xterm_title="Mutt with %?m?%m messages&no messages?%?n? [%n NEW]?"
    source ~/Mail/.aliases
    unignore From To Cc Subject Date Reply-To
    unset markers</pre>
                <p class="descr">~/.fetchmailrc :</p>
                <pre class="file">
    poll 192.168.1.250
    uidl
    port 995
    protocol POP3
    username editeur@traditions-monastiques.com
    password my_super_password
    mda "/usr/bin/procmail -Y -d %T"</pre>
                <p class="descr">~/.procmailrc :</p>
                <pre class="file">
    MAILDIR=$HOME/Mail                
    LOGFILE=$HOME/.procmaillog
    LOGABSTRACT=no
    VERBOSE=off
    DEFAULT=$MAILDIR/Inbox
    ORGMAIL=$MAILDIR/Emergency
    SHELL=/bin/bash

    :0
    * ^From.*
    $DEFAULT</pre>

                <p class="descr">~/.msmtprc :</p>
                <pre class="file">
    account dev
    account default : dev
    user clairval
    host <my_host>
    port 587
    auth plain
    password &lt;my_super_password&gt;</pre>

                <p class="descr">~/.mailcap :</p>
                <pre class="file">
    # Pour ouvrir des messages au format html avec Firefox (raccourci clavier "m"):
    text/html; firefox '%s' & sleep 10;

    # Ouvrir autres types MIME :
    text/html; links -html-assume-codepage %{charset} '%s'; needsterminal; description=HTML Text; nametemplate=%s.html
    image/jpeg; /usr/bin/eog %s; test=test -n "$DISPLAY"
    image/jpg; /usr/bin/eog %s; test=test -n "$DISPLAY"
    image/png; /usr/bin/eog %s; test=test -n "$DISPLAY"
    image/tiff; /usr/bin/eog %s; test=test -n "$DISPLAY"
    application/pdf; /usr/bin/evince %s; test=test -n "$DISPLAY"
    audio/x-wav; /usr/bin/mplayer %s; test=test -n "$DISPLAY"</pre>
                <p class="descr">Enfin lancer fetchmail (en mode nossl) et mutt :<p>
                <p class="terminal">rm ~/.fetchmail.pid; fetchmail --nosslcertck -av -d 10; mutt</p>
            </div>

        <h4>Taskwarrior</h4>
            <div class="group">
                <p class="descr">Fichier de config (~/.taskrc) :</p>
                <pre class="file">
    color=on
    color.alternate=on
    color.uda.priority.H=color9
    color.uda.priority.M=color11
    color.uda.priority.L=color2
    column.padding=3
    default.command=list
    editor=vim
    nag=""
    report.list.columns=id,project,description
    report.list.labels=id,Project,Description
    report.list.sort=priority+\/,project+\/,description+
    verbose=off</pre>
            </div>


        <h4>Configurer le proxy pour root</h4>
            <div class="group">
                <p class="descr">Dans ~/.bashrc :</p>
                <p class="terminal">export HTTP_PROXY=http://192.168.1.250:8080</p>
                <p class="terminal">export HTTPS_PROXY=http://192.168.1.250:8080</p>
            </div>

            <div class="group">
                <p class="descr">Dans ~/.wgetrc :</p>
                <p class="terminal">HTTP_PROXY=http://192.168.1.250:8080</p>
                <p class="terminal">HTTPS_PROXY=http://192.168.1.250:8080</p>
            </div>


        <h4>Clés</h4>
            <div class="group">
                <p class="descr">Lors d'une installation, en cas de "clé inexistante", la télécharger (remplacer &lt;KEY&gt; par la clé) :</p>
                <p class="terminal">apt-key adv --keyserver keyserver.ubuntu.com --keyserver-options http-proxy=http://192.168.1.250:8080 --recv-keys &lt;KEY&gt;</p>
            </div>


        <h4>Virtualbox (Debian 10)</h4>
            <div class="group">
                <p class="descr">Créer le fichier /etc/apt/sources.list.d/virtualbox.list:</p>
                <pre class="terminal">vim /etc/apt/sources.list.d/virtualbox.list</pre>

                <p class="descr">Écrire la ligne suivante, enregistrer et fermer:</p>
                <pre class="terminal">deb https://download.virtualbox.org/virtualbox/debian buster contrib</pre>

                <p class="descr">Puis:</p>
                <pre class="terminal">
wget -q https://www.virtualbox.org/download/oracle_vbox_2016.asc -O- | apt-key add -
wget -q https://www.virtualbox.org/download/oracle_vbox.asc -O- | apt-key add -
apt-get update
apt-get install virtualbox-7.0</pre>

                <p class="descr">Extensions:</p>
                <pre class="terminal">wget https://download.virtualbox.org/virtualbox/7.0.0/Oracle_VM_VirtualBox_Extension_Pack-7.0.0.vbox-extpack</pre>
            </div>


        <h4>Virtualbox (Debian 12)</h4>
            <div class="group">
                <p class="descr">Installation :</p>
                <pre class="terminal">
wget -O- -q https://www.virtualbox.org/download/oracle_vbox_2016.asc | sudo gpg --dearmour -o /usr/share/keyrings/oracle_vbox_2016.gpg
echo "deb [arch=amd64 signed-by=/usr/share/keyrings/oracle_vbox_2016.gpg] http://download.virtualbox.org/virtualbox/debian bookworm contrib" | sudo tee /etc/apt/sources.list.d/virtualbox.list
sudo apt update
sudo apt install virtualbox-7.1</pre>

                <p class="descr">Extensions :</p>
                <pre class="terminal">
sudo apt install virtualbox-7.1
wget https://download.virtualbox.org/virtualbox/7.1.0/Oracle_VirtualBox_Extension_Pack-7.1.0.vbox-extpack
sudo vboxmanage extpack install Oracle_VirtualBox_Extension_Pack-7.1.0.vbox-extpack</pre>

                <p class="descr">Vérification des extensions :</p>
                <pre class="terminal">vboxmanage list extpacks</pre>

                <p class="descr">Ajouter User to the vboxusers Group :</p>
                <pre class="terminal">sudo usermod -a -G vboxusers frromain</pre>

                <p class="descr">Reboot.</p>

                <p class="descr">Vérifier que User est dans vboxusers :</p>
                <pre class="terminal">groups $USER</pre>

                <p class="descr">Uninstall :</p>
                <pre class="terminal">
sudo apt purge virtualbox-7.1
sudo apt autoremove
sudo rm /etc/apt/sources.list.d/virtualbox.list</pre>
            </div>


        <h4>Apache</h4>
            <div class="group">
                <p class="descr">Ajouter o+rx sur le dossier /media/frromain.</p>

                <p class="descr">Dans le fichier /etc/apache2/envvars, changer www-data en frromain aux lignes suivantes, pour que les fichiers écrits par apache aient frromain comme propriétaire :</p>
                <pre class="file">
    export APACHE_RUN_USER=frromain
    export APACHE_RUN_GROUP=frromain</pre>

                <p class="descr">Dupliquer /etc/apache2/sites-available/000-default.conf avant de le modifier ainsi :</p>
                <pre class="file">
&lt;VirtualHost *:80&gt;
    ServerName localhost
    DocumentRoot /media/frromain/DATA/Sites
    &lt;Directory "/media/frromain/DATA/Sites"&gt;
        Options FollowSymLinks
        AllowOverride all
        Require all granted
        Order allow,deny
        Allow from all
    &lt;/Directory&gt;

    &lt;Directory "/media/frromain/DATA/Sites/sql"&gt;
        Options FollowSymLinks
        AllowOverride all
        Require all granted
        Order deny,allow
        deny from all
    &lt;/Directory&gt;

    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined
&lt;/VirtualHost&gt;

&lt;VirtualHost *:80&gt;
    ServerName gregorio.local
    DocumentRoot /media/frromain/DATA/Sites/gregorio-doc
    &lt;Directory "/media/frromain/DATA/Sites/gregorio-doc/"&gt;
        Options FollowSymLinks
        AllowOverride all
        Require all granted
        Order allow,deny
        Allow from all
    &lt;/Directory&gt;
    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined
&lt;/VirtualHost&gt;

listen 8000

NameVirtualHost *:8000
&lt;VirtualHost *:8000&gt;
    ServerName localhost
    ServerAdmin editeur@traditions-monastiques.com
    DocumentRoot /home/frromain/Sites/abbaye/abbaye
    WSGIDaemonProcess abbaye.asj.com processes=2 threads=15 display-name=%{GROUP} python-home=/home/frromain/Sites/abbaye python-path=/home/frromain/Sites/abbaye/abbaye
    WSGIProcessGroup abbaye.asj.com
    WSGIScriptAlias / /home/frromain/Sites/abbaye/abbaye/abbaye/wsgi.py
    &lt;Directory /home/frromain/Sites/abbaye/abbaye/abbaye&gt;
        &lt;Files wsgi.py&gt;
            Require all granted
        &lt;/Files&gt;
    &lt;/Directory&gt;

    Alias /statics/ /home/frromain/Sites/abbaye/abbaye/statics/
    &lt;Directory /home/frromain/Sites/abbaye/abbaye/statics&gt;
        Require all granted
    &lt;/Directory&gt;

    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined
&lt;/VirtualHost&gt;

# vim: syntax=apache ts=4 sw=4 sts=4 sr noet
            </div>


        <h4>MySQL</h4>
            <div class="group">
                <p class="descr">MySQL8 n'est pas dispo dans les paquets Debian. Il faut l'installer manuellement à partir d'un dépôt distant :</p>
                <p class="terminal">cd /tmp</p>
                <p class="descr">Debian 10:</p>
                <p class="terminal">wget https://dev.mysql.com/get/mysql-apt-config_0.8.22-1_all.deb</p>
                <p class="terminal">dpkg -i mysql-apt-config_0.8.22-1_all.deb</p>

                <p class="descr">Debian 12:</p>
                <p class="terminal">wget https://dev.mysql.com/get/mysql-apt-config_0.8.30-1_all.deb</p>
                <p class="terminal">dpkg -i mysql-apt-config_0.8.30-1_all.deb</p>

                <p class="descr">Puis :</p>
                <p class="terminal">apt update</p>
                <p class="terminal">apt install mysql-server</p>
                <p class="descr">Attention : bien sélectionner <b>mysql8.0</b> ! (pas la version "LTS")</p>

                <p class="descr">Une fois l'installation achevée, procéder à l'installation sécurisée :</p>
                <p class="terminal">mysql_secure_installation</p>

                <p class="descr">Créer le fichier ~/.my.cnf (pour ne pas avoir à saisir user et mdp à chaque connexion MySQL) :</p>
                <pre class="file">
    [mysql]
    user=root
    password=my_super_password
    [mysqldump]
    user=root
    password=my_super_password</pre>

                <p class="descr">Enfin dans une console MySQL :</p>
                <p class="terminal">ALTER USER 'root'@'localhost' IDENTIFIED WITH mysql_native_password BY '&lt;my_password&gt;';</p>
            </div>


        <h4>Python</h4>
            <div class="group">
                <p class="descr">Installer pip, l'installateur de packages Python :</p>
                <p class="terminal">aptitude install python3-pip</p>

                <p class="descr">Avec pip installer virtualenv :</p>
                <p class="terminal">pip3 install virtualenv</p>
            </div>


        <h4>PHP7.3 + modules php7.3-mysql et php7.3-gd (ce dernier pour les statistiques)</h4>


        <h4>Importer les bases de données</h4>


        <h4>Polices</h4>
            <div class="group">
                <p class="descr">Fonts (Arno Pro, FlavGaramond, Garamond Premier Pro, GregPlantin, Menlo-Regular.ttf, PlantinStd, SilentiumPro-RomanI.otf) à copier dans /usr/local/share/fonts (ttf dans truetype et otf dans opentype). Puis :</p>
                <p class="terminal">fc-cache -fv</p>
                <p class="descr">Ou lancer (en tant que su-) le script <samp>/home/frromain/Scripts/fonts.sh</samp>.</p>
            </div>


        <h4>LaTeX</h4>
            <div class="group">
                <p class="descr">Installer texlive texlive-luatex texlive-xetex texlive-lang-european texlive-lang-french texlive-extra-utils.</p>
                <p class="descr">Ne pas installer texlive-full, qui semble faire des problèmes.</p>
                <p class="descr">texlive-extra-utils contient latexindent, qui sert pour VSCode (formattage et compilation lors du Ctrl-S).</p>
                <p class="descr">Les polices doivent être dans /usr/share/local/fonts. En cas de "font not found", vider le cache (c'est-à-dire supprimer le dossier <tt>~/.texlive2013/texmf-var/luatex-cache/</tt>).</p>
            </div>
        

        <h4>Gregorio</h4>
            <div class="group">
                <p class="descr">Nécessite le paquet cmake.</p>
                <p class="descr">Télécharger l'archive tar.bz2 sur le site de gregorio (releases).</p>
                <p class="descr">Désarchiver.</p>
                <p class="descr">Dans le dossier obtenu, exécuter <b>(en tant que su)</b> :</p>
                <p class="terminal">./build.sh</p>
                <p class="terminal">./install.sh</p>
            </div>


        <h4>Git</h4>
            <div class="group">
                <p class="descr">Fichier ~/.gitconfig :</p>
                <pre class="file">
    [user]
    name = BrRoman
    email = editeur@traditions-monastiques.com
    [alias]
    ck = checkout
    ci = commit -m
    st = status -u
    lg = log --graph --date=format:\"%d/%m/%Y %H:%M\" --pretty=format:\"%Cred%h%Creset %C(cyan)%d%Creset %s %C(yellow)%an%Creset %C(green)%ad%Creset\" --decorate --all
    [diff]
    mnemonicprefix = true
    renames = true
    wordRegex = .
    [core]
    editor = vim
    [http]
    proxy = http://192.168.1.250:8080
    [https]
    proxy = http://192.168.1.250:8080</pre>
                <p class="descr">Fichier ~/.netrc :</p>
                <pre class="file">machine github.com login BrRoman password my_super_password</pre>
            </div>

        <h4>Crons</h4>
            <div class="group">
                <p class="descr">Éditer le crontab :</p>
                <p class="terminal">crontab -e</p>
                <p class="descr">Lignes à ajouter à la fin du fichier :</p>
                <pre class="file">
    */20 8-20 * * * /home/frromain/Scripts/server.sh
    30 10,16 * * * /home/frromain/Scripts/github.sh</pre>
            </div>


        <h4>VSCode</h4>
            <div class="group">
                <p class="descr">Clé :</p>
                <p class="terminal">curl --proxy http://192.168.1.250:8080 https://packages.microsoft.com/keys/microsoft.asc | gpg --dearmor > microsoft.gpg</p>
                <p class="terminal">install -o root -g root -m 644 microsoft.gpg /etc/apt/trusted.gpg.d/</p>
                <p class="descr">Dépôt :</p>
                <p class="terminal">echo "deb [arch=amd64] https://packages.microsoft.com/repos/vscode stable main" > /etc/apt/sources.list.d/vscode.list</p>
                <p class="descr">Installation proprement dite :</p>
                <p class="terminal">apt update</p>
                <p class="terminal">apt install code</p>
                <p class="descr">Fichier de config (~/.config/Code/User/settings.json) :</p>
                <pre class="file">
    {
    // Editor:
    "editor.foldingHighlight": true,
    "editor.fontFamily": "monospace",
    "editor.fontSize": 14,
    "editor.formatOnSave": true,
    "editor.minimap.enabled": false,
    "editor.renderControlCharacters": true,
    "editor.renderWhitespace": "all",
    "editor.smoothScrolling": true,
    "editor.suggest.shareSuggestSelections": true,
    "editor.suggestSelection": "first",
    "editor.tabSize": 4,
    "editor.wordWrap": "on",
    "editor.wrappingIndent": "indent",
    // Explorer:
    "explorer.confirmDelete": false,
    "explorer.confirmDragAndDrop": false,
    "explorer.openEditors.visible": 12,
    // Problems:
    "problems.decorations.enabled": false,
    "window.newWindowDimensions": "maximized",
    "window.openFilesInNewWindow": "on",
    "window.restoreFullscreen": true,
    "window.restoreWindows": "none",
    // Workbench:
    "workbench.activityBar.visible": true,
    "workbench.colorCustomizations": {
    "editor.background": "#000000",
    "editor.foreground": "#ffffff",
    "editor.lineHighlightBorder": "#444444",
    "statusBar.background": "#111111",
    "statusBar.border": "#777777",
    },
    "workbench.editor.closeOnFileDelete": true,
    "workbench.editor.highlightModifiedTabs": true,
    "workbench.editor.openPositioning": "last",
    "workbench.editorAssociations": {
    "*.ipynb": "jupyter-notebook",
    "*.pdf": "default"
    },
    "window.menuBarVisibility": "toggle",
    "workbench.startupEditor": "welcomePage",
    // Files:
    "files.autoSave": "afterDelay",
    "files.autoSaveDelay": 5000,
    // Terminal:
    "terminal.external.linuxExec": "gnome-terminal",
    "terminal.integrated.allowChords": false,
    "terminal.integrated.confirmOnExit": true,
    "terminal.integrated.fontFamily": "monospace",
    "terminal.integrated.fontSize": 13,
    "terminal.integrated.tabs.enabled": true,
    "terminal.integrated.tabs.hideCondition": "never",
    // Debug:
    "debug.allowBreakpointsEverywhere": true,
    // Git:
    "diffEditor.ignoreTrimWhitespace": false,
    "diffEditor.renderSideBySide": true,
    "git.confirmSync": false,
    "git.showProgress": true,
    "git-graph.maxDepthOfRepoSearch": 1,
    // TODO highlight:
    "todo-tree.general.tags": [
    "FIXME",
    "TODO",
    "[ ]",
    "[x]"
    ],
    "todo-tree.highlights.defaultHighlight": {
    "fontWeight": "bold",
    "foreground": "#FF9600",
    "type": "tag"
    },
    "todo-tree.highlights.customHighlight": {
    "TODO": {
    "icon": "pin",
    "iconColour": "yellow",
    },
    "FIXME": {
    "icon": "alert",
    "iconColour": "red",
    }
    },
    "todo-tree.regex.regex": "(//|#|&lt;!--|;|/\\*|^|^\\s*(-|\\d+.))\\s*($TAGS)",
    // HTML:
    "html.format.templating": true,
    // Javascript:
    "javascript.updateImportsOnFileMove.enabled": "always",
    "[json]": {
    "editor.defaultFormatter": "vscode.json-language-features"
    },
    // LaTeX:
    "latex-workshop.latex.recipes": [
    {
    "name": "lualatex",
    "tools": [
        "lualatex"
    ]
    }
    ],
    "latex-workshop.latex.tools": [
    {
    "name": "lualatex",
    "command": "lualatex",
    "args": [
        "--shell-escape",
        "%DOC%.tex"
    ],
    "env": {}
    }
    ],
    // Python:
    "python.pythonPath": "${workspaceFolder}/bin/python3.7/",
    "python.formatting.autopep8Path": "${workspaceFolder}/bin/autopep8",
    "python.linting.pylintPath": "${workspaceFolder}/bin/pylint",
    "python.linting.enabled": true,
    "python.linting.pylintEnabled": true,
    "python.linting.pylintArgs": [
    "--load-plugins",
    "pylint_django"
    ],
    "emmet.includeLanguages": {
    "django-html": "html"
    },
    "files.associations": {
    "*.html": "django-html"
    },
    "notebook.cellToolbarLocation": {
    "default": "right",
    "jupyter-notebook": "left"
    },
    }</pre>
                <p class="descr">Keybindings (~/.config/Code/User/keybindings.json) :</p>
                <pre class="file">
    [
    {
    "key": "ctrl+shift+[KeyM]",
    "command": "workbench.action.openSettingsJson"
    },
    {
    "key": "ctrl+f9",
    "command": "editor.debug.action.goToNextBreakpoint"
    },
    {
    "key": "ctrl+shift+f9",
    "command": "editor.debug.action.goToPreviousBreakpoint"
    }
    ]</pre>
                <p class="descr">Installer les extensions :</p>
                <pre class="file">
    Auto close tags
    Auto rename tags
    Beautify
    Bookmarks
    Bracket pair colorizer
    Clipboard History
    CSS peek
    Django
    Git graph
    Highlight matching tags
    Htmltagwrap
    jQuery code snippets
    LaTeX workshop
    Markdown all in one
    PHP debug
    PHP intellisense
    Project manager
    Python
    Remote-ssh
    Todo tree
    Vim</pre>
            </div>

        <h4>Collatinus</h4>
            <div class="group">
                <p class="descr">Installation (paquet) :</p>
                <pre class="terminal">
    aptitude install collatinus</pre>
                <p class="descr">L'importation des dicos via Collatinus (cf. barre de menu "Options > Télécharger…") ne fonctionne pas. Il faut donc :</p>
                <p class="descr">1. Installer un paquet supplémentaire :</p>
                <pre class="terminal">
    aptitude install qt5-image-formats-plugins</pre>
                <p class="descr">2. Copier à la main le contenu du dossier ~/Documents/Langues/Latin/Collatinus/dicos/ dans ~/.local/share/collatinus/data/dicos/ :</p>
            </div>

        <h4>Anki (pour Debian 12)</h4>
            <div class="group">
                <p class="descr">Aller dans le répertoire où se trouve l'archive, puis :</p>
                <pre class="terminal">
tar xaf anki-24.11-linux-qt6.tar.zst
cd anki-24.11-linux-qt6/
./install.sh</pre>
            </div>


        <h4>Autres logiciels</h4>
            <div class="group">
                <p class="descr">Anki (paquet dans Debian 10 seulement), Audacity, Calibre pour lire les epubs (paquet), Gimp et gimp-help-en (paquets), GoldenDict (paquet), Google chrome (.deb), RawTherapee (paquet), Scribus (paquet), Stellarium (paquet), VLC (paquet), XnView (.deb).</p>
            </div>


        <h4>Installation sans proxy</h4>
            <div class="group">
                <p class="descr">Aptitude avec option sans proxy :</p>
                <pre class="terminal">
    aptitude -o Acquire::http::proxy=false install &lt;package&gt;</pre>
            </div>


        <h4>Installation automatique</h4>
            <div class="group">
                <p class="descr">Exporter la liste des paquets installés :</p>
                <p class="terminal">dpkg --get-selections > my_package_list.txt</p>
                <p class="descr">Ou bien, pour exporter uniquement les paquets explicitement installés :</p>
                <p class="terminal">aptitude search -F '%p %C' '~i!~M' > my_package_list.txt</p>
                <p class="descr">Pour faire une installation à partir de cette lite :</p>
                <pre class="terminal">
    apt-cache dumpavail | dpkg --merge-avail
    dpkg --set-selections &lt; my_package_list.txt
    apt-get dselect-upgrade</pre>
            </div>
    </div>
{% endblock content %}