{% extends 'main.html' %}

{% load static %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href={% url 'editor:home' %}>Editor</a></li>
    <li class="breadcrumb-item"><a href={% url 'editor:books_list' %}>Livres</a></li>
    <li class="breadcrumb-item active">{{ book }}</li>
{% endblock breadcrumbs %}

{% block content %}
    <div class="d-flex justify-content-between align-items-center w-100 mb-5">
        <div class="col-3 mr-auto">
            <img src={% static visual_path %} alt="Missing visual" class="border" style="width: 100px;" title="Clic droit pour enregistrer le visuel">
        </div>

        <div class="col-6">
            <h2 class="mb-4 green font-weight-bold text-center">{{ book.title|default_if_none:'' }}</h2>
            <h4 class="mb-4 green font-weight-bold text-center">{{ book.sub_title|default_if_none:'' }}</h4>
            {% if book.author %}
                <h6 class="mb-4 green font-weight-bold text-center">par : {{ book.author }}</h6>
            {% endif %}
        </div>

        <div class="col-3 text-right" title="Clic droit pour enregistrer le code barre">
            <img src={% static barcode_path %} alt="Missing barcode" style="width: 150px;">
        </div>
    </div>

    <div class="d-flex w-100 mb-3">
        <div class="col-6 d-flex flex-column">
            <div class="border border-success rounded p-2 mb-2">
                <h5 class="green font-weight-bold">Données générales</h5>
                <table class="table table-sm table-borderless mb-0">
                    <tr>
                        <td class="font-weight-bold col-3">Titre</td>
                        <td>{{ book.title|default_if_none:'?' }}</td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold col-3">Sous-titre</td>
                        <td>{{ book.sub_title|default_if_none:'?' }}</td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold col-3">Auteur</td>
                        <td>{{ book.author|default_if_none:'?' }}</td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold col-3">Réf. TM</td>
                        <td>{{ book.ref_tm|default_if_none:'?' }}</td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold col-3">EAN</td>
                        <td>{{ book.ean|default_if_none:'?' }}</td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold col-3">Collection</td>
                        <td>
                            {{ book.collection.name|default_if_none:''}}
                            {% if book.collection %}
                                (ISSN {{book.collection.issn|default_if_none:''}})
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold col-3">Numéro dans la collection</td>
                        <td>{{ book.number_in_collection|default_if_none:'' }}</td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold col-3">Date de parution</td>
                        <td>{{ book.publication|default_if_none:'?'|date:'d/m/Y' }}</td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold col-3">Remarques</td>
                        <td>{{ book.remarques|default_if_none:''|linebreaks }}</td>
                    </tr>
                </table>
            </div>

            <div class="border border-success rounded p-2 mb-2">
                <h5 class="green font-weight-bold">Caractéristiques physiques</h5>
                <table class="table table-sm table-borderless mb-0">
                    <tr>
                        <td class="font-weight-bold col-3">Pages</td>
                        <td>{{ book.number_of_pages|default_if_none:'?' }}</td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold col-3">Dimensions</td>
                        <td>{{ book.width|default_if_none:'?' }} x {{ book.height|default_if_none:'?' }} mm</td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold col-3">Poids</td>
                        <td>{{ book.weight|default_if_none:'?' }} g</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="col-6 d-flex flex-column">
            <div class="border border-success rounded p-2 mb-2">
                <h5 class="green font-weight-bold">Prix</h5>
                <table class="table table-sm table-borderless mb-0">
                    <tr>
                        <td class="font-weight-bold col-3">Charges</td>
                        <td id="charges">
                            {% for charge in charges %}
                                <div class="d-flex col-9">
                                    <p class="font-weight-bold col-6 form-text m-0 p-0">{{ charge.name }} :</p>
                                    <p class="col-6 form-text m-0 p-0 text-right">{{ charge.amount }} €</p>
                                </div>
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold col-3">Total charges</td>
                        <td>{{ total_charges|default_if_none:'?' }} €</td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold col-3">Tirage</td>
                        <td>{{ book.circulation|default_if_none:'?' }}</td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold col-3">Prix de revient</td>
                        <td>{{ cost|default_if_none:'?' }} €</td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold col-3">Coefficient</td>
                        <td>{{ book.coefficient|default_if_none:'?' }}</td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold col-3">Prix théorique</td>
                        <td>{{ theorical_price|default_if_none:'?' }} €</td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold col-3">Prix public</td>
                        <td>{{ book.price|default_if_none:'?' }} €</td>
                    </tr>
                </table>
            </div>

            <div class="border border-success rounded p-2">
                <h5 class="green font-weight-bold">AVM</h5>
                <table class="table table-sm table-borderless mb-0">
                    <tr>
                        <td class="font-weight-bold col-3">Présentation</td>
                        <td>{{ book.presentation_product|default_if_none:'?'|linebreaks }}</td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold col-3">Présentation auteur</td>
                        <td>{{ book.presentation_author|default_if_none:'?'|linebreaks }}</td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold col-3">Points forts</td>
                        <td>{{ book.strong_points|default_if_none:'?'|linebreaks }}</td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold col-3">Public visé</td>
                        <td>{{ book.target_audience|default_if_none:'?'|linebreaks }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="d-flex">
        <a href={% url 'editor:books_list' %} class="btn btn-warning m-1"><span class="fas fa-arrow-left"></span> Retour à la liste</a>
        <a href={% url 'editor:book_update' book.id %} class="btn btn-primary m-1">Modifier</a>
        <a href={% url 'editor:book_delete' book.id %} class="btn btn-danger m-1">Supprimer</a>
    </div>
{% endblock content %}
