@blue: rgb(0, 0, 128);
@brown: rgb(92, 52, 0);
@dark-grey: rgb(61, 61, 61);
@dark-red: rgb(145, 0, 0);
@full-red: rgb(255, 0, 0);
@green: rgb(0, 100, 0);
@grey: rgb(182, 182, 182);
@light-green: rgb(0, 255, 0);
@light-grey: rgb(220, 220, 220);
@orange: rgb(255, 145, 0);


a:hover {
    text-decoration: none;
}

.bg-danger {
    background-color: @full-red !important;
}

.blue {
    color: @blue;
}

.brown {
    color: @brown;
}

.dark-grey {
    color: @dark-grey;
}

.dark-red {
    color: @dark-red;
}


.full-red {
    color: @full-red;
}

.green {
    color: @green;
}

.grey {
    color: @grey;
}

.light-green {
    color: @light-green;
}

.light-grey {
    color: @light-grey;
}

.orange {
    color: @orange;
}

.white {
    color: white;
}

body {
    background-color: rgba(255, 143, 0, 0.05);

    a {
        text-decoration: none;
    }

    // Nav:
    nav {

        a,
        a:hover {
            color: @orange;
        }

        #logo {
            #title {
                color: @orange;
                font-family: LucidaHW;
                font-size: 2.2em;
            }
        }
    }

    // Breadcrumbs:
    #breadcrumbs {
        background-color: @light-grey;
    }

    // Content:
    #content {
        h1 {
            color: @green;
            font-family: LucidaHW;
        }

        td {
            vertical-align: top;
        }

        .form-group {
            margin: 5px 0 5px 0;

            label {
                color: @green;
                font-weight: bold;
            }
        }

        .input-group {
            position: static !important;
        }

        .invalid-feedback {
            color: @full-red;
            font-weight: bold;
        }

        #validation {
            .btn {
                width: 100px;
            }
        }
    }
}