{% extends 'imprimerie/main_imprimerie.html' %}

{% load static %}
{% load widget_tweaks %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href={% url 'imprimerie:home' %}>Imprimerie</a></li>
    <li class="breadcrumb-item"><a href={% url 'imprimerie:memo' %}>Mémo</a></li>
    <li class="breadcrumb-item active">Éditer</li>
{% endblock breadcrumbs %}

{% block content %}
    <h2>Éditer le Mémo de l'imprimeur</h2>

    <form method="post" novalidate class="w-75">
        {% csrf_token %}

        <!-- Content -->
        <div class="row justify-content-start ml-0">
            <div class="form-group">
                {% if form.is_bound %}
                    {% if form.content.errors %}
                        {% render_field form.content class="form-control is-invalid" %}
                        {% for error in form.content.errors %}
                            <div class="invalid-feedback" style="display: block;">
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% else %}
                        {% render_field form.content class="form-control is-valid" %}
                    {% endif %}
                {% else %}
                    {% render_field form.content class="form-control" %}
                {% endif %}

                {% if form.content.help_text %}
                    <small class="form-text text-muted">
                        {{ form.content.help_text }}
                    </small>
                {% endif %}
            </div>
        </div>

        <!-- Validation -->
        <div class="d-flex justify-content-center">
            <a href={% url 'imprimerie:memo' %} class="btn btn-primary mx-3">Annuler</a>
            <button type="submit" class="btn btn-success mx-3">Valider</button>
        </div>
    </form>
{% endblock %}

{% block javascript %}
    {{ form.media }}
{% endblock javascript %}
