{% extends 'imprimerie/main_imprimerie.html' %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href={% url 'imprimerie:home' %}>Imprimerie</a></li>
    <li class="breadcrumb-item active">Mémo</li>
{% endblock breadcrumbs %}

{% block content %}
    <div class="d-flex flex-column align-items-center">
        <h1>Mémo de l'imprimeur</h1>
    </div>

    <div class="border border-dark rounded my-3 px-5 py-2 w-50">{{ content|safe }}</div>

    <a href={% url 'imprimerie:memo_update' %}>Éditer le Mémo</a>
{% endblock content %}
