<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="icon" sizes="200x200" href="images/ornitho.png" />
        <link rel="stylesheet" href="styles.css" />
        <title>Ornitho - Voir le parc autrement</title>
    </head>
    <body>
        <div id="bloc_page">
            <header>
                <div id="bandeau">
                    <div id="carrousel">
                        <img src="bandeaux/crecerelle.jpg"/>
                        <img src="bandeaux/gd.jpg"/>
                        <img src="bandeaux/grues.jpg"/>
                        <img src="bandeaux/anax.jpg"/>
                        <img src="bandeaux/milan_royal.jpg"/>
                        <img src="bandeaux/oedipode.jpg"/>
                    </div>
                    <div id="texte_bandeau">
                        <h1><a href="index.html">Ornitho</a></h1>
                        <h2>Voir le parc autrement…</h2>
                    </div>
                </div>
            </header>
            <section>
                <nav>
                    <ul>
                        <li><a  href="index.html">ACCUEIL</a></li>
                        <li><a  href="oiseaux.html">OISEAUX</a></li>
                        <li><a  href="mammiferes.html">MAMMIFÈRES</a></li>
                        <li><a  href="reptiles.html">REPTILES</a></li>
                        <li><a class="current_link" href="amphibiens.html">AMPHIBIENS</a></li>
                        <li><a  href="libellules.html">LIBELLULES</a></li>
                        <li><a  href="papillons.html">PAPILLONS</a></li>
                        <li><a  href="sauterelles.html">SAUTERELLES</a></li>
                        <li><a  href="galerie.html">GALERIE</a></li>
                    </ul>
                </nav>
                <article>
                    <h1>Amphibiens</h1>
                    <table>
                        <tr>
                            <th>Nom</th>
                            <th>Image</th>
                            <th>Description</th>
                            <th>Son</th>
                            <th>Où le voir ?</th>
                        </tr>
                        <tr>
                            <td id="nom">Crapaud commun</td>
                            <td><a href="images/crapaud.jpg"><img src="vignettes/crapaud_thumb.jpg"/></a></td>
                            <td id="texte_description">Gros avec des verrues</td>
                            <td>
                                <audio src="sons/crapaud.mp3" controls>Son</audio>
                                <div id="texte_description">
                            </td>
                            <td id="texte_description">Milieux ouverts, potager.</td>
                        </tr>
                        <tr>
                            <td id="nom">Grenouille agile</td>
                            <td><a href="images/gren_agile.jpg"><img src="vignettes/gren_agile_thumb.jpg"/></a></td>
                            <td id="texte_description">Brune et noire. Lignes dorsales symétriques.</td>
                            <td>
                                <audio src="sons/gren_agile.mp3" controls>Son</audio>
                                <div id="texte_description">
                            </td>
                            <td id="texte_description"></td>
                        </tr>
                        <tr>
                            <td id="nom">Grenouille rousse</td>
                            <td></td>
                            <td id="texte_description">Brune et noire. Lignes dorsales se rejoignant au niveau de la nuque</td>
                            <td>
                                <audio src="sons/gren_rousse.mp3" controls>Son</audio>
                                <div id="texte_description">
                            </td>
                            <td id="texte_description"></td>
                        </tr>
                        <tr>
                            <td id="nom">Grenouille verte</td>
                            <td><a href="images/gren_verte.jpg"><img src="vignettes/gren_verte_thumb.jpg"/></a></td>
                            <td id="texte_description">Très connue</td>
                            <td>
                                <audio src="sons/gren_verte.mp3" controls>Son</audio>
                                <div id="texte_description">
                                Coassement bien connu.
                            </td>
                            <td id="texte_description">Milieux humides.</td>
                        </tr>
                        <tr>
                            <td id="nom">Salamandre</td>
                            <td><a href="images/salamandre.jpg"><img src="vignettes/salamandre_thumb.jpg"/></a></td>
                            <td id="texte_description">Jaune et noire</td>
                            <td>
                                <div id="texte_description">
                            </td>
                            <td id="texte_description">Potager, également sous les plaques des regards de conduites d'eau.</td>
                        </tr>
                    </table>
                    <a href="https://github.com/BrRoman/ornitho"><img id="logo_github" src="images/github.png" title="View my source code on Github"></a>
                </article>
            </section>
            <div id="overlay"></div>
        </div>
        <script src="scripts/jquery-3.3.1.min.js"></script>
        <script src="scripts/pictures.js"></script>
        <script src="scripts/animate.js"></script>
    </body>
</html>

