{% extends 'ornitho/main_ornitho.html' %}

{% load static %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url 'ornitho:home' %}">Ornitho</a></li>
    <li class="breadcrumb-item"><a href="{% url 'ornitho:galerie' %}">Galeries</a></li>
    <li class="breadcrumb-item active">Paysages</li>
{% endblock breadcrumbs %}

{% block article %}
    <div id="bienvenue" style="height: auto; margin: 15px 0px 0px 0px; text-align: center;">Galerie des paysages</div>
    <h4 style="color: maroon; margin-top: 0px; text-align: center;">Vous pouvez me visualiser en mode diaporama et/ou en plein écran.</h4>
    <h5 id="loading" style="text-align: center;">Images en cours de chargement. Veuillez patienter…</h5>

    <div class="galleria">
        <img src="{% get_static_prefix %}ornitho/images/galerie/plate.jpg" alt="Platé (Haute-Savoie)">
        <img src="{% get_static_prefix %}ornitho/images/galerie/plate_neige.jpg" alt="Le désert de Platé sous la neige (Haute-Savoie)">
        <img src="{% get_static_prefix %}ornitho/images/galerie/pluie.jpg" alt="Pluie en montagne (Haute-Savoie)">
        <img src="{% get_static_prefix %}ornitho/images/galerie/pormenaz.jpg" alt="Le lac de Pormenaz (Haute-Savoie)">
        <img src="{% get_static_prefix %}ornitho/images/galerie/praz.jpg" alt="Les Drus vus depuis l'église des Praz (Haute-Savoie)">
        <img src="{% get_static_prefix %}ornitho/images/galerie/foret_automne.jpg" alt="Forêt en automne">
        <img src="{% get_static_prefix %}ornitho/images/galerie/galets.jpg" alt="Galets sur la plage (Sables-d'Olonne, Vendée)">
        <img src="{% get_static_prefix %}ornitho/images/galerie/bionnassay_1.jpg" alt="Aiguille de Bionnassay">
        <img src="{% get_static_prefix %}ornitho/images/galerie/bionnassay_2.jpg" alt="Aiguille de Bionnassay">
        <img src="{% get_static_prefix %}ornitho/images/galerie/alpes_depuis_mont_blanc.jpg" alt="Les sommets des Alpes vus depuis le Mont-Blanc">
        <img src="{% get_static_prefix %}ornitho/images/galerie/aigoual_coucher_soleil.jpg" alt="Coucher de soleil sur le Mont Aigoual (Cévennes)">
        <img src="{% get_static_prefix %}ornitho/images/galerie/alpes_coucher_soleil.jpg" alt="Coucher de soleil sur les Alpes">
        <img src="{% get_static_prefix %}ornitho/images/galerie/transhumance.jpg" alt="Transhumance (Cévennes)">
        <img src="{% get_static_prefix %}ornitho/images/galerie/val_choues.jpg" alt="Val des choues">
        <img src="{% get_static_prefix %}ornitho/images/galerie/auxois_brume_matin.jpg" alt="Brume matinale en Auxois">
        <img src="{% get_static_prefix %}ornitho/images/galerie/auxois_ete.jpg" alt="Auxois en été">
        <img src="{% get_static_prefix %}ornitho/images/galerie/auxois_hiver.jpg" alt="Auxois en hiver">
        <img src="{% get_static_prefix %}ornitho/images/galerie/auxois_by_night.jpg" alt="Auxois by night">
        <img src="{% get_static_prefix %}ornitho/images/galerie/sables_coucher_soleil_1.jpg" alt="Coucher de soleil sur l'océan (Sables-d'Olonne, Vendée)">
        <img src="{% get_static_prefix %}ornitho/images/galerie/sables_coucher_soleil_2.jpg" alt="Coucher de soleil sur l'océan (Sables-d'Olonne, Vendée)">
        <img src="{% get_static_prefix %}ornitho/images/galerie/causse_mejean_1.jpg" alt="Le Causse Méjean">
        <img src="{% get_static_prefix %}ornitho/images/galerie/causse_mejean_2.jpg" alt="Le Causse Méjean">
        <img src="{% get_static_prefix %}ornitho/images/galerie/chemerey_automne.jpg" alt="Chèmerey (Côte-d'Or)">
        <img src="{% get_static_prefix %}ornitho/images/galerie/cirque_navacelles.jpg" alt="Le Cirque de Navacelles (Hérault)">
        <img src="{% get_static_prefix %}ornitho/images/galerie/desolation_smaug.jpg" alt="Le Mont-Joli (Haute-Savoie)">
        <img src="{% get_static_prefix %}ornitho/images/galerie/douix.jpg" alt="Sources de la Douix (Côte-d'Or)">
        <img src="{% get_static_prefix %}ornitho/images/galerie/eclair_1.jpg" alt="Éclairs">
        <img src="{% get_static_prefix %}ornitho/images/galerie/eclair_2.jpg" alt="Éclairs">
        <img src="{% get_static_prefix %}ornitho/images/galerie/glacier_matin.jpg" alt="Lever de soleil sur les glaciers (Haute-Savoie)">
        <img src="{% get_static_prefix %}ornitho/images/galerie/mont_blanc_1.jpg" alt="Mont-Blanc">
        <img src="{% get_static_prefix %}ornitho/images/galerie/mont_blanc_2.jpg" alt="Mont-Blanc">
        <img src="{% get_static_prefix %}ornitho/images/galerie/orage_cevennes.jpg" alt="Un orage en Cévennes">
        <img src="{% get_static_prefix %}ornitho/images/galerie/mouton_et_bossons.jpg" alt="Le glacier des Bossons (Haute-Savoie)">
        <img src="{% get_static_prefix %}ornitho/images/galerie/gouloux.jpg" alt="Saut du Gouloux (Morvan)">
        <img src="{% get_static_prefix %}ornitho/images/galerie/gouter.jpg" alt="Aiguille du Goûter (Haute-Savoie)">
        <img src="{% get_static_prefix %}ornitho/images/galerie/maudit_soir.jpg" alt="Mont-Maudit au coucher du soleil (Haute-Savoie)">
        <img src="{% get_static_prefix %}ornitho/images/galerie/mb_1.jpg" alt="Mont-Blanc">
        <img src="{% get_static_prefix %}ornitho/images/galerie/mb_night_2.jpg" alt="Mont-Blanc by night">
        <img src="{% get_static_prefix %}ornitho/images/galerie/massif_mont_blanc.jpg" alt="Massif du Mont-Blanc">
        <img src="{% get_static_prefix %}ornitho/images/galerie/maudit_matin.jpg" alt="Mont-Maudit au lever du soleil (Haute-Savoie)">
    </div>

    <h6 class="text-center mt-5">Powered by <a href="https://galleriajs.github.io">Galleria</a></h6>
{% endblock article %}

{% block javascript %}
    {{ block.super }}

    <script src="{% get_static_prefix %}ornitho/js/galleria/galleria.min.js"></script>

    <script>
        (function() {
            Galleria.loadTheme('/statics/ornitho/js/galleria/themes/azur/galleria.azur.min.js');
            Galleria.run('.galleria', {
                carouselSpeed: 50,
                fullscreenTransition: 'fade',
                imageCrop: false,
                transition: 'fade',
                transitionSpeed: 1000,
            });
        }());
    </script>

    <script>
        var imgs = document.images,
        len = imgs.length,
        counter = 0;

        [].forEach.call( imgs, function( img ) {
            if(img.complete)
            incrementCounter();
            else
            img.addEventListener( 'load', incrementCounter, false );
        } );

        function incrementCounter() {
            counter++;
            if ( counter === len ) {
                $("#loading").css("display", "none");
            }
        }
    </script>
{% endblock javascript %}
