<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="icon" sizes="200x200" href="images/ornitho.png" />
        <link rel="stylesheet" href="styles.css" />
        <script src="scripts/jquery-3.3.1.min.js"></script>
        <script src="scripts/galleria/galleria.min.js"></script>
        <title>Ornitho - Voir le parc autrement</title>
    </head>
    <body>
        <div id="bloc_page">
            <header>
                <div id="bandeau">
                    <div id="carrousel">
                        <img src="bandeaux/crecerelle.jpg"/>
                        <img src="bandeaux/gd.jpg"/>
                        <img src="bandeaux/grues.jpg"/>
                        <img src="bandeaux/anax.jpg"/>
                        <img src="bandeaux/milan_royal.jpg"/>
                        <img src="bandeaux/oedipode.jpg"/>
                    </div>
                    <div id="texte_bandeau">
                        <h1><a href="index.html">Ornitho</a></h1>
                        <h2>Voir le parc autrement…</h2>
                    </div>
                </div>
            </header>
            <section>
                <nav>
                    <ul>
                        <li><a  href="index.html">ACCUEIL</a></li>
                        <li><a  href="oiseaux.html">OISEAUX</a></li>
                        <li><a  href="mammiferes.html">MAMMIFÈRES</a></li>
                        <li><a  href="reptiles.html">REPTILES</a></li>
                        <li><a  href="amphibiens.html">AMPHIBIENS</a></li>
                        <li><a  href="libellules.html">LIBELLULES</a></li>
                        <li><a  href="papillons.html">PAPILLONS</a></li>
                        <li><a  href="sauterelles.html">SAUTERELLES</a></li>
                        <li><a class="current_link" href="galerie.html">GALERIE</a></li>
                    </ul>
                </nav>

                <div id="bienvenue" style="height: auto; margin: 15px 0px 0px 0px; text-align: center;">Galerie des mammifères</div>
                <h4 style="color: maroon; margin-top: 0px; text-align: center;">Vous pouvez me visualiser en mode diaporama et/ou en plein écran.</h4>
                <h5 id="loading" style="text-align: center;">Images en cours de chargement. Veuillez patienter…</h5>

                <div class="galleria">
                    <img src="images/galerie/mulot.jpg" alt="Mulot (Haute-Savoie)">
                    <img src="images/galerie/marmotte.jpg" alt="Marmotte (Haute-Savoie)">
                    <img src="images/galerie/lievre_et_renardeau.jpg" alt="Ce lièvre se demande apparemment s'il doit avoir peur du renardeau ou pas…">
                    <img src="images/galerie/lievre.jpg" alt="Lièvre">
                    <img src="images/galerie/blaireau.jpg" alt="Blaireau (Causse Méjean)">
                    <img src="images/galerie/bouvreuil.jpg" alt="Bouvreuil en hiver">
                    <img src="images/galerie/cerf_1.jpg" alt="Cerf (Haute-Savoie)">
                    <img src="images/galerie/cerf_2.jpg" alt="Le brame du cerf (Haute-Savoie)">
                    <img src="images/galerie/chamois_pormenaz_1.jpg" alt="Chamois (Haute-Savoie)">
                    <img src="images/galerie/chamois_pormenaz_2.jpg" alt="Chamois (Haute-Savoie)">
                    <img src="images/galerie/chevreuil_fontenelles.jpg" alt="Chevreuil">
                    <img src="images/galerie/chevreuil_galop.jpg" alt="Chevreuil en été">
                    <img src="images/galerie/chevreuil_hiver.jpg" alt="Chevreuil en hiver">
                    <img src="images/galerie/chevreuil_pas_timide.jpg" alt="Le chevreuil est volontiers curieux">
                    <img src="images/galerie/chevreuils_hivers.jpg" alt="Chevreuils en hiver">
                    <img src="images/galerie/ecureuil_1.jpg" alt="Écureuil">
                    <img src="images/galerie/ecureuil_2.jpg" alt="Écureuil">
                    <img src="images/galerie/ragondin_1.jpg" alt="Ragondin">
                    <img src="images/galerie/ragondin_2.jpg" alt="Ragondin">
                    <img src="images/galerie/ragondin_3.jpg" alt="Ragondin">
                    <img src="images/galerie/ragondin_4.jpg" alt="Ragondin">
                    <img src="images/galerie/renard_1.jpg" alt="Renard">
                    <img src="images/galerie/renard_2.jpg" alt="Renard">
                    <img src="images/galerie/renard_3.jpg" alt="Renard">
                    <img src="images/galerie/renard_4.jpg" alt="Renard">
                    <img src="images/galerie/renard_5.jpg" alt="Renard">
                    <img src="images/galerie/renard_6.jpg" alt="Renard">
                    <img src="images/galerie/renard_7.jpg" alt="Renard">
                    <img src="images/galerie/renard_8.jpg" alt="Renard">
                    <img src="images/galerie/renard_9.jpg" alt="Renard">
                </div>

                <script>
                    (function() {
                        Galleria.loadTheme('scripts/galleria/themes/azur/galleria.azur.min.js');
                        Galleria.run('.galleria', {
                            carouselSpeed: 50,
                            fullscreenTransition: 'fade',
                            imageCrop: false,
                            transition: 'fade',
                            transitionSpeed: 1000,
                        });
                    }());
                </script>

                <script>
                    var imgs = document.images,
                    len = imgs.length,
                    counter = 0;

                    [].forEach.call( imgs, function( img ) {
                        if(img.complete)
                        incrementCounter();
                        else
                        img.addEventListener( 'load', incrementCounter, false );
                    } );

                    function incrementCounter() {
                        counter++;
                        if ( counter === len ) {
                            $("#loading").css("display", "none");
                        }
                    }
                </script>

                <h6 style="text-align: center;">Powered by <a href="https://galleriajs.github.io">Galleria</a></h6>

                <article><a href="https://github.com/BrRoman/ornitho"><img id="logo_github" src="images/github.png" title="View my source code on Github"></a></article>
            </section>
        </div>
    </body>
</html>

