<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="icon" sizes="200x200" href="images/ornitho.png" />
        <link rel="stylesheet" href="styles.css" />
        <script src="scripts/jquery-3.3.1.min.js"></script>
        <script src="scripts/galleria/galleria.min.js"></script>
        <title>Ornitho - Voir le parc autrement</title>
    </head>
    <body>
        <div id="bloc_page">
            <header>
                <div id="bandeau">
                    <div id="carrousel">
                        <img src="bandeaux/crecerelle.jpg"/>
                        <img src="bandeaux/gd.jpg"/>
                        <img src="bandeaux/grues.jpg"/>
                        <img src="bandeaux/anax.jpg"/>
                        <img src="bandeaux/milan_royal.jpg"/>
                        <img src="bandeaux/oedipode.jpg"/>
                    </div>
                    <div id="texte_bandeau">
                        <h1><a href="index.html">Ornitho</a></h1>
                        <h2>Voir le parc autrement…</h2>
                    </div>
                </div>
            </header>
            <section>
                <nav>
                    <ul>
                        <li><a  href="index.html">ACCUEIL</a></li>
                        <li><a  href="oiseaux.html">OISEAUX</a></li>
                        <li><a  href="mammiferes.html">MAMMIFÈRES</a></li>
                        <li><a  href="reptiles.html">REPTILES</a></li>
                        <li><a  href="amphibiens.html">AMPHIBIENS</a></li>
                        <li><a  href="libellules.html">LIBELLULES</a></li>
                        <li><a  href="papillons.html">PAPILLONS</a></li>
                        <li><a  href="sauterelles.html">SAUTERELLES</a></li>
                        <li><a class="current_link" href="galerie.html">GALERIE</a></li>
                    </ul>
                </nav>

                <div id="bienvenue" style="height: auto; margin: 15px 0px 0px 0px; text-align: center;">Galerie des oiseaux</div>
                <h4 style="color: maroon; margin-top: 0px; text-align: center;">Vous pouvez me visualiser en mode diaporama et/ou en plein écran.</h4>
                <h5 id="loading" style="text-align: center;">Images en cours de chargement. Veuillez patienter…</h5>

                <div class="galleria">
                    <img src="images/galerie/tourterelle_rosier.jpg" alt="Jeune tourterelle turque dans un rosier">
                    <img src="images/galerie/tourterelles_bois.jpg" alt="Tourterelles des bois">
                    <img src="images/galerie/verdier.jpg" alt="Verdier d'Europe">
                    <img src="images/galerie/aigrette_1.jpg" alt="Grande aigrette">
                    <img src="images/galerie/aigrette_2.jpg" alt="Grande aigrette">
                    <img src="images/galerie/aigrette_3.jpg" alt="Grande aigrette">
                    <img src="images/galerie/aigrette_4.jpg" alt="Grande aigrette">
                    <img src="images/galerie/alouette.jpg" alt="Alouette">
                    <img src="images/galerie/rougequeue_1.jpg" alt="Rougequeue">
                    <img src="images/galerie/rougequeue_3.jpg" alt="Rougequeue">
                    <img src="images/galerie/sanderling.jpg" alt="Bécasseau sanderling (Sables-d'Olonne, Vendée)">
                    <img src="images/galerie/becassine_1.jpg" alt="Bécassine des marais">
                    <img src="images/galerie/becassine_2.jpg" alt="Bécassine des marais">
                    <img src="images/galerie/becassine_3.jpg" alt="Bécassine des marais">
                    <img src="images/galerie/bergeronnette_grise.jpg" alt="Bergeronnette grise">
                    <img src="images/galerie/bergeronnette_grise_juv.jpg" alt="Jeune bergeronnette grise">
                    <img src="images/galerie/bergeronnette_printanniere.jpg" alt="Bergeronnette printannière dans un champ de colza">
                    <img src="images/galerie/busard.jpg" alt="Busard femelle">
                    <img src="images/galerie/busard_saint_martin_1.jpg" alt="Busard saint-martin mâle">
                    <img src="images/galerie/busard_saint_martin_2.jpg" alt="Busard saint-martin femelle">
                    <img src="images/galerie/buse_1.jpg" alt="Buse">
                    <img src="images/galerie/buse_2.jpg" alt="Buse">
                    <img src="images/galerie/buse_3.jpg" alt="Buse">
                    <img src="images/galerie/buse_4.jpg" alt="Buse">
                    <img src="images/galerie/buse_jeune.jpg" alt="Jeune buse">
                    <img src="images/galerie/buses_parade.jpg" alt="Couple de buses (vol de parade)">
                    <img src="images/galerie/cassenoix.jpg" alt="Cassenoix moucheté (Haute-Savoie)">
                    <img src="images/galerie/charbo_juvenile.jpg" alt="Jeune mésange charbonnière">
                    <img src="images/galerie/chardo.jpg" alt="Chardonneret">
                    <img src="images/galerie/cheveche_aire_jeu.jpg" alt="La chouette chevêche vit volontiers près des habitations">
                    <img src="images/galerie/cincle.jpg" alt="Cincle plongeur (« Merle d'eau »)">
                    <img src="images/galerie/crecerelle_1.jpg" alt="Faucon crécerelle">
                    <img src="images/galerie/crecerelle_2.jpg" alt="Faucon crécerelle">
                    <img src="images/galerie/crecerelle_3.jpg" alt="Faucon crécerelle">
                    <img src="images/galerie/crecerelle_choucas.jpg" alt="Faucon crécerelle et Choucas des tours">
                    <img src="images/galerie/crecerelle.jpg" alt="Faucon crécerelle">
                    <img src="images/galerie/cygne.jpg" alt="Cygne">
                    <img src="images/galerie/garzette_et_martin_pecheur.jpg" alt="Aigrette garzette et martin-pêcheur">
                    <img src="images/galerie/garzette.jpg" alt="Aigrette garzette">
                    <img src="images/galerie/gd_1.jpg" alt="Hibou grand-duc">
                    <img src="images/galerie/gd_2.jpg" alt="Hibou grand-duc">
                    <img src="images/galerie/goelands.jpg" alt="Goélands (Sables-d'Olonne, Vendée)">
                    <img src="images/galerie/gravelot_1.jpg" alt="Petit gravelot">
                    <img src="images/galerie/gravelot_2.jpg" alt="Petit gravelot">
                    <img src="images/galerie/grebe.jpg" alt="Le grèbe huppé, un véritable sous-marin miniature">
                    <img src="images/galerie/grisette.jpg" alt="Fauvette grisette">
                    <img src="images/galerie/guepier_1.jpg" alt="Guêpier d'Europe">
                    <img src="images/galerie/guepier_2.jpg" alt="Guêpier d'Europe">
                    <img src="images/galerie/guignette.jpg" alt="Chevalier guignette">
                    <img src="images/galerie/hdm_1.jpg" alt="Hibou des marais">
                    <img src="images/galerie/hdm_2.jpg" alt="Comme la chevêche, le hibou des marais est très à l'aise en plein jour">
                    <img src="images/galerie/heron_1.jpg" alt="Héron cendré">
                    <img src="images/galerie/heron_2.jpg" alt="Héron cendré">
                    <img src="images/galerie/heron_laumes.jpg" alt="Héron cendré">
                    <img src="images/galerie/hirondelles_nourrissage.jpg" alt="Hirondelle nourrissant ses petits tout juste sortis du nid">
                    <img src="images/galerie/hobereau.jpg" alt="Faucon hobereau">
                    <img src="images/galerie/hobereau_seine_marne.jpg" alt="Le faucon hobereau mange ses proies (généralement des libellules) en plein vol (Seine-et-Marne)">
                    <img src="images/galerie/hulotte.jpg" alt="Chouette hulotte dans un tilleul">
                    <img src="images/galerie/effraie.jpg" alt="Chouette effraie">
                    <img src="images/galerie/etourneau.jpg" alt="Étourneau sansonnet">
                    <img src="images/galerie/faisan.jpg" alt="Faisan">
                    <img src="images/galerie/draine.jpg" alt="Cette grive draine va nourrir ses petits, sinon elle aurait avalé la cerise depuis longtemps !">
                    <img src="images/galerie/faisans_couple.jpg" alt="Couple de faisans">
                    <img src="images/galerie/pic_epeiche.jpg" alt="Pic épeiche">
                    <img src="images/galerie/milan_noir.jpg" alt="Milan noir">
                    <img src="images/galerie/milan_royal.jpg" alt="Milan royal">
                    <img src="images/galerie/mouette_rieuse.jpg" alt="Mouette rieuse (Sables d'Olonne, Vendée)">
                    <img src="images/galerie/moyen_duc_adulte.jpg" alt="Hibou moyen-duc">
                    <img src="images/galerie/moyen_duc_jeunes.jpg" alt="Hibou moyen-duc (jeunes)">
                    <img src="images/galerie/pelerin.jpg" alt="Faucon pèlerin">
                    <img src="images/galerie/pic_epeichette.jpg" alt="Pic épeichette dans un marronnier">
                    <img src="images/galerie/remiz.jpg" alt="Rémiz penduline dans les roseaux">
                    <img src="images/galerie/sterne.jpg" alt="Sterne pierregarin (Seine-et-Marne)">
                    <img src="images/galerie/tournepierre.jpg" alt="Tournepierre à collier">
                    <img src="images/galerie/tournepierres.jpg" alt="Tournepierres">
                    <img src="images/galerie/servoz_vautour.jpg" alt="Vautour fauve planant devant le Mont-Blanc du Tacul (Haute-Savoie)">
                    <img src="images/galerie/martin_pecheur_laumes.jpg" alt="Martin-pêcheur">
                    <img src="images/galerie/martin_pecheur_saint_agnan.jpg" alt="Il est rare que les martins-pêcheurs survivent à un hiver rigoureux">
                    <img src="images/galerie/limicoles_1.jpg" alt="Groupe de limicoles : 1 grand gravelot, 4 bécasseaux variables, 5 bécasseaux minutes">
                    <img src="images/galerie/limicoles_2.jpg" alt="Groupe de limicoles : 2 grands gravelots, 8 bécasseaux variables, 4 bécasseaux minutes">
                    <img src="images/galerie/litorne.jpg" alt="Grive litorne">
                    <img src="images/galerie/malq.jpg" alt="Mésange à longue queue">
                    <img src="images/galerie/mesange_bleue_1.jpg" alt="Mésange bleue">
                    <img src="images/galerie/mesange_bleue_2.jpg" alt="Mésange bleue">
                    <img src="images/galerie/mesange_bleue_prunus.jpg" alt="Mésange bleue dans un prunus après la pluie">
                </div>

                <script>
                    (function() {
                        Galleria.loadTheme('scripts/galleria/themes/azur/galleria.azur.min.js');
                        Galleria.run('.galleria', {
                            carouselSpeed: 50,
                            fullscreenTransition: 'fade',
                            imageCrop: false,
                            transition: 'fade',
                            transitionSpeed: 1000,
                        });
                    }());
                </script>

                <script>
                    var imgs = document.images,
                    len = imgs.length,
                    counter = 0;

                    [].forEach.call( imgs, function( img ) {
                        if(img.complete)
                        incrementCounter();
                        else
                        img.addEventListener( 'load', incrementCounter, false );
                    } );

                    function incrementCounter() {
                        counter++;
                        if ( counter === len ) {
                            $("#loading").css("display", "none");
                        }
                    }
                </script>

                <h6 style="text-align: center;">Powered by <a href="https://galleriajs.github.io">Galleria</a></h6>

                <article><a href="https://github.com/BrRoman/ornitho"><img id="logo_github" src="images/github.png" title="View my source code on Github"></a></article>
            </section>
        </div>
    </body>
</html>

