<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="icon" sizes="200x200" href="images/ornitho.png" />
        <link rel="stylesheet" href="styles.css" />
        <script src="scripts/jquery-3.3.1.min.js"></script>
        <script src="scripts/galleria/galleria.min.js"></script>
        <title>Ornitho - Voir le parc autrement</title>
    </head>
    <body>
        <div id="bloc_page">
            <header>
                <div id="bandeau">
                    <div id="carrousel">
                        <img src="bandeaux/crecerelle.jpg"/>
                        <img src="bandeaux/gd.jpg"/>
                        <img src="bandeaux/grues.jpg"/>
                        <img src="bandeaux/anax.jpg"/>
                        <img src="bandeaux/milan_royal.jpg"/>
                        <img src="bandeaux/oedipode.jpg"/>
                    </div>
                    <div id="texte_bandeau">
                        <h1><a href="index.html">Ornitho</a></h1>
                        <h2>Voir le parc autrement…</h2>
                    </div>
                </div>
            </header>
            <section>
                <nav>
                    <ul>
                        <li><a  href="index.html">ACCUEIL</a></li>
                        <li><a  href="oiseaux.html">OISEAUX</a></li>
                        <li><a  href="mammiferes.html">MAMMIFÈRES</a></li>
                        <li><a  href="reptiles.html">REPTILES</a></li>
                        <li><a  href="amphibiens.html">AMPHIBIENS</a></li>
                        <li><a  href="libellules.html">LIBELLULES</a></li>
                        <li><a  href="papillons.html">PAPILLONS</a></li>
                        <li><a  href="sauterelles.html">SAUTERELLES</a></li>
                        <li><a class="current_link" href="galerie.html">GALERIE</a></li>
                    </ul>
                </nav>

                <div id="bienvenue" style="height: auto; margin: 15px 0px 0px 0px; text-align: center;">Galerie des insectes</div>
                <h4 style="color: maroon; margin-top: 0px; text-align: center;">Vous pouvez me visualiser en mode diaporama et/ou en plein écran.</h4>
                <h5 id="loading" style="text-align: center;">Images en cours de chargement. Veuillez patienter…</h5>

                <div class="galleria">
                    <img src="images/galerie/abeille.jpg" alt="Abeille">
                    <img src="images/galerie/aeschne_bleue_1.jpg" alt="Aeschne bleue">
                    <img src="images/galerie/aeschne_bleue_2.jpg" alt="Aeschne bleue">
                    <img src="images/galerie/agrion_jouvencelle.jpg" alt="Agrion jouvencelle">
                    <img src="images/galerie/agrion_mercure.jpg" alt="Agrion de Mercure">
                    <img src="images/galerie/anax_empereur.jpg" alt="Anax empereur">
                    <img src="images/galerie/agrions_jouvencelles_coeur_copulatoire.jpg" alt="Agrion jouvencelle (cœur copulatoire)">
                    <img src="images/galerie/argus_bleu_céleste.jpg" alt="Argus bleu céleste">
                    <img src="images/galerie/ascalaphe.jpg" alt="Mi-papillons, mi-libellules : les ascalaphes">
                    <img src="images/galerie/aurore.jpg" alt="Aurore">
                    <img src="images/galerie/azure_commun_1.jpg" alt="Azuré commun">
                    <img src="images/galerie/azure_commun_2.jpg" alt="Azuré commun">
                    <img src="images/galerie/azure_commun_3.jpg" alt="Azuré commun">
                    <img src="images/galerie/azure_commun_4.jpg" alt="Azuré commun">
                    <img src="images/galerie/azure_commun_5.jpg" alt="Azuré commun">
                    <img src="images/galerie/azure_commun_6.jpg" alt="Azuré commun">
                    <img src="images/galerie/belle_dame.jpg" alt="Belle-dame">
                    <img src="images/galerie/azure_frele.jpg" alt="Azuré frêle">
                    <img src="images/galerie/calopteryx.jpg" alt="Calopteryx splendens mâle">
                    <img src="images/galerie/carte_geographique.jpg" alt="Carte géographique">
                    <img src="images/galerie/damier_frene.jpg" alt="Le Damier du frêne a presque complètement disparu. Les derniers individus survivent en Côte-d'Or.">
                    <img src="images/galerie/demi_argus.jpg" alt="Demi-argus">
                    <img src="images/galerie/demi_deuil.jpg" alt="Demi-deuil">
                    <img src="images/galerie/gomphe_pattes_noires.jpg" alt="Gomphe à pattes noires">
                    <img src="images/galerie/sylvaine.jpg" alt="Sylvaine">
                    <img src="images/galerie/sympetrum.jpg" alt="Sympétrum">
                    <img src="images/galerie/tabacs.jpg" alt="Tabacs d'Espagne">
                    <img src="images/galerie/toujours_plus_haut.jpg" alt="Toujours plus haut">
                    <img src="images/galerie/flambe_1.jpg" alt="Flambé">
                    <img src="images/galerie/flambe_2.jpg" alt="Flambé">
                    <img src="images/galerie/fontenelles_calopteryx_virgo_male.jpg" alt="Calopteryx virgo mâle">
                    <img src="images/galerie/fontenelles_leste_vert.jpg" alt="Leste vert">
                    <img src="images/galerie/fontenelles_sympetrum_strie_male.jpg" alt="Sympétrum strié mâle">
                    <img src="images/galerie/fourmi_1.jpg" alt="« Va vers la fourmi, ô paresseux. » (Proverbes 6, 6)">
                    <img src="images/galerie/libellule_deprimee_1.jpg" alt="Libellule déprimée">
                    <img src="images/galerie/libellule_deprimee_2.jpg" alt="Libellule déprimée">
                    <img src="images/galerie/machaon.jpg" alt="Machaon">
                    <img src="images/galerie/melitee.jpg" alt="Mélitée">
                    <img src="images/galerie/nymphe_corps_feu.jpg" alt="Nymphe au corps de feu">
                    <img src="images/galerie/pennipatte_1.jpg" alt="Pennipatte bleuâtre">
                    <img src="images/galerie/pennipatte_2.jpg" alt="Pennipatte bleuâtre">
                    <img src="images/galerie/petite_tortue_1.jpg" alt="Petite tortue">
                    <img src="images/galerie/petite_tortue_2.jpg" alt="Petite tortue">
                    <img src="images/galerie/pieride.jpg" alt="Piéride">
                    <img src="images/galerie/pieride_navet.jpg" alt="Piéride du navet">
                    <img src="images/galerie/spectre_paisible.jpg" alt="Le Spectre paisible est un hôte habituel des ponts, sous lesquels il aime s'abriter">
                    <img src="images/galerie/satyre.jpg" alt="Satyre">
                    <img src="images/galerie/scorpion.jpg" alt="Scorpion (Cévennes)">
                    <img src="images/galerie/servoz_azure_commun.jpg" alt="Azuré commun">
                    <img src="images/galerie/servoz_petit_nacre.jpg" alt="Petit nacré">
                    <img src="images/galerie/sphinx.jpg" alt="Moro-sphinx">
                    <img src="images/galerie/mante.jpg" alt="Mante religieuse">
                </div>

                <script>
                    (function() {
                        Galleria.loadTheme('scripts/galleria/themes/azur/galleria.azur.min.js');
                        Galleria.run('.galleria', {
                            carouselSpeed: 50,
                            fullscreenTransition: 'fade',
                            imageCrop: false,
                            transition: 'fade',
                            transitionSpeed: 1000,
                        });
                    }());
                </script>

                <script>
                    var imgs = document.images,
                    len = imgs.length,
                    counter = 0;

                    [].forEach.call( imgs, function( img ) {
                        if(img.complete)
                        incrementCounter();
                        else
                        img.addEventListener( 'load', incrementCounter, false );
                    } );

                    function incrementCounter() {
                        counter++;
                        if ( counter === len ) {
                            $("#loading").css("display", "none");
                        }
                    }
                </script>

                <h6 style="text-align: center;">Powered by <a href="https://galleriajs.github.io">Galleria</a></h6>

                <article><a href="https://github.com/BrRoman/ornitho"><img id="logo_github" src="images/github.png" title="View my source code on Github"></a></article>
            </section>
        </div>
    </body>
</html>

