<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="icon" sizes="200x200" href="images/ornitho.png" />
        <link rel="stylesheet" href="styles.css" />
        <script src="scripts/jquery-3.3.1.min.js"></script>
        <script src="scripts/galleria/galleria.min.js"></script>
        <title>Ornitho - Voir le parc autrement</title>
    </head>
    <body>
        <div id="bloc_page">
            <header>
                <div id="bandeau">
                    <div id="carrousel">
                        <img src="bandeaux/crecerelle.jpg"/>
                        <img src="bandeaux/gd.jpg"/>
                        <img src="bandeaux/grues.jpg"/>
                        <img src="bandeaux/anax.jpg"/>
                        <img src="bandeaux/milan_royal.jpg"/>
                        <img src="bandeaux/oedipode.jpg"/>
                    </div>
                    <div id="texte_bandeau">
                        <h1><a href="index.html">Ornitho</a></h1>
                        <h2>Voir le parc autrement…</h2>
                    </div>
                </div>
            </header>
            <section>
                <nav>
                    <ul>
                        <li><a  href="index.html">ACCUEIL</a></li>
                        <li><a  href="oiseaux.html">OISEAUX</a></li>
                        <li><a  href="mammiferes.html">MAMMIFÈRES</a></li>
                        <li><a  href="reptiles.html">REPTILES</a></li>
                        <li><a  href="amphibiens.html">AMPHIBIENS</a></li>
                        <li><a  href="libellules.html">LIBELLULES</a></li>
                        <li><a  href="papillons.html">PAPILLONS</a></li>
                        <li><a  href="sauterelles.html">SAUTERELLES</a></li>
                        <li><a class="current_link" href="galerie.html">GALERIE</a></li>
                    </ul>
                </nav>

                <div id="bienvenue" style="height: auto; margin: 15px 0px 0px 0px; text-align: center;">Galerie des paysages</div>
                <h4 style="color: maroon; margin-top: 0px; text-align: center;">Vous pouvez me visualiser en mode diaporama et/ou en plein écran.</h4>
                <h5 id="loading" style="text-align: center;">Images en cours de chargement. Veuillez patienter…</h5>

                <div class="galleria">
                    <img src="images/galerie/plate.jpg" alt="Platé (Haute-Savoie)">
                    <img src="images/galerie/plate_neige.jpg" alt="Le désert de Platé sous la neige (Haute-Savoie)">
                    <img src="images/galerie/pluie.jpg" alt="Pluie en montagne (Haute-Savoie)">
                    <img src="images/galerie/pormenaz.jpg" alt="Le lac de Pormenaz (Haute-Savoie)">
                    <img src="images/galerie/praz.jpg" alt="Les Drus vus depuis l'église des Praz (Haute-Savoie)">
                    <img src="images/galerie/foret_automne.jpg" alt="Forêt en automne">
                    <img src="images/galerie/galets.jpg" alt="Galets sur la plage (Sables-d'Olonne, Vendée)">
                    <img src="images/galerie/bionnassay_1.jpg" alt="Aiguille de Bionnassay">
                    <img src="images/galerie/bionnassay_2.jpg" alt="Aiguille de Bionnassay">
                    <img src="images/galerie/alpes_depuis_mont_blanc.jpg" alt="Les sommets des Alpes vus depuis le Mont-Blanc">
                    <img src="images/galerie/aigoual_coucher_soleil.jpg" alt="Coucher de soleil sur le Mont Aigoual (Cévennes)">
                    <img src="images/galerie/alpes_coucher_soleil.jpg" alt="Coucher de soleil sur les Alpes">
                    <img src="images/galerie/transhumance.jpg" alt="Transhumance (Cévennes)">
                    <img src="images/galerie/val_choues.jpg" alt="Val des choues">
                    <img src="images/galerie/auxois_brume_matin.jpg" alt="Brume matinale en Auxois">
                    <img src="images/galerie/auxois_ete.jpg" alt="Auxois en été">
                    <img src="images/galerie/auxois_hiver.jpg" alt="Auxois en hiver">
                    <img src="images/galerie/auxois_by_night.jpg" alt="Auxois by night">
                    <img src="images/galerie/sables_coucher_soleil_1.jpg" alt="Coucher de soleil sur l'océan (Sables-d'Olonne, Vendée)">
                    <img src="images/galerie/sables_coucher_soleil_2.jpg" alt="Coucher de soleil sur l'océan (Sables-d'Olonne, Vendée)">
                    <img src="images/galerie/causse_mejean_1.jpg" alt="Le Causse Méjean">
                    <img src="images/galerie/causse_mejean_2.jpg" alt="Le Causse Méjean">
                    <img src="images/galerie/chemerey_automne.jpg" alt="Chèmerey (Côte-d'Or)">
                    <img src="images/galerie/cirque_navacelles.jpg" alt="Le Cirque de Navacelles (Hérault)">
                    <img src="images/galerie/desolation_smaug.jpg" alt="Le Mont-Joli (Haute-Savoie)">
                    <img src="images/galerie/douix.jpg" alt="Sources de la Douix (Côte-d'Or)">
                    <img src="images/galerie/eclair_1.jpg" alt="Éclairs">
                    <img src="images/galerie/eclair_2.jpg" alt="Éclairs">
                    <img src="images/galerie/glacier_matin.jpg" alt="Lever de soleil sur les glaciers (Haute-Savoie)">
                    <img src="images/galerie/mont_blanc_1.jpg" alt="Mont-Blanc">
                    <img src="images/galerie/mont_blanc_2.jpg" alt="Mont-Blanc">
                    <img src="images/galerie/orage_cevennes.jpg" alt="Un orage en Cévennes">
                    <img src="images/galerie/mouton_et_bossons.jpg" alt="Le glacier des Bossons (Haute-Savoie)">
                    <img src="images/galerie/gouloux.jpg" alt="Saut du Gouloux (Morvan)">
                    <img src="images/galerie/gouter.jpg" alt="Aiguille du Goûter (Haute-Savoie)">
                    <img src="images/galerie/maudit_soir.jpg" alt="Mont-Maudit au coucher du soleil (Haute-Savoie)">
                    <img src="images/galerie/mb_1.jpg" alt="Mont-Blanc">
                    <img src="images/galerie/mb_night_2.jpg" alt="Mont-Blanc by night">
                    <img src="images/galerie/massif_mont_blanc.jpg" alt="Massif du Mont-Blanc">
                    <img src="images/galerie/maudit_matin.jpg" alt="Mont-Maudit au lever du soleil (Haute-Savoie)">
                </div>

                <script>
                    (function() {
                        Galleria.loadTheme('scripts/galleria/themes/azur/galleria.azur.min.js');
                        Galleria.run('.galleria', {
                            carouselSpeed: 50,
                            fullscreenTransition: 'fade',
                            imageCrop: false,
                            transition: 'fade',
                            transitionSpeed: 1000,
                        });
                    }());
                </script>

                <script>
                    var imgs = document.images,
                    len = imgs.length,
                    counter = 0;

                    [].forEach.call( imgs, function( img ) {
                        if(img.complete)
                        incrementCounter();
                        else
                        img.addEventListener( 'load', incrementCounter, false );
                    } );

                    function incrementCounter() {
                        counter++;
                        if ( counter === len ) {
                            $("#loading").css("display", "none");
                        }
                    }
                </script>

                <h6 style="text-align: center;">Powered by <a href="https://galleriajs.github.io">Galleria</a></h6>

                <article><a href="https://github.com/BrRoman/ornitho"><img id="logo_github" src="images/github.png" title="View my source code on Github"></a></article>
            </section>
        </div>
    </body>
</html>

