<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="icon" sizes="200x200" href="images/ornitho.png" />
        <link rel="stylesheet" href="styles.css" />
        <title>Ornitho - Voir le parc autrement</title>
    </head>
    <body>
        <div id="bloc_page">
            <header>
                <div id="bandeau">
                    <div id="carrousel">
                        <img src="bandeaux/crecerelle.jpg"/>
                        <img src="bandeaux/gd.jpg"/>
                        <img src="bandeaux/grues.jpg"/>
                        <img src="bandeaux/anax.jpg"/>
                        <img src="bandeaux/milan_royal.jpg"/>
                        <img src="bandeaux/oedipode.jpg"/>
                    </div>
                    <div id="texte_bandeau">
                        <h1><a href="index.html">Ornitho</a></h1>
                        <h2>Voir le parc autrement…</h2>
                    </div>
                </div>
            </header>
            <section>
                <nav>
                    <ul>
                        <li><a  href="index.html">ACCUEIL</a></li>
                        <li><a  href="oiseaux.html">OISEAUX</a></li>
                        <li><a  href="mammiferes.html">MAMMIFÈRES</a></li>
                        <li><a  href="reptiles.html">REPTILES</a></li>
                        <li><a  href="amphibiens.html">AMPHIBIENS</a></li>
                        <li><a class="current_link" href="libellules.html">LIBELLULES</a></li>
                        <li><a  href="papillons.html">PAPILLONS</a></li>
                        <li><a  href="sauterelles.html">SAUTERELLES</a></li>
                        <li><a  href="galerie.html">GALERIE</a></li>
                    </ul>
                </nav>
                <article>
                    <h1>Libellules</h1>
                    <table>
                        <tr>
                            <th>Nom</th>
                            <th>Image</th>
                            <th>Description</th>
                        </tr>
                        <tr>
                            <td id="nom">Æschne bleue</td>
                            <td><a href="images/aeschne_bleue.jpg"><img src="vignettes/aeschne_bleue_thumb.jpg"/></a></td>
                            <td id="texte_description">Grande libellule avec des tâches bleues et vertes</td>
                        </tr>
                        <tr>
                            <td id="nom">Caloptéryx éclatant</td>
                            <td><a href="images/calopt_eclatant.jpg"><img src="vignettes/calopt_eclatant_thumb.jpg"/></a></td>
                            <td id="texte_description">Fin, bleu métallique, ailes partiellement noires.</td>
                        </tr>
                        <tr>
                            <td id="nom">Cordulégastre annelé</td>
                            <td><a href="images/cordulegastres_anneles.jpg"><img src="vignettes/cordulegastres_anneles_thumb.jpg"/></a></td>
                            <td id="texte_description">Jaune et noire, pattes noires, abdomen fin, yeux verts.</td>
                        </tr>
                        <tr>
                            <td id="nom">Gomphe à pattes noires</td>
                            <td><a href="images/gomphe_pattes_noires.jpg"><img src="vignettes/gomphe_pattes_noires_thumb.jpg"/></a></td>
                            <td id="texte_description">Grande libellule sombre, pattes noires, abdomen épais, yeux noirs.</td>
                        </tr>                        <tr>
                            <td id="nom">Libellule déprimée</td>
                            <td><a href="images/lib_depr.jpg"><img src="vignettes/lib_depr_thumb.jpg"/></a></td>
                            <td id="texte_description">Corps épais, bleu-gris.</td>
                        </tr>
                        <tr>
                            <td id="nom">Spectre paisible</td>
                            <td><a href="images/spectre_paisible.jpg"><img src="vignettes/spectre_paisible_thumb.jpg"/></a></td>
                            <td id="texte_description">"Tenue de camouflage". Aime les endroits ombragés et dort volontiers sous les ponts.</td>
                        </tr>
                        <tr>
                            <td id="nom">Sympétrum sanguin</td>
                            <td><a href="images/symp_sanguin.jpg"><img src="vignettes/symp_sanguin_thumb.jpg"/></a></td>
                            <td id="texte_description">Rouge avec les pattes noires.</td>
                        </tr>
                        <tr>
                            <td id="nom">Sympétrum strié</td>
                            <td><a href="images/symp_strie.jpg"><img src="vignettes/symp_strie_thumb.jpg"/></a></td>
                            <td id="texte_description">Semblable au S. sanguin, mais les pattes sont noires et jaunes.</td>
                        </tr>
                    </table>
                    <a href="https://github.com/BrRoman/ornitho"><img id="logo_github" src="images/github.png" title="View my source code on Github"></a>
                </article>
            </section>
            <div id="overlay"></div>
        </div>
        <script src="scripts/jquery-3.3.1.min.js"></script>
        <script src="scripts/pictures.js"></script>
        <script src="scripts/animate.js"></script>
    </body>
</html>

