<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="icon" sizes="200x200" href="images/ornitho.png" />
        <link rel="stylesheet" href="styles.css" />
        <title>Ornitho - Voir le parc autrement</title>
    </head>
    <body>
        <div id="bloc_page">
            <header>
                <div id="bandeau">
                    <div id="carrousel">
                        <img src="bandeaux/crecerelle.jpg"/>
                        <img src="bandeaux/gd.jpg"/>
                        <img src="bandeaux/grues.jpg"/>
                        <img src="bandeaux/anax.jpg"/>
                        <img src="bandeaux/milan_royal.jpg"/>
                        <img src="bandeaux/oedipode.jpg"/>
                    </div>
                    <div id="texte_bandeau">
                        <h1><a href="index.html">Ornitho</a></h1>
                        <h2>Voir le parc autrement…</h2>
                    </div>
                </div>
            </header>
            <section>
                <nav>
                    <ul>
                        <li><a  href="index.html">ACCUEIL</a></li>
                        <li><a  href="oiseaux.html">OISEAUX</a></li>
                        <li><a class="current_link" href="mammiferes.html">MAMMIFÈRES</a></li>
                        <li><a  href="reptiles.html">REPTILES</a></li>
                        <li><a  href="amphibiens.html">AMPHIBIENS</a></li>
                        <li><a  href="libellules.html">LIBELLULES</a></li>
                        <li><a  href="papillons.html">PAPILLONS</a></li>
                        <li><a  href="sauterelles.html">SAUTERELLES</a></li>
                        <li><a  href="galerie.html">GALERIE</a></li>
                    </ul>
                </nav>
                <article>
                    <h1>Mammifères</h1>
                    <table>
                        <tr>
                            <th>Nom</th>
                            <th>Image</th>
                            <th>Description</th>
                            <th>Son</th>
                            <th>Où le voir ?</th>
                        </tr>
                        <tr>
                            <td id="nom">Cerf</td>
                            <td><a href="images/cerf.jpg"><img src="vignettes/cerf_thumb.jpg"/></a></td>
                            <td id="texte_description">Très grand (même la biche) et beaucoup plus massif que le chevreuil.</td>
                            <td>
                                <audio src="sons/cerf.mp3" controls>Son</audio>
                                <div id="texte_description">
                                Brâme (fin octobre) : ressemble au mugissement d'une vache, mais en plus grave.
                            </td>
                            <td id="texte_description">Vastes forêts. De rares individus de passage sont parfois surpris dans l'Auxois.</td>
                        </tr>
                        <tr>
                                <td id="nom">Chevreuil</td>
                                <td><a href="images/chevreuil.jpg"><img src="vignettes/chevreuil_thumb.jpg"/></a></td>
                                <td id="texte_description">Taille moyenne, élancé.</td>
                                <td>
                                    <audio src="sons/chevreuil.mp3" controls>Son</audio>
                                    <div id="texte_description">
                                    "Aboiement" ressemblant à un éternuement (ne pas confondre avec le jappement du renard).
                                </td>
                                <td id="texte_description">Bosquets et sous-bois.</td>
                        </tr>
                        <tr>
                            <td id="nom">Écureuil</td>
                            <td><a href="images/ecureuil.jpg"><img src="vignettes/ecureuil_thumb.jpg"/></a></td>
                            <td id="texte_description">Bien connu.</td>
                            <td>
                                <div id="texte_description">
                                Gloussement amusé.
                            </td>
                            <td id="texte_description">Partout où il y a des arbres.</td>
                        </tr>
                        <tr>
                            <td id="nom">Fouine</td>
                            <td><a href="images/fouine.jpg"><img src="vignettes/fouine_thumb.jpg"/></a></td>
                            <td id="texte_description">Élancée, pelage sombre, bavette blanche descendant sur les pattes avant.</td>
                            <td>
                                <div id="texte_description">
                            </td>
                            <td id="texte_description">Toujours proche des habitations (différence avec la Martre).</td>
                        </tr>
                        <tr>
                            <td id="nom">Lérot</td>
                            <td></td>
                            <td id="texte_description">Masque noir et blanc.</td>
                            <td>
                                <audio src="sons/lerot.mp3" controls>Son</audio>
                                <div id="texte_description">
                            </td>
                            <td id="texte_description">Vergers, habitations.</td>
                        </tr>
                        <tr>
                            <td id="nom">Lièvre</td>
                            <td><a href="images/lievre.jpg"><img src="vignettes/lievre_thumb.jpg"/></a></td>
                            <td id="texte_description">Grand, longues oreilles.</td>
                            <td>
                                <div id="texte_description">
                            </td>
                            <td id="texte_description">Champs, lisières de forêts.</td>
                        </tr>
                        <tr>
                            <td id="nom">Loir</td>
                            <td><a href="images/loir.jpg"><img src="vignettes/loir_thumb.jpg"/></a></td>
                            <td id="texte_description">Plus grand que le lérot, gris uniforme dessus.</td>
                            <td>
                                <audio src="sons/loir.mp3" controls>Son</audio>
                                <div id="texte_description">
                                Cris aigus ; audibles surtout en fin d'été au crépuscule.
                            </td>
                            <td id="texte_description">Vergers, parcs.</td>
                        </tr>
                        <tr>
                            <td id="nom">Mulot</td>
                            <td><a href="images/mulot.jpg"><img src="vignettes/mulot_thumb.jpg"/></a></td>
                            <td id="texte_description">Petit, teinte marron, grandes oreilles et longue queue</td>
                            <td>
                                <div id="texte_description">
                            </td>
                            <td id="texte_description">Milieux forestiers, à la mauvaise saison également proche des bâtiments.</td>
                        </tr>
                        <tr>
                            <td id="nom">Renard</td>
                            <td><a href="images/renard.jpg"><img src="vignettes/renard_thumb.jpg"/></a></td>
                            <td id="texte_description">Bien connu.</td>
                            <td>
                                <audio src="sons/renard.mp3" controls>Son</audio>
                                <div id="texte_description">
                                    Jappements (0:00) fréquemment audibles en hiver/début de printemps.
                            </td>
                            <td id="texte_description">Partout.</td>
                        </tr>
                    </table>
                    <a href="https://github.com/BrRoman/ornitho"><img id="logo_github" src="images/github.png" title="View my source code on Github"></a>
                </article>
            </section>
            <div id="overlay"></div>
        </div>
        <script src="scripts/jquery-3.3.1.min.js"></script>
        <script src="scripts/pictures.js"></script>
        <script src="scripts/animate.js"></script>
    </body>
</html>

