<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="icon" sizes="200x200" href="images/ornitho.png" />
        <link rel="stylesheet" href="styles.css" />
        <title>Ornitho - Voir le parc autrement</title>
    </head>
    <body>
        <div id="bloc_page">
            <header>
                <div id="bandeau">
                    <div id="carrousel">
                        <img src="bandeaux/crecerelle.jpg"/>
                        <img src="bandeaux/gd.jpg"/>
                        <img src="bandeaux/grues.jpg"/>
                        <img src="bandeaux/anax.jpg"/>
                        <img src="bandeaux/milan_royal.jpg"/>
                        <img src="bandeaux/oedipode.jpg"/>
                    </div>
                    <div id="texte_bandeau">
                        <h1><a href="index.html">Ornitho</a></h1>
                        <h2>Voir le parc autrement…</h2>
                    </div>
                </div>
            </header>
            <section>
                <nav>
                    <ul>
                        <li><a  href="index.html">ACCUEIL</a></li>
                        <li><a class="current_link" href="oiseaux.html">OISEAUX</a></li>
                        <li><a  href="mammiferes.html">MAMMIFÈRES</a></li>
                        <li><a  href="reptiles.html">REPTILES</a></li>
                        <li><a  href="amphibiens.html">AMPHIBIENS</a></li>
                        <li><a  href="libellules.html">LIBELLULES</a></li>
                        <li><a  href="papillons.html">PAPILLONS</a></li>
                        <li><a  href="sauterelles.html">SAUTERELLES</a></li>
                        <li><a  href="galerie.html">GALERIE</a></li>
                    </ul>
                </nav>
                <article>
                    <h1>Oiseaux</h1>
                    <table>
                        <tr>
                            <th>Nom</th>
                            <th>Image</th>
                            <th>Description</th>
                            <th>Son</th>
                            <th>Où le voir ?</th>
                        </tr>
                        <tr>
                            <td id="nom">Accenteur mouchet</td>
                            <td><a href="images/accenteur.jpg"><img src="vignettes/accenteur_thumb.jpg"/></a></td>
                            <td id="texte_description">Taille d'un rougegorge. Dessus brun, tête gris-bleutée. Difficile à voir.</td>
                            <td>
                                <audio src="sons/accenteur.mp3" controls>Son</audio>
                                <div id="texte_description">
                                Cri de contact "triih" fort et net, audible notamment en hiver.
                            </td>
                            <td id="texte_description">Buissons, ronciers.</td>
                        </tr>
                        <tr>
                            <td id="nom">Bergeronnette grise</td>
                            <td><a href="images/berg_grise.jpg"><img src="vignettes/berg_grise_thumb.jpg"/></a></td>
                            <td id="texte_description">Grise, élancée, longue queue remuante.</td>
                            <td>
                                <audio src="sons/berg_grise.mp3" controls>Son</audio>
                                <div id="texte_description">
                                Tsi-wi.
                            </td>
                            <td id="texte_description">Proche des bâtiments, souvent sur les toits.</td>
                        </tr>
                        <tr>
                            <td id="nom">Bouvreuil pivoine</td>
                            <td><a href="images/bouvreuil.jpg"><img src="vignettes/bouvreuil_thumb.jpg"/></a></td>
                            <td id="texte_description">Trapu, bec épais, béret noir, dessous rouge chez le mâle, brun chez la femelle.</td>
                            <td>
                                <audio src="sons/bouvreuil.mp3" controls>Son</audio>
                                <div id="texte_description">
                                Petites strophes tristes.
                            </td>
                            <td id="texte_description">Arbres et buissons. Très farouche.</td>
                        </tr>
                        <tr>
                            <td id="nom">Bruant zizi</td>
                            <td><a href="images/zizi.jpg"><img src="vignettes/zizi_thumb.jpg"/></a></td>
                            <td id="texte_description">Masque noir et jaune du mâle typique.</td>
                            <td>
                                <audio src="sons/zizi.mp3" controls>Son</audio>
                                <div id="texte_description">
                                Chant : son métallique "tsi-tsi-tsi-tsi-tsi".
                            </td>
                            <td id="texte_description">Arbres et buissons, généralement en hauteur.</td>
                        </tr>
                        <tr>
                            <td id="nom">Buse variable</td>
                            <td><a href="images/buse.jpg"><img src="vignettes/buse_thumb.jpg"/></a></td>
                            <td id="texte_description">Brune avec un V blanc sur la poitrine, trapue, ailes rondes.</td>
                            <td>
                                <audio src="sons/buse.mp3" controls>Son</audio>
                                <div id="texte_description">
                                Miaulement.
                            </td>
                            <td id="texte_description">Prés, champs, lisière de forêts.</td>
                        </tr>
                        <tr>
                            <td id="nom">Chardonneret</td>
                            <td><a href="images/chardo.jpg"><img src="vignettes/chardo_thumb.jpg"/></a></td>
                            <td id="texte_description">Petit et très coloré.</td>
                            <td>
                                <audio src="sons/chardo.mp3" controls>Son</audio>
                                <div id="texte_description">
                                Comme un tintement de clochettes.
                            </td>
                            <td id="texte_description">Buissons, rosiers, arbres isolés.</td>
                        </tr>
                        <tr>
                            <td id="nom">Choucas</td>
                            <td><a href="images/choucas.jpg"><img src="vignettes/choucas_thumb.jpg"/></a></td>
                            <td id="texte_description">Assez petit et trapu.</td>
                            <td>
                                <audio src="sons/choucas.mp3" controls>Son</audio>
                                <div id="texte_description">
                                Cri de contact : "tchac" caractéristique.
                            </td>
                            <td id="texte_description">Villages (clochers), souvent en groupe.</td>
                        </tr>
                        <tr>
                            <td id="nom">Chouette chevêche</td>
                            <td><a href="images/cheveche.jpg"><img src="vignettes/cheveche_thumb.jpg"/></a></td>
                            <td id="texte_description">Petite, vol ondulant.</td>
                            <td>
                                <audio src="sons/cheveche.mp3" controls>Son</audio>
                                <div id="texte_description">
                                Chant : "tihou ?" interrogatif.
                            </td>
                            <td id="texte_description">Autrefois surtout dans les saules têtards, les vieux pommiers.
                                Aujourd'hui de plus en plus dans les grands bâtiments de ferme avec des trous dans les murs, voire en plein village.
                            </td>
                        </tr>
                        <tr>
                            <td id="nom">Chouette effraie</td>
                            <td><a href="images/effraie.jpg"><img src="vignettes/effraie_thumb.jpg"/></a></td>
                            <td id="texte_description">Blanche avec un visage en forme de cœur.</td>
                            <td>
                                <audio src="sons/effraie.mp3" controls>Son</audio>
                                <div id="texte_description">
                                Long "shhhhh" lugubre faisant penser à la respiration bruyante d'un dormeur, souvent en plein milieu de la nuit.
                            </td>
                            <td id="texte_description">Vieux bâtiments, ruines, clochers.</td>
                        </tr>
                        <tr>
                            <td id="nom">Chouette hulotte</td>
                            <td><a href="images/hulotte.jpg"><img src="vignettes/hulotte_thumb.jpg"/></a></td>
                            <td id="texte_description">Teinte générale marron. Vol ample et souple.</td>
                            <td>
                                <audio src="sons/hulotte.mp3" controls>Son</audio>
                                <div id="texte_description">
                                Chant du mâle et cri d'appel de la femelle.
                            </td>
                            <td id="texte_description">Arbres, vieux bâtiments.</td>
                        </tr>
                        <tr>
                            <td id="nom">Corbeau freux</td>
                            <td><a href="images/freux.jpg"><img src="vignettes/freux_thumb.jpg"/></a></td>
                            <td id="texte_description">Bec blanc et pointu.</td>
                            <td>
                                <audio src="sons/freux.mp3" controls>Son</audio>
                                <div id="texte_description">
                            </td>
                            <td id="texte_description">Champs cultivés. Presque toujours en groupes, parfois très importants.</td>
                        </tr>
                        <tr>
                            <td id="nom">Corneille noire</td>
                            <td><a href="images/corneille.jpg"><img src="vignettes/corneille_thumb.jpg"/></a></td>
                            <td id="texte_description">Plus grosse que le corbeau freux, bec noir et fort.</td>
                            <td>
                                <audio src="sons/corneille.mp3" controls>Son</audio>
                                <div id="texte_description">
                            </td>
                            <td id="texte_description">Partout, seule ou en couple, parfois en petit groupe.</td>
                        </tr>
                        <tr>
                            <td id="nom">Coucou</td>
                            <td><a href="images/coucou.jpg"><img src="vignettes/coucou_thumb.jpg"/></a></td>
                            <td id="texte_description">Taille d'un pigeon, gris. Souvent entendu mais difficile à voir.</td>
                            <td>
                                <audio src="sons/coucou.mp3" controls>Son</audio>
                                <div id="texte_description">
                                Le chant du mâle au printemps est bien connu.
                            </td>
                            <td id="texte_description">Forêts.</td>
                        </tr>
                        <tr>
                            <td id="nom">Étourneau sansonnet</td>
                            <td><a href="images/etourneau.jpg"><img src="vignettes/etourneau_thumb.jpg"/></a></td>
                            <td id="texte_description">Petit et noir à peu près comme un merle (mais bec noir, et comportement très différent, tant au sol que perché)</td>
                            <td>
                                <audio src="sons/etourneau.mp3" controls>Son</audio>
                                <div id="texte_description">
                                Incroyable richesse de répertoire.
                                Imite nombre d'oiseaux (milans, buse, chouettes, pic épeichette, faucon crécerelle, hirondelle, merle, grives, caille etc.) voire de mammifères (renard).
                                Il faut parfois une oreille exercée pour s'apercevoir de la supercherie.
                            </td>
                            <td id="texte_description">Partout. Se rassemble en hiver (jusqu'à plusieurs milliers d'individus)</td>
                        </tr>
                        <tr>
                            <td id="nom">Faucon crécerelle</td>
                            <td><a href="images/crecerelle.jpg"><img src="vignettes/crecerelle_thumb.jpg"/></a></td>
                            <td id="texte_description">Ailes fines (ce que ne montre pas la photo), longue queue.</td>
                            <td>
                                <audio src="sons/crecerelle.mp3" controls>Son</audio>
                                <div id="texte_description">
                                Cri : "kikikikikiki" (ne pas confondre avec le Torcol ni avec le Pic épeichette).
                            </td>
                            <td id="texte_description">Champs cultivés, prés, milieux ouverts.</td>
                        </tr>
                        <tr>
                            <td id="nom">Faucon pèlerin</td>
                            <td><a href="images/pelerin.jpg"><img src="vignettes/pelerin_thumb.jpg"/></a></td>
                            <td id="texte_description">Plus massif et ailes plus larges que le F. crécerelle.</td>
                            <td>
                                <audio src="sons/pelerin.mp3" controls>Son</audio>
                                <div id="texte_description">
                            </td>
                            <td id="texte_description">Falaises uniquement.</td>
                        </tr>
                        <tr>
                            <td id="nom">Fauvette à tête noire</td>
                            <td><a href="images/fatn.jpg"><img src="vignettes/fatn_thumb.jpg"/></a></td>
                            <td id="texte_description">Plumage gris avec un béret noir (marron clair pour la femelle et les jeunes de l'année).</td>
                            <td>
                                <audio src="sons/fatn.mp3" controls>Son</audio>
                                <div id="texte_description">
                                Chant caractéristique : d'abord son râpeux puis mélodie flûtée et coulante.
                            </td>
                            <td id="texte_description">Buissons et sous-bois - Très commune mais difficile à voir (cachée dans la frondaison).</td>
                        </tr>
                        <tr>
                            <td id="nom">Geai des chênes</td>
                            <td><a href="images/geai.jpg"><img src="vignettes/geai_thumb.jpg"/></a></td>
                            <td id="texte_description">Beau plumage contrasté.</td>
                            <td>
                                <audio src="sons/geai.mp3" controls>Son</audio>
                                <div id="texte_description">
                                Cri bien connu, l'un des plus désagréables de la création. Parfois imitations (buse, chouette…).
                            </td>
                            <td id="texte_description">Forêts et sous-bois.</td>
                        </tr>
                        <tr>
                            <td id="nom">Grimpereau des jardins</td>
                            <td><a href="images/grimpereau.jpg"><img src="vignettes/grimpereau_thumb.jpg"/></a></td>
                            <td id="texte_description">Un peu comme la sittelle, mais brun moucheté, et bec très fin et arqué.</td>
                            <td>
                                <audio src="sons/grimpereau.mp3" controls>Son</audio>
                                <div id="texte_description">
                                Chant aigu et montant.
                            </td>
                            <td id="texte_description">Partout où il y a des arbres. Également capable de parcourir les murs à la recherche d'insectes.</td>
                        </tr>
                        <tr>
                            <td id="nom">Grive draine</td>
                            <td><a href="images/draine.jpg"><img src="vignettes/draine_thumb.jpg"/></a></td>
                            <td id="texte_description">Un peu plus grande que le merle, brune.</td>
                            <td>
                                <audio src="sons/draine.mp3" controls>Son</audio>
                                <div id="texte_description">
                                Cri : "mitraillette". Chant : comme le Merle, mais phrases plus courtes et plus tristes (0:25).
                            </td>
                            <td id="texte_description">Bois, parcs. En hiver sur les arbres à gui, ou dans les prés exposés au soleil.</td>
                        </tr>
                        <tr>
                            <td id="nom">Grive musicienne</td>
                            <td><a href="images/musicienne.jpg"><img src="vignettes/musicienne_thumb.jpg"/></a></td>
                            <td id="texte_description">Plus petite que le merle, brune.</td>
                            <td>
                                <audio src="sons/musicienne.mp3" controls>Son</audio>
                                <div id="texte_description">
                                Chant caractérisé par la répétition d'un motif (variable) entre 3 et 5 fois en général.
                            </td>
                            <td id="texte_description">Haies, sous-bois.</td>
                        </tr>
                        <tr>
                            <td id="nom">Héron</td>
                            <td><a href="images/heron.jpg"><img src="vignettes/heron_thumb.jpg"/></a></td>
                            <td id="texte_description">Grand échassier de couleur grise. Cris audibles dans la vallée de l'Ozerain, même la nuit.</td>
                            <td>
                                <audio src="sons/heron.mp3" controls>Son</audio>
                                <div id="texte_description">
                                Cri sonore, aigre et croassant.
                            </td>
                            <td id="texte_description">Lieux humides, prairies.</td>
                        </tr>
                        <tr>
                            <td id="nom">Hibou grand-duc</td>
                            <td><a href="images/gd.jpg"><img src="vignettes/gd_thumb.jpg"/></a></td>
                            <td id="texte_description">Très grand (une grosse buse), yeux rouges.</td>
                            <td>
                                <audio src="sons/gd.mp3" controls>Son</audio>
                                <div id="texte_description">
                                Chant : "OUhou", avec 2e "ou" plus grave, mais pas toujours audible.
                                Rires "sataniques" (c'est le terme scientifique) : "hin-hin-hin" (0:43).
                            </td>
                            <td id="texte_description">Falaises uniquement.</td>
                        </tr>
                        <tr>
                            <td id="nom">Hirondelle de fenêtres</td>
                            <td><a href="images/hir_fen.jpg"><img src="vignettes/hir_fen_thumb.jpg"/></a></td>
                            <td id="texte_description">Ressemble à l'hirondelle rustique, mais plus trapue et vole plus haut.</td>
                            <td>
                                <audio src="sons/hir_fen.mp3" controls>Son</audio>
                                <div id="texte_description">
                            </td>
                            <td id="texte_description">Près des bâtiments.</td>
                        </tr>
                        <tr>
                            <td id="nom">Hirondelle rustique</td>
                            <td><a href="images/hir_rust.jpg"><img src="vignettes/hir_rust_thumb.jpg"/></a></td>
                            <td id="texte_description">Gorge rouge, filets à la queue. Vole à faible hauteur.</td>
                            <td>
                                <audio src="sons/hir_rust.mp3" controls>Son</audio>
                                <div id="texte_description">
                            </td>
                            <td id="texte_description">Près des bâtiments.</td>
                        </tr>
                        <tr>
                            <td id="nom">Huppe</td>
                            <td><a href="images/huppe.jpg"><img src="vignettes/huppe_thumb.jpg"/></a></td>
                            <td id="texte_description">Taille d'un merle. Très colorée, avec une huppe repliable sur la tête.</td>
                            <td>
                                <audio src="sons/huppe.mp3" controls>Son</audio>
                                <div id="texte_description">
                                "Oup-oup-oup" caractéristique, audible d'assez loin.
                            </td>
                            <td id="texte_description">Vergers, vieux arbres fruitiers. Très farouche.</td>
                        </tr>
                        <tr>
                            <td id="nom">Linotte</td>
                            <td><a href="images/linotte.jpg"><img src="vignettes/linotte_thumb.jpg"/></a></td>
                            <td id="texte_description">Mâle à teintes rousses et brunes, femelle brune.</td>
                            <td>
                                <audio src="sons/linotte.mp3" controls>Son</audio>
                                <div id="texte_description">
                                Chant : sons variés exécutés sans ordre.
                            </td>
                            <td id="texte_description">Buissons bas, peut nicher à quelques centimètres du sol</td>
                        </tr>
                        <tr>
                            <td id="nom">Loriot</td>
                            <td><a href="images/loriot.jpg"><img src="vignettes/loriot_thumb.jpg"/></a></td>
                            <td id="texte_description">Jaune citron pour le mâle, plus verdâtre pour la femelle</td>
                            <td>
                                <audio src="sons/loriot.mp3" controls>Son</audio>
                                <div id="texte_description">
                                Chant : très beaux sifflements coulants (mai/juin).
                            </td>
                            <td id="texte_description">Forêts de feuillus. Rarement visible malgré son plumage éclatant.</td>
                        </tr>
                        <tr>
                            <td id="nom">Martinet noir</td>
                            <td><a href="images/martinet.jpg"><img src="vignettes/martinet_thumb.jpg"/></a></td>
                            <td id="texte_description">Tout noir, ailes en faux, extrêmement rapide. Vole très haut.</td>
                            <td>
                                <audio src="sons/martinet.mp3" controls>Son</audio>
                                <div id="texte_description">
                                Cris suraigus.
                            </td>
                            <td id="texte_description">Toujours en vol à proximité des villages.</td>
                        </tr>
                        <tr>
                            <td id="nom">Merle noir</td>
                            <td><a href="images/merle.jpg"><img src="vignettes/merle_thumb.jpg"/></a></td>
                            <td id="texte_description">Bien connu : mâle tout noir avec un bec jaune.</td>
                            <td>
                                <audio src="sons/merle.mp3" controls>Son</audio>
                                <div id="texte_description">
                                Chant flûté bien connu au printemps.
                            </td>
                            <td id="texte_description">Partout.</td>
                        </tr>
                        <tr>
                            <td id="nom">Mésange à longue queue</td>
                            <td><a href="images/malq.jpg"><img src="vignettes/malq_thumb.jpg"/></a></td>
                            <td id="texte_description">Longue queue caractéristique.</td>
                            <td>
                                <audio src="sons/malq.mp3" controls>Son</audio>
                                <div id="texte_description">
                                Cri de contact "tsli, tsli" mouillé.
                            </td>
                            <td id="texte_description">Buissons. Surtout aperçue en hiver, se déplaçant de buisson en buisson par bandes de 6-10 individus. Commune.</td>
                        </tr>
                        <tr>
                            <td id="nom">Mésange bleue</td>
                            <td><a href="images/bleue.jpg"><img src="vignettes/bleue_thumb.jpg"/></a></td>
                            <td id="texte_description">Petite, très nerveuse. Béret bleu.</td>
                            <td>
                                <audio src="sons/bleue.mp3" controls>Son</audio>
                                <div id="texte_description">
                                Chant : ti, ti… tututututututu.
                            </td>
                            <td id="texte_description">Partout.</td>
                        </tr>
                        <tr>
                            <td id="nom">Mésange charbonnière</td>
                            <td><a href="images/charbo.jpg"><img src="vignettes/charbo_thumb.jpg"/></a></td>
                            <td id="texte_description">Assez grande, dessous jaune avec raie noire. Joues blanches très visibles.</td>
                            <td>
                                <audio src="sons/charbo.mp3" controls>Son</audio>
                                <div id="texte_description">
                                Chant : "ti-piu", ou "titi-piu". Vaste répertoire de cris.
                            </td>
                            <td id="texte_description">Partout.</td>
                        </tr>
                        <tr>
                            <td id="nom">Mésange huppée</td>
                            <td><a href="images/mesange_huppee.jpg"><img src="vignettes/mesange_huppee_thumb.jpg"/></a></td>
                            <td id="texte_description">Brune. La huppe et la tête richement décorée sont caractéristiques.</td>
                            <td>
                                <audio src="sons/mesange_huppee.mp3" controls>Son</audio>
                                <div id="texte_description">Cri caractéristique (0:00).</div>
                            </td>
                            <td id="texte_description">Assez rare. Surtout dans les conifères, souvent avec d'autres oiseaux (mésanges, roitelets…).</td>
                        </tr>
                        <tr>
                            <td id="nom">Mésange noire</td>
                            <td><a href="images/mesange_noire.jpg"><img src="vignettes/mesange_noire_thumb.jpg"/></a></td>
                            <td id="texte_description">Comme une M. charbonnière délavée, avec une large tache blanche sur la nuque et une tête plus grosse.</td>
                            <td>
                                <audio src="sons/mesange_noire.mp3" controls>Son</audio>
                                <div id="texte_description">Cris fins à tonalité mélancolique (0:00). Chant joyeux "sitiu-sitiu-sitiu" (0:25).</div>
                            </td>
                            <td id="texte_description">Rare, parfois à la mangeoire.</td>
                        </tr>
                        <tr>
                            <td id="nom">Mésange nonnette</td>
                            <td><a href="images/nonnette.jpg"><img src="vignettes/nonnette_thumb.jpg"/></a></td>
                            <td id="texte_description">Brune avec calotte noire.</td>
                            <td>
                                <audio src="sons/nonnette.mp3" controls>Son</audio>
                                <div id="texte_description">
                                Chant : "ti-ti-ti-ti-ti".
                            </td>
                            <td id="texte_description">Buissons.</td>
                        </tr>
                        <tr>
                            <td id="nom">Milan noir</td>
                            <td><a href="images/milan_noir.jpg"><img src="vignettes/milan_noir_thumb.jpg"/></a></td>
                            <td id="texte_description">Grand, très sombre, queue moyennement fourchue.</td>
                            <td>
                                <audio src="sons/milan_noir.mp3" controls>Son</audio>
                                <div id="texte_description">
                                Trémolos aigus.
                            </td>
                            <td id="texte_description">Milieux aquatiques.</td>
                        </tr>
                        <tr>
                            <td id="nom">Milan royal</td>
                            <td><a href="images/milan_royal.jpg"><img src="vignettes/milan_royal_thumb.jpg"/></a></td>
                            <td id="texte_description">Grand, queue rouge très fourchue.</td>
                            <td>
                                <audio src="sons/milan_royal.mp3" controls>Son</audio>
                                <div id="texte_description">
                                Cris aigus et "secoués" à la fin.
                            </td>
                            <td id="texte_description">Bocages, prés, vallons ouverts.</td>
                        </tr>
                        <tr>
                            <td id="nom">Moineau</td>
                            <td><a href="images/moineau.jpg"><img src="vignettes/moineau_thumb.jpg"/></a></td>
                            <td id="texte_description">Petit, marron, gros bec</td>
                            <td>
                                <audio src="sons/moineau.mp3" controls>Son</audio>
                                <div id="texte_description">
                            </td>
                            <td id="texte_description">Près des bâtiments.</td>
                        </tr>
                        <tr>
                            <td id="nom">Pic cendré</td>
                            <td><a href="images/pic_cendre.jpg"><img src="vignettes/pic_cendre_thumb.jpg"/></a></td>
                            <td id="texte_description">Vert sombre et gris.</td>
                            <td>
                                <audio src="sons/pic_cendre.mp3" controls>Son</audio>
                                <div id="texte_description">
                                Chant : ressemble au rire du pic vert, mais en plus triste, plus lent, et moins long.
                            </td>
                            <td id="texte_description">Bois et sous-bois. Rare.</td>
                        </tr>
                        <tr>
                            <td id="nom">Pic épeiche</td>
                            <td><a href="images/pic_epeiche.jpg"><img src="vignettes/pic_epeiche_thumb.jpg"/></a></td>
                            <td id="texte_description">Noir, blanc et rouge.</td>
                            <td>
                                <audio src="sons/pic_epeiche.mp3" controls>Son</audio>
                                <div id="texte_description">
                                Cri : "ki… ki…".
                            </td>
                            <td id="texte_description">Parcs, jardins, forêts.</td>
                        </tr>
                        <tr>
                            <td id="nom">Pic épeichette</td>
                            <td><a href="images/epeichette.jpg"><img src="vignettes/epeichette_thumb.jpg"/></a></td>
                            <td id="texte_description">Tout petit (taille d'un moineau), dos fortement marqueté de blanc.</td>
                            <td>
                                <audio src="sons/epeichette.mp3" controls>Son</audio>
                                <div id="texte_description">
                                Chant souvent imité par l'étourneau : "kikikikikikikiki" (cf. Faucon crécerelle et Torcol).
                            </td>
                            <td id="texte_description">Sur les arbres, bouts de branches.</td>
                        </tr>
                        <tr>
                            <td id="nom">Pic mar</td>
                            <td><a href="images/pic_mar.jpg"><img src="vignettes/pic_mar_thumb.jpg"/></a></td>
                            <td id="texte_description">Comme le pic épeiche mais flancs roses et calotte entièrement rouge.</td>
                            <td>
                                <audio src="sons/pic_mar.mp3" controls>Son</audio>
                                <div id="texte_description">
                                Très semblable au pic épeiche.
                            </td>
                            <td id="texte_description">Comme le pic épeiche.</td>
                        </tr>
                        <tr>
                            <td id="nom">Pic noir</td>
                            <td><a href="images/pic_noir.jpg"><img src="vignettes/pic_noir_thumb.jpg"/></a></td>
                            <td id="texte_description">Grand, tout noir avec une petite calotte rouge. Peut facilement être pris pour un corbeau.</td>
                            <td>
                                <audio src="sons/pic_noir.mp3" controls>Son</audio>
                                <div id="texte_description">
                            </td>
                            <td id="texte_description">Vastes forêts. Apprécie les souches pourries où il trouve sa nourriture.</td>
                        </tr>
                        <tr>
                            <td id="nom">Pic vert</td>
                            <td><a href="images/pic_vert.jpg"><img src="vignettes/pic_vert_thumb.jpg"/></a></td>
                            <td id="texte_description">Assez grand, vert avec calotte rouge.</td>
                            <td>
                                <audio src="sons/pic_vert.mp3" controls>Son</audio>
                                <div id="texte_description">
                                Cri caractéristique : "klu klu klu klu klu".
                            </td>
                            <td id="texte_description">Parcs, jardins, vergers.</td>
                        </tr>
                        <tr>
                            <td id="nom">Pie bavarde</td>
                            <td><a href="images/pie.jpg"><img src="vignettes/pie_thumb.jpg"/></a></td>
                            <td id="texte_description">Blanche et noire, longue queue, bec fort, vol lent et légèrement ondulant.</td>
                            <td>
                                <audio src="sons/pie.mp3" controls>Son</audio>
                                <div id="texte_description">
                                Jacassements.
                            </td>
                            <td id="texte_description">Forêts, parcs, jardins.</td>
                        </tr>
                        <tr>
                            <td id="nom">Pigeon ramier</td>
                            <td><a href="images/ramier.jpg"><img src="vignettes/ramier_thumb.jpg"/></a></td>
                            <td id="texte_description">Gros, barres alaires blanches bien visibles en vol.</td>
                            <td>
                                <audio src="sons/ramier.mp3" controls>Son</audio>
                                <div id="texte_description">
                                Chant : 5 "ou", avec le 2e plus haut et plus fort, les 2 derniers bas et faibles.
                            </td>
                            <td id="texte_description">Bois et champs. Très commun.</td>
                        </tr>
                        <tr>
                            <td id="nom">Pinson des arbres</td>
                            <td><a href="images/pinson.jpg"><img src="vignettes/pinson_thumb.jpg"/></a></td>
                            <td id="texte_description">Barre alaire blanche caractéristique et visible de loin.</td>
                            <td>
                                <audio src="sons/pinson.mp3" controls>Son</audio>
                                <div id="texte_description">
                                Chant typique et omniprésent au printemps : cascade de notes descendantes.
                            </td>
                            <td id="texte_description">Partout où il y a des arbres.</td>
                        </tr>
                        <tr>
                            <td id="nom">Pinson du Nord</td>
                            <td><a href="images/pinson_nord.jpg"><img src="vignettes/pinson_nord_thumb.jpg"/></a></td>
                            <td id="texte_description">Couleurs orangées pour le mâle.</td>
                            <td>
                                <audio src="sons/pinson_nord.mp3" controls>Son</audio>
                                <div id="texte_description">
                                Cri nasillard.
                            </td>
                            <td id="texte_description">Rare, seulement en hiver.</td>
                        </tr>
                        <tr>
                            <td id="nom">Pouillot véloce</td>
                            <td><a href="images/pv.jpg"><img src="vignettes/pv_thumb.jpg"/></a></td>
                            <td id="texte_description">Teinte générale assez neutre (marron à olive), discret sourcil clair.</td>
                            <td>
                                <audio src="sons/pv.mp3" controls>Son</audio>
                                <div id="texte_description">
                                Chant : "chif-chaf", qui lui a valu son nom anglais (chiffchaff), omniprésent au printemps.
                            </td>
                            <td id="texte_description">Buissons et sous-bois - Très commun mais difficile à voir (caché dans la frondaison)</td>
                        </tr>
                        <tr>
                            <td id="nom">Roitelet à triple bandeau</td>
                            <td><a href="images/rtb.jpg"><img src="vignettes/rtb_thumb.jpg"/></a></td>
                            <td id="texte_description">Semblable au roitelet huppé, mais avec sourcil blanc bien visible.
                                Crête orange chez le mâle.
                            </td>
                            <td>
                                <audio src="sons/rtb.mp3" controls>Son</audio>
                                <div id="texte_description">
                                Chant : répétition rapide d'un même son fin avec léger accroissement de l'intensité, légère montée, et parfois bref trille final.
                            </td>
                            <td id="texte_description">Buissons, lierre, haies de charme des terrasses.</td>
                        </tr>
                        <tr>
                            <td id="nom">Roitelet huppé</td>
                            <td><a href="images/roitelet.jpg"><img src="vignettes/roitelet_thumb.jpg"/></a></td>
                            <td id="texte_description">Oiseau minuscule (moins de 10 grammes). Teinte vert olivâtre, raie jaune bordée de noir.</td>
                            <td>
                                <audio src="sons/roitelet.mp3" controls>Son</audio>
                                <div id="texte_description">
                                Chant : motif aigu répété 4 à 6 fois, avec un trille à la fin.
                            </td>
                            <td id="texte_description">Apprécie surtout les arbres résineux.</td>
                        </tr>
                        <tr>
                            <td id="nom">Rossignol</td>
                            <td></td>
                            <td id="texte_description">Marron, sans caractère particulier.</td>
                            <td>
                                <audio src="sons/rossi.mp3" controls>Son</audio>
                                <div id="texte_description">
                                Très beau chant, audible tant de jour que de nuit, par les chaudes nuits de fin de printemps.
                            </td>
                            <td id="texte_description">Buissons épais. Difficile à voir.</td>
                        </tr>
                        <tr>
                            <td id="nom">Rougegorge</td>
                            <td><a href="images/rougegorge.jpg"><img src="vignettes/rougegorge_thumb.jpg"/></a></td>
                            <td id="texte_description">Rond, marron, gorge rouge. Souvent peu farouche.</td>
                            <td>
                                <audio src="sons/rougegorge.mp3" controls>Son</audio>
                                <div id="texte_description">
                                Chant timide.
                            </td>
                            <td id="texte_description">Buissons, potager, jardins.</td>
                        </tr>
                        <tr>
                            <td id="nom">Rougequeue à front blanc</td>
                            <td><a href="images/rqafb.jpg"><img src="vignettes/rqafb_thumb.jpg"/></a></td>
                            <td id="texte_description">Ressemble au R. noir, mais tout le dessous est rouge, et un sourcil blanc et large barre le front du mâle.</td>
                            <td>
                                <audio src="sons/rqafb.mp3" controls>Son</audio>
                                <div id="texte_description">
                            </td>
                            <td id="texte_description">Arbres.</td>
                        </tr>
                        <tr>
                            <td id="nom">Rougequeue noir</td>
                            <td><a href="images/rq.jpg"><img src="vignettes/rq_thumb.jpg"/></a></td>
                            <td id="texte_description">Noir (mâle) ou brun (femelle, jeune), queue rouge.</td>
                            <td>
                                <audio src="sons/rq.mp3" controls>Son</audio>
                                <div id="texte_description">
                                Chant : trille rocailleux.
                            </td>
                            <td id="texte_description">Bâtiments.</td>
                        </tr>
                        <tr>
                            <td id="nom">Serin</td>
                            <td><a href="images/serin.jpg"><img src="vignettes/serin_thumb.jpg"/></a></td>
                            <td id="texte_description">Petit, jaune et brun.</td>
                            <td>
                                <audio src="sons/serin.mp3" controls>Son</audio>
                                <div id="texte_description">
                                Chant : long trille métallique monocorde.
                            </td>
                            <td id="texte_description">Mâle chanteur souvent posté sur un arbre ou un mur au printemps.</td>
                        </tr>
                        <tr>
                            <td id="nom">Sittelle torchepot</td>
                            <td><a href="images/sittelle.jpg"><img src="vignettes/sittelle_thumb.jpg"/></a></td>
                            <td id="texte_description">Comme un petit pic. Évolue le long des troncs d'arbres, parfois la tête en bas.
                                Bleu-gris dessus, rose-orange dessous.
                            </td>
                            <td>
                                <audio src="sons/sittelle.mp3" controls>Son</audio>
                                <div id="texte_description">
                                Cri (0:00) : "tui, tui" montant. Chant : "tiou, tiou, tiou" descendant (0:23). 
                            </td>
                            <td id="texte_description">Partout où il y a des arbres.</td>
                        </tr>
                        <tr>
                            <td id="nom">Torcol</td>
                            <td><a href="images/torcol.jpg"><img src="vignettes/torcol_thumb.jpg"/></a></td>
                            <td id="texte_description">Gris et marron, parfaitement camouflé et immobile sur les branches.</td>
                            <td>
                                <audio src="sons/torcol.mp3" controls>Son</audio>
                                <div id="texte_description">
                                Le chant du mâle se fait parfois entendre dans le parc au printemps (ne pas confondre avec le Faucon crécerelle ou le Pic épeichette).
                            </td>
                            <td id="texte_description">Vergers.</td>
                        </tr>
                        <tr>
                            <td id="nom">Tourterelle des bois</td>
                            <td><a href="images/tourterelle_bois.jpg"><img src="vignettes/tourterelle_bois_thumb.jpg"/></a></td>
                            <td id="texte_description">Petite tourterelle colorée et contrastée. Bords de la queue blancs bien visibles en vol.</td>
                            <td>
                                <audio src="sons/tourterelle_bois.mp3" controls>Son</audio>
                                <div id="texte_description">
                                Le chant est un roucoulement très doux.
                            </td>
                            <td id="texte_description">Bosquets. Très discrète. Uniquement en été.</td>
                        </tr>
                        <tr>
                            <td id="nom">Tourterelle turque</td>
                            <td><a href="images/turque.jpg"><img src="vignettes/turque_thumb.jpg"/></a></td>
                            <td id="texte_description">Taille moyennes, entièrement grise avec des nuances. Collier noir entier chez les adultes, partiel chez les jeunes.</td>
                            <td>
                                <audio src="sons/turque.mp3" controls>Son</audio>
                                <div id="texte_description">
                                Le chant est un roucoulement bien connu.
                            </td>
                            <td id="texte_description">Toujours proche des humains, généralement dans les villes et villages.</td>
                        </tr>
                        <tr>
                            <td id="nom">Troglodyte mignon</td>
                            <td><a href="images/troglo.jpg"><img src="vignettes/troglo_thumb.jpg"/></a></td>
                            <td id="texte_description">Tout petit, marron, queue dressée à la perpendiculaire du corps, souvent penché en avant.</td>
                            <td>
                                <audio src="sons/troglo.mp3" controls>Son</audio>
                                <div id="texte_description">
                                Chant : incroyablement fort pour un si petit oiseau. Série de sons métalliques et de trilles, avec toujours des répétitions de motifs. Cri d'alarme (0:43) : "tr-tr-tr".
                            </td>
                            <td id="texte_description">Forêts et sous-bois.</td>
                        </tr>
                        <tr>
                            <td id="nom">Verdier</td>
                            <td><a href="images/verdier.jpg"><img src="vignettes/verdier_thumb.jpg"/></a></td>
                            <td id="texte_description">Massif, vert olive, gros bec, bord de l'aile jaune.</td>
                            <td>
                                <audio src="sons/verdier.mp3" controls>Son</audio>
                                <div id="texte_description">
                            </td>
                            <td id="texte_description">Grands arbres.</td>
                        </tr>
                    </table>
                    <a href="https://github.com/BrRoman/ornitho"><img id="logo_github" src="images/github.png" title="View my source code on Github"></a>
                </article>
            </section>
            <div id="overlay"></div>
        </div>
        <script src="scripts/jquery-3.3.1.min.js"></script>
        <script src="scripts/pictures.js"></script>
        <script src="scripts/animate.js"></script>
    </body>
</html>

