<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="icon" sizes="200x200" href="images/ornitho.png" />
        <link rel="stylesheet" href="styles.css" />
        <title>Ornitho - Voir le parc autrement</title>
    </head>
    <body>
        <div id="bloc_page">
            <header>
                <div id="bandeau">
                    <div id="carrousel">
                        <img src="bandeaux/crecerelle.jpg"/>
                        <img src="bandeaux/gd.jpg"/>
                        <img src="bandeaux/grues.jpg"/>
                        <img src="bandeaux/anax.jpg"/>
                        <img src="bandeaux/milan_royal.jpg"/>
                        <img src="bandeaux/oedipode.jpg"/>
                    </div>
                    <div id="texte_bandeau">
                        <h1><a href="index.html">Ornitho</a></h1>
                        <h2>Voir le parc autrement…</h2>
                    </div>
                </div>
            </header>
            <section>
                <nav>
                    <ul>
                        <li><a  href="index.html">ACCUEIL</a></li>
                        <li><a  href="oiseaux.html">OISEAUX</a></li>
                        <li><a  href="mammiferes.html">MAMMIFÈRES</a></li>
                        <li><a  href="reptiles.html">REPTILES</a></li>
                        <li><a  href="amphibiens.html">AMPHIBIENS</a></li>
                        <li><a  href="libellules.html">LIBELLULES</a></li>
                        <li><a class="current_link" href="papillons.html">PAPILLONS</a></li>
                        <li><a  href="sauterelles.html">SAUTERELLES</a></li>
                        <li><a  href="galerie.html">GALERIE</a></li>
                    </ul>
                </nav>
                <article>
                    <h1>Papillons</h1>
                    <table>
                        <tr>
                            <th>Nom</th>
                            <th>Image</th>
                            <th>Description</th>
                        </tr>
                        <tr>
                            <td id="nom">Belle-Dame</td>
                            <td><a href="images/belle_dame.jpg"><img src="vignettes/belle_dame_thumb.jpg"/></a></td>
                            <td id="texte_description">Ailes oranges ;<br>bout des ailes noir avec des taches blanches.</td>
                        </tr>
                        <tr>
                            <td id="nom">Citron</td>
                            <td><a href="images/citron.jpg"><img src="vignettes/citron_thumb.jpg"/></a></td>
                            <td id="texte_description">Jaune avec une petite pointe au bout des ailes.</td>
                        </tr>
                        <tr>
                            <td id="nom">Flambé</td>
                            <td><a href="images/flambe.jpg"><img src="vignettes/flambe_thumb.jpg"/></a></td>
                            <td id="texte_description">Grand, blanc et rayé.</td>
                        </tr>
                        <tr>
                            <td id="nom">Machaon</td>
                            <td><a href="images/machaon.jpg"><img src="vignettes/machaon_thumb.jpg"/></a></td>
                            <td id="texte_description">Grand, arrière des ailes sombre.</td>
                        </tr>
                        <tr>
                            <td id="nom">Paon du jour</td>
                            <td><a href="images/paon.jpg"><img src="vignettes/paon_thumb.jpg"/></a></td>
                            <td id="texte_description">2 grands ocelles bleus au bout des ailes.</td>
                        </tr>
                        <tr>
                            <td id="nom">Petite tortue</td>
                            <td><a href="images/petite_tortue.jpg"><img src="vignettes/petite_tortue_thumb.jpg"/></a></td>
                            <td id="texte_description">Couleurs vives :<br>orange avec trois taches noires au milieu des ailes<br>et une petite tache blanche au bout.</td>
                        </tr>
                        <tr>
                            <td id="nom">Piéride du chou</td>
                            <td><a href="images/pieride_chou.jpg"><img src="vignettes/pieride_chou_thumb.jpg"/></a></td>
                            <td id="texte_description">La plus grande Piéride, grandes tâches noires</td>
                        </tr>
                        <tr>
                            <td id="nom">Piéride du navet</td>
                            <td><a href="images/pieride_navet.jpg"><img src="vignettes/pieride_navet_thumb.jpg"/></a></td>
                            <td id="texte_description">Blanc avec des nervures soulignées de gris.</td>
                        </tr>
                    </table>
                    <a href="https://github.com/BrRoman/ornitho"><img id="logo_github" src="images/github.png" title="View my source code on Github"></a>
                </article>
            </section>
            <div id="overlay"></div>
        </div>
        <script src="scripts/jquery-3.3.1.min.js"></script>
        <script src="scripts/pictures.js"></script>
        <script src="scripts/animate.js"></script>
    </body>
</html>

