<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="icon" sizes="200x200" href="images/ornitho.png" />
        <link rel="stylesheet" href="styles.css" />
        <title>Ornitho - Voir le parc autrement</title>
    </head>
    <body>
        <div id="bloc_page">
            <header>
                <div id="bandeau">
                    <div id="carrousel">
                        <img src="bandeaux/crecerelle.jpg"/>
                        <img src="bandeaux/gd.jpg"/>
                        <img src="bandeaux/grues.jpg"/>
                        <img src="bandeaux/anax.jpg"/>
                        <img src="bandeaux/milan_royal.jpg"/>
                        <img src="bandeaux/oedipode.jpg"/>
                    </div>
                    <div id="texte_bandeau">
                        <h1><a href="index.html">Ornitho</a></h1>
                        <h2>Voir le parc autrement…</h2>
                    </div>
                </div>
            </header>
            <section>
                <nav>
                    <ul>
                        <li><a  href="index.html">ACCUEIL</a></li>
                        <li><a  href="oiseaux.html">OISEAUX</a></li>
                        <li><a  href="mammiferes.html">MAMMIFÈRES</a></li>
                        <li><a class="current_link" href="reptiles.html">REPTILES</a></li>
                        <li><a  href="amphibiens.html">AMPHIBIENS</a></li>
                        <li><a  href="libellules.html">LIBELLULES</a></li>
                        <li><a  href="papillons.html">PAPILLONS</a></li>
                        <li><a  href="sauterelles.html">SAUTERELLES</a></li>
                        <li><a  href="galerie.html">GALERIE</a></li>
                    </ul>
                </nav>
                <article>
                    <h1>Reptiles</h1>
                    <table>
                        <tr>
                            <th>Nom</th>
                            <th>Image</th>
                            <th>Description</th>
                            <th>Où le voir ?</th>
                        </tr>
                        <tr>
                            <td id="nom">Couleuvre à collier</td>
                            <td><a href="images/coul_a_collier.jpg"><img src="vignettes/coul_a_collier_thumb.jpg"/></a></td>
                            <td id="texte_description">Avec une tâche blanche à l'oreille. Queue à rétrécissement progressif.</td>
                            <td id="texte_description">Milieux humides.</td>
                        </tr>
                        <tr>
                            <td id="nom">Couleuvre d'Esculape</td>
                            <td><a href="images/coul_esculape.jpg"><img src="vignettes/coul_esculape_thumb.jpg"/></a></td>
                            <td id="texte_description">Grande couleuvre sombre.</td>
                            <td id="texte_description"></td>
                        </tr>
                        <tr>
                            <td id="nom">Couleuvre verte et jaune</td>
                            <td><a href="images/coul_verte_jaune.jpg"><img src="vignettes/coul_verte_jaune_thumb.jpg"/></a></td>
                            <td id="texte_description">Noire tachetée de jaune.</td>
                            <td id="texte_description">Tous types d'habitat (terre, eau, arbres).</td>
                        </tr>
                        <tr>
                            <td id="nom">Lézard des murailles</td>
                            <td><a href="images/lezard.jpg"><img src="vignettes/lezard_thumb.jpg"/></a></td>
                            <td id="texte_description">Bien connu.</td>
                            <td id="texte_description">Partout.</td>
                        </tr>
                        <tr>
                            <td id="nom">Vipère aspic</td>
                            <td><a href="images/vipere.jpg"><img src="vignettes/vipere_thumb.jpg"/></a></td>
                            <td id="texte_description">Tête triangulaire, queue à rétrécissement brusque.</td>
                            <td id="texte_description">Endroits secs et caillouteux.</td>
                        </tr>
                    </table>
                    <a href="https://github.com/BrRoman/ornitho"><img id="logo_github" src="images/github.png" title="View my source code on Github"></a>
                </article>
            </section>
            <div id="overlay"></div>
        </div>
        <script src="scripts/jquery-3.3.1.min.js"></script>
        <script src="scripts/pictures.js"></script>
        <script src="scripts/animate.js"></script>
    </body>
</html>

