<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="icon" sizes="200x200" href="images/ornitho.png" />
        <link rel="stylesheet" href="styles.css" />
        <title>Ornitho - Voir le parc autrement</title>
    </head>
    <body>
        <div id="bloc_page">
            <header>
                <div id="bandeau">
                    <div id="carrousel">
                        <img src="bandeaux/crecerelle.jpg"/>
                        <img src="bandeaux/gd.jpg"/>
                        <img src="bandeaux/grues.jpg"/>
                        <img src="bandeaux/anax.jpg"/>
                        <img src="bandeaux/milan_royal.jpg"/>
                        <img src="bandeaux/oedipode.jpg"/>
                    </div>
                    <div id="texte_bandeau">
                        <h1><a href="index.html">Ornitho</a></h1>
                        <h2>Voir le parc autrement…</h2>
                    </div>
                </div>
            </header>
            <section>
                <nav>
                    <ul>
                        <li><a  href="index.html">ACCUEIL</a></li>
                        <li><a  href="oiseaux.html">OISEAUX</a></li>
                        <li><a  href="mammiferes.html">MAMMIFÈRES</a></li>
                        <li><a  href="reptiles.html">REPTILES</a></li>
                        <li><a  href="amphibiens.html">AMPHIBIENS</a></li>
                        <li><a  href="libellules.html">LIBELLULES</a></li>
                        <li><a  href="papillons.html">PAPILLONS</a></li>
                        <li><a class="current_link" href="sauterelles.html">SAUTERELLES</a></li>
                        <li><a  href="galerie.html">GALERIE</a></li>
                    </ul>
                </nav>
                <article>
                    <h1>Sauterelles</h1>
                    <table>
                        <tr>
                            <th>Nom</th>
                            <th>Image</th>
                            <th>Description</th>
                            <th>Son</th>
                            <th>Où le voir ?</th>
                        </tr>
                        <tr>
                            <td id="nom">Decticelle cendrée</td>
                            <td><a href="images/decticelle_cendree.jpg"><img src="vignettes/decticelle_cendree_thumb.jpg"/></a></td>
                            <td id="texte_description">Trapue avec de grandes antennes.</td>
                            <td>
                                <div id="texte_description">
                            </td>
                            <td id="texte_description">Clairières et bordures de forêts.</td>
                        </tr>
                        <tr>
                            <td id="nom">Grande sauterelle verte</td>
                            <td><a href="images/gde_sauterelle_verte.jpg"><img src="vignettes/gde_sauterelle_verte_thumb.jpg"/></a></td>
                            <td id="texte_description">Sauterelle grande et verte :-)</td>
                            <td>
                                <audio src="sons/gde_sauterelle_verte.mp3" controls>Son</audio>
                                <div id="texte_description">
                            </td>
                            <td id="texte_description"></td>
                        </tr>
                        <tr>
                            <td id="nom">Criquet mélodieux</td>
                            <td><a href="images/criquet_melodieux.jpg"><img src="vignettes/criquet_melodieux_thumb.jpg"/></a></td>
                            <td id="texte_description">Petit criquet de couleur brun à vert, très commun et envahissant.</td>
                            <td>
                                <audio src="sons/criquet_melodieux.mp3" controls>Son</audio>
                                <div id="texte_description">Stridulation en crescendo.
                            </td>
                            <td id="texte_description">Prairies, talus.</td>
                        </tr>
                        <tr>
                            <td id="nom">Grillon champêtre</td>
                            <td><a href="images/grillon_champetre.jpg"><img src="vignettes/grillon_champetre_thumb.jpg"/></a></td>
                            <td id="texte_description">Bien connu, souvent entendu mais très difficile à voir.</td>
                            <td>
                                <audio src="sons/grillon_champetre.mp3" controls>Son</audio>
                                <div id="texte_description">
                            </td>
                            <td id="texte_description">Prairies. Creuse un terrier.</td>
                        </tr>
                        <tr>
                            <td id="nom">Grillon des bois</td>
                            <td><a href="images/grillon_bois.jpg"><img src="vignettes/grillon_bois_thumb.jpg"/></a></td>
                            <td id="texte_description">Plus petit que le grillon champêtre. Dessin caractéristique sur la tête. Rarement visible.</td>
                            <td>
                                <audio src="sons/grillon_bois.mp3" controls>Son</audio>
                                <div id="texte_description">
                                "Rrruuu, rrruu" très doux et paisible (ce que ne rend pas l'enregistrement).
                            </td>
                            <td id="texte_description">Forêts, sous-bois. Toujours caché dans la litière de feuilles et de brindilles mortes.</td>
                        </tr>
                        <tr>
                            <td id="nom">Mante religieuse</td>
                            <td><a href="images/mante.jpg"><img src="vignettes/mante_thumb.jpg"/></a></td>
                            <td id="texte_description">Bien connue, grande et verte</td>
                            <td>
                                <div id="texte_description">
                            </td>
                            <td id="texte_description">Milieux herbacés.</td>
                        </tr>
                        <tr>
                            <td id="nom">Œdipode turquoise</td>
                            <td><a href="images/oedipode.jpg"><img src="vignettes/oedipode_thumb.jpg"/></a></td>
                            <td id="texte_description">Criquet assez gros, parfaitement camouflé. Le "turquoise" n'apparaît qu'en vol.</td>
                            <td>
                                <div id="texte_description">
                            </td>
                            <td id="texte_description">Terrasses ensoleillées.</td>
                        </tr>
                    </table>
                    <a href="https://github.com/BrRoman/ornitho"><img id="logo_github" src="images/github.png" title="View my source code on Github"></a>
                </article>
            </section>
            <div id="overlay"></div>
        </div>
        <script src="scripts/jquery-3.3.1.min.js"></script>
        <script src="scripts/pictures.js"></script>
        <script src="scripts/animate.js"></script>
    </body>
</html>

