{% extends 'hotellerie/main_hotellerie.html' %}

{% load static %}
{% load widget_tweaks %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href={% url 'hotellerie:main_home' %}>Hôtellerie</a></li>

    {% if personne %}
        <li class="breadcrumb-item"><a href={% url 'hotellerie:personnes_list' first_letter %}>Personnes</a></li>
        <li class="breadcrumb-item"><a href={% url 'hotellerie:personnes_details' personne.id %}>{{ personne }}</a></li>
        <li class="breadcrumb-item active">Modifier</li>
    {% else %}
        <li class="breadcrumb-item active"><a href={% url 'hotellerie:personnes_list' %}>Personnes</a></li>
        <li class="breadcrumb-item active">Créer</li>
    {% endif %}
{% endblock breadcrumbs %}

{% block content %}
    {% if personne %}
        <h2>Modifier {{ personne }}</h2>
    {% else %}
        <h2>Créer une nouvelle personne</h2>
    {% endif %}

    <form method="post" novalidate>
        {% csrf_token %}

        <!-- Qualité -->
        <div class="form-group">
            {{ form.qualite.label_tag }}

            {% if form.is_bound %}
                {% if form.qualite.errors %}
                    {% render_field form.qualite class="custom-select form-control is-invalid" %}
                    {% for error in form.qualite.errors %}
                        <div class="invalid-feedback d-block">
                            {{ error }}
                        </div>
                    {% endfor %}
                {% else %}
                    {% render_field form.qualite class="custom-select form-control is-valid" %}
                {% endif %}
            {% else %}
                {% render_field form.qualite class="custom-select form-control" %}
            {% endif %}

            {% if form.qualite.help_text %}
                <small class="form-text text-muted">
                    {{ form.qualite.help_text }}
                </small>
            {% endif %}
        </div>


        <!-- Prénom -->
        <div class="form-group">
            {{ form.prenom.label_tag }}

            {% if form.is_bound %}
                {% if form.prenom.errors %}
                    {% render_field form.prenom class="form-control is-invalid" %}
                    {% for error in form.prenom.errors %}
                        <div class="invalid-feedback" style="display: block;">
                            {{ error }}
                        </div>
                    {% endfor %}
                {% else %}
                    {% render_field form.prenom class="form-control is-valid" %}
                {% endif %}
            {% else %}
                {% render_field form.prenom class="form-control" %}
            {% endif %}

            {% if form.prenom.help_text %}
                <small class="form-text text-muted">
                    {{ form.prenom.help_text }}
                </small>
            {% endif %}
        </div>


        <!-- Nom -->
        <div class="form-group">
            {{ form.nom.label_tag }}

            {% if form.is_bound %}
                {% if form.nom.errors %}
                    {% render_field form.nom class="form-control is-invalid" %}
                    {% for error in form.nom.errors %}
                        <div class="invalid-feedback" style="display: block;">
                            {{ error }}
                        </div>
                    {% endfor %}
                {% else %}
                    {% render_field form.nom class="form-control is-valid" %}
                {% endif %}
            {% else %}
                {% render_field form.nom class="form-control" %}
            {% endif %}

            {% if form.nom.help_text %}
                <small class="form-text text-muted">
                    {{ form.nom.help_text }}
                </small>
            {% endif %}
        </div>


        <!-- Moine Flav -->
        <div class="d-flex my-2">
            {% if form.is_bound %}
                {% if form.moine_flav.errors %}
                    {% render_field form.moine_flav class="form-control is-invalid" style="width: auto;" %}
                    {% for error in form.moine_flav.errors %}
                        <div class="invalid-feedback" style="display: block;">
                            {{ error }}
                        </div>
                    {% endfor %}
                {% else %}
                    {% render_field form.moine_flav class="form-control is-valid" style="width: auto;" %}
                {% endif %}
            {% else %}
                {% render_field form.moine_flav class="form-control" style="width: auto;" %}
            {% endif %}

            {% if form.moine_flav.help_text %}
                <small class="form-text text-muted">
                    {{ form.moine_flav.help_text }}
                </small>
            {% endif %}

            {{ form.moine_flav.label_tag }}
        </div>


        <!-- Est Père suiveur -->
        <div class="d-flex my-2">
            {% if form.is_bound %}
                {% if form.est_pere_suiveur.errors %}
                    {% render_field form.est_pere_suiveur class="form-control is-invalid" style="width: auto;" %}
                    {% for error in form.est_pere_suiveur.errors %}
                        <div class="invalid-feedback" style="display: block;">
                            {{ error }}
                        </div>
                    {% endfor %}
                {% else %}
                    {% render_field form.est_pere_suiveur class="form-control is-valid" style="width: auto;" %}
                {% endif %}
            {% else %}
                {% render_field form.est_pere_suiveur class="form-control" style="width: auto;" %}
            {% endif %}
            
            {% if form.est_pere_suiveur.help_text %}
                <small class="form-text text-muted">
                    {{ form.est_pere_suiveur.help_text }}
                </small>
            {% endif %}

            {{ form.est_pere_suiveur.label_tag }}
        </div>


        <!-- Père suiveur -->
        <div class="form-group">
            {{ form.pere_suiveur.label_tag }}

            {% if form.is_bound %}
                {% if form.pere_suiveur.errors %}
                    {% render_field form.pere_suiveur class="custom-select form-control is-invalid" %}
                    {% for error in form.pere_suiveur.errors %}
                        <div class="invalid-feedback" style="display: block;">
                            {{ error }}
                        </div>
                    {% endfor %}
                {% else %}
                    {% render_field form.pere_suiveur class="custom-select form-control is-valid" %}
                {% endif %}
            {% else %}
                {% render_field form.pere_suiveur class="custom-select form-control" %}
            {% endif %}

            {% if form.pere_suiveur.help_text %}
                <small class="form-text text-muted">
                    {{ form.pere_suiveur.help_text }}
                </small>
            {% endif %}
        </div>


        <!-- Mails -->
        <table class="table table-borderless table-sm">
            <label class="m-0 p-0">Mails :</label>

            {{ mails_formset.management_form }}

            {% for mail_form in mails_formset.forms %}
                <tr class="formset_row_mail">
                    <td class="border-0 row m-0">
                        <div>
                            {% for hidden in mail_form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}

                            {{ mail_form.mail }}
                            <div class="invalid-feedback" style="display: block;">
                                {{ mail_form.mail.errors.as_ul }}
                            </div>
                        </div>

                        <div class="ml-2">{{ mail_form.DELETE }}</div>
                    </td>
                </tr>
            {% endfor %}
        </table>


        <!-- Téléphones -->
        <table class="table table-borderless table-sm">
            <label class="m-0 p-0">Téléphones :</label>

            {{ tels_formset.management_form }}

            {% for tel_form in tels_formset.forms %}
                <tr class="formset_row_tel">
                    <td class="border-0 row m-0">
                        <div>
                            {% for hidden in tel_form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}
    
                            {{ tel_form.num_tel }}
                            <div class="invalid-feedback" style="display: block;">
                                {{ tel_form.num_tel.errors.as_ul }}
                            </div>
                        </div>

                        <div class="ml-2">{{ tel_form.DELETE }}</div>
                    </td>
                </tr>
            {% endfor %}
        </table>


        <!-- Adresses postales -->
        <table class="table table-borderless table-sm" style="border-collapse: separate;">
            <label class="m-0 p-0">Adresses postales :</label>

            {{ adresses_formset.management_form }}

            {% for adresse_form in adresses_formset.forms %}
                <tr class="formset_row_adresse">
                    <td class=" border rounded p-2 m-2">
                        {% for hidden in adresse_form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}
                        
                        <!-- Rue -->
                        <div class="form-group mb-0">
                            {{ adresse_form.rue.label_tag }}
                            {{ adresse_form.rue }}
                            <div class="invalid-feedback" style="display: block;">
                                {{ adresse_form.rue.errors.as_ul }}
                            </div>
                        </div>

                        <div class="row m-0">
                            <!-- Code postal -->
                            <div class="form-group mb-0">
                                {{ adresse_form.code_postal.label_tag }}
                                {{ adresse_form.code_postal }}
                                <div class="invalid-feedback" style="display: block;">
                                    {{ adresse_form.code_postal.errors.as_ul }}
                                </div>
                            </div>

                            <!-- Ville -->
                            <div class="form-group ml-2 mb-0">
                                {{ adresse_form.ville.label_tag }}
                                {{ adresse_form.ville }}
                                <div class="invalid-feedback" style="display: block;">
                                    {{ adresse_form.ville.errors.as_ul }}
                                </div>
                            </div>

                            <!-- Pays -->
                            <div class="form-group ml-2 mb-0">
                                {{ adresse_form.pays.label_tag }}
                                {{ adresse_form.pays }}
                                <div class="invalid-feedback" style="display: block;">
                                    {{ adresse_form.pays.errors.as_ul }}
                                </div>
                            </div>
                        </div>

                        {{ adresse_form.DELETE }}
                    </td>
                </tr>
            {% endfor %}
        </table>


        <!-- Est prêtre -->
        <div class="d-flex my-2">
            {% if form.is_bound %}
                {% if form.pretre.errors %}
                    {% render_field form.pretre class="form-control is-invalid" style="width: auto;" %}
                    {% for error in form.pretre.errors %}
                        <div class="invalid-feedback" style="display: block;">
                            {{ error }}
                        </div>
                    {% endfor %}
                {% else %}
                    {% render_field form.pretre class="form-control is-valid" style="width: auto;" %}
                {% endif %}
            {% else %}
                {% render_field form.pretre class="form-control" style="width: auto;" %}
            {% endif %}
            
            {% if form.pretre.help_text %}
                <small class="form-text text-muted">
                    {{ form.pretre.help_text }}
                </small>
            {% endif %}

            {{ form.pretre.label_tag }}
        </div>


        <!-- Messe forme -->
        <div class="form-group">
            {{ form.messe_forme.label_tag }}

            {% if form.is_bound %}
                {% if form.messe_forme.errors %}
                    {% render_field form.messe_forme class="custom-select form-control is-invalid" %}
                    {% for error in form.messe_forme.errors %}
                        <div class="invalid-feedback d-block">
                            {{ error }}
                        </div>
                    {% endfor %}
                {% else %}
                    {% render_field form.messe_forme class="custom-select form-control is-valid" %}
                {% endif %}
            {% else %}
                {% render_field form.messe_forme class="custom-select form-control" %}
            {% endif %}

            {% if form.messe_forme.help_text %}
                <small class="form-text text-muted">
                    {{ form.messe_forme.help_text }}
                </small>
            {% endif %}
        </div>


        <!-- Messe langue -->
        <div class="form-group">
            {{ form.messe_langue.label_tag }}

            {% if form.is_bound %}
                {% if form.messe_langue.errors %}
                    {% render_field form.messe_langue class="custom-select form-control is-invalid" %}
                    {% for error in form.messe_langue.errors %}
                        <div class="invalid-feedback d-block">
                            {{ error }}
                        </div>
                    {% endfor %}
                {% else %}
                    {% render_field form.messe_langue class="custom-select form-control is-valid" %}
                {% endif %}
            {% else %}
                {% render_field form.messe_langue class="custom-select form-control" %}
            {% endif %}

            {% if form.messe_langue.help_text %}
                <small class="form-text text-muted">
                    {{ form.messe_langue.help_text }}
                </small>
            {% endif %}
        </div>


        <!-- Commentaire -->
        <div class="form-group">
            {{ form.commentaire.label_tag }}

            {% if form.is_bound %}
                {% if form.commentaire.errors %}
                    {% render_field form.commentaire class="form-control is-invalid" %}
                    {% for error in form.commentaire.errors %}
                        <div class="invalid-feedback" style="display: block;">
                            {{ error }}
                        </div>
                    {% endfor %}
                {% else %}
                    {% render_field form.commentaire class="form-control is-valid" %}
                {% endif %}
            {% else %}
                {% render_field form.commentaire class="form-control" %}
            {% endif %}
            
            {% if form.commentaire.help_text %}
                <small class="form-text text-muted">
                    {{ form.commentaire.help_text }}
                </small>
            {% endif %}
        </div>


        <!-- Validation -->
        <div class="d-flex justify-content-center">
            {% if personne %}
                <a href={% url 'hotellerie:personnes_details' personne.id %} class="btn btn-primary mx-3">Annuler</a>
            {% else %}
                <a href={% url 'hotellerie:personnes_list' %} class="btn btn-primary mx-3">Annuler</a>
            {% endif %}
            <button type="submit" class="btn btn-success mx-3">Valider</button>
        </div>
    </form>
{% endblock %}

{% block javascript %}
    <script src={% static "js/jquery.formset.js" %}></script>
    <script src={% static "js/formsets.js" %}></script>
{% endblock javascript %}
