{% extends 'main.html' %}

{% load static %}
{% load widget_tweaks %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href={% url 'editor:home' %}>Editor</a></li>
    <li class="breadcrumb-item active">Images</li>
{% endblock breadcrumbs %}

{% block content %}
    <h2 class="mb-4 green font-weight-bold">Images</h2>

    <a href={% url 'editor:image_create' %} class="btn btn-primary mb-3">Créer une nouvelle image</a>

    <div class="col-10">
        <table class="table table-sm table-bordered">
            {% for image in images %}
                <tr>
                    <td>{{ image.ref_tm|default_if_none:'' }}</td>
                    <td>{{ image.ean|default_if_none:'' }}</td>
                    <td>{{ image.recto_img|default_if_none:'' }}</td>
                    <td>{{ image.verso_img|default_if_none:'' }}</td>
                    <td><a href={% url 'editor:image_details' image.pk %}><span class="fas fa-eye" title="Voir les détails"></span></a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock content %}
