{% extends 'main.html' %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href={% static "css/tempusdominus-bootstrap-4.min.css" %}>
{% endblock css %}

{% block breadcrumbs %}
    <li class="breadcrumb-item active">Agenda</li>
{% endblock breadcrumbs %}

{% block content %}
    <div class="d-flex align-self-stretch align-items-center mx-5">
        <!-- Title -->
        <div id="title" class="form-inline mr-auto">
            <h1>Agenda</h1>
            <a href={% url 'billets:create' %}><p class="mr-auto" title="Ajouter un billet"><span class="fas fa-plus-circle"></span></p></a>
            <a href={% url 'billets:list' %} title="Switch to list view"><span class="fas fa-list ml-2"></span></a>
        </div>

        <!-- Tools -->
        <div id="tools" class="d-flex align-items-center ml-auto">
            <span id="previous_week" class="fas fa-angle-double-left mr-3" title="Semaine précédente"></span>

            <div class="input-group" id="datepicker">
                <span class="fas fa-calendar-alt" data-target="#datepicker" data-toggle="datetimepicker" title="Calendrier"></span>
            </div>

            <span id="next_week" class="fas fa-angle-double-right ml-3" title="Semaine suivante"></span>
        </div>
    </div>

    <!-- Agenda -->
    <div id="agenda" class="d-flex justify-content-center align-items-start">        
        <table class="col-11">
            <tr>
                {% for date, data in days.items %}
                    <td class="col-1">
                        <div class="d-flex flex-column justify-content-start align-items-center">
                            <!-- Weekday -->
                            <div class="{% if data.current %}current_weekday{% else %}weekday{% endif %}">{% cycle 'Dimanche' 'Lundi' 'Mardi' 'Mercredi' 'Jeudi' 'Vendredi' 'Samedi' %}</div>

                            <!-- Date-->
                            <div class="{% if data.current %}current_date{% else %}date{% endif %}">{{ date }}</div>

                            <!-- Data -->
                            <div class="column_data d-flex flex-column justify-content-start align-items-center">
                                {% for billet in data.billets %}
                                    <a href={% url 'billets:detail' billet.id %}>
                                        <div class="rendez_vous">
                                            {{ billet.when|date:"H:i" }} - {{ billet.titre }}
                                        </div>
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                    </td>
                {% endfor %}
            </tr>
        </table>
    </div>
{% endblock content %}
