{% extends 'main.html' %}

{% block breadcrumbs %}
    <li class="breadcrumb-item active">Rendez-vous</li>
{% endblock breadcrumbs %}

{% block content %}
    <div class="d-flex align-self-stretch align-items-center mx-5">
        <div id="title" class="form-inline mr-auto">
            <h1>Rendez-vous</h1>
            <a href={% url 'billets:create' %}><p class="mr-auto" title="Ajouter un billet"><span class="fas fa-plus-circle"></span></p></a>
            <a href={% url 'billets:home' %} title="Switch to agenda view"><span class="fas fa-calendar-week ml-2"></span></a>
        </div>

        <div>
            <div class="ml-auto">{% include 'pagination.html' %}</div>
        </div>
    </div>

    <table class="table table-bordered table-sm w-50">
        {% for billet in billets %}
            <tr>
                <td>{{ billet }}</td>
                <td>{{ billet.when }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock content %}