{% extends 'main.html' %}

{% load static %}

{% block css %}
    <link rel="stylesheet/less" href={% static 'accenteur/css/accenteur.less' %}>
{% endblock css %}

{% block breadcrumbs %}
    <li class="breadcrumb-item active">Accenteur</li>
{% endblock breadcrumbs %}

{% block content %}
        <h2 class="text-center grey-dark mb-2">
            Accenteur
        </h2>

        <h4 class="text-center grey-dark mb-3">
            Numericum instrumentum ad latinos textus accentizandos
        </h4>

        <div class="d-flex">
            <div id="input" contenteditable="true" spellcheck="false" class="text_area"><span style="color: grey;">Hic scribe textum tuum…</span></div>
            <div id="output" contenteditable="true" spellcheck="false" class="text_area"></div>
        </div>

        <div id="overlay">
            <img src={% static 'accenteur/img/wait.gif' %} style="margin-bottom:20px"></br>
            <p>Afferuntur elementa…</p>
        </div>

        <div id="choice_dialog"></div>
{% endblock content %}

{% block javascript %}
    <script src={% static 'accenteur/js/data.js' %}></script>
    <script src={% static 'accenteur/js/accenteur_core.js' %}></script>
    <script src={% static 'accenteur/js/accenteur_main.js' %}></script>
{% endblock javascript %}
